# Retrieval part
## Design VectorDB using ChromaDB
## On Spider Train Data

## Installation

In [ ]:
!apt install libomp-dev
!pip install faiss
!pip install faiss-gpu
!pip install -U sentence-transformers
!pip install openai
!pip install chromadb

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  libomp-14-dev libomp5-14
Suggested packages:
  libomp-14-doc
The following NEW packages will be installed:
  libomp-14-dev libomp-dev libomp5-14
0 upgraded, 3 newly installed, 0 to remove and 45 not upgraded.
Need to get 738 kB of archives.
After this operation, 8,991 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 libomp5-14 amd64 1:14.0.0-1ubuntu1.1 [389 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 libomp-14-dev amd64 1:14.0.0-1ubuntu1.1 [347 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/universe amd64 libomp-dev amd64 1:14.0-55~exp2 [3,074 B]
Fetched 738 kB in 0s (5,546 kB/s)
Selecting previously unselected package libomp5-14:amd64.
(Reading database ... 123586 files and directories currently installed.)
Preparing to unpack .../libomp5-14_1%3a14.0.0-1ubuntu1.1_amd64.deb ...
Unpacking libomp5-14:amd64 (1:14.0.0-1ubuntu1.1) ...
Selecting previously unselected package libomp-14-dev.
Preparing to unpack .../libomp-14-dev_1%3a14.0.0-1ubuntu1.1_amd64.deb ...
Unpacking libomp-14-dev (1:14.0.0-1ubuntu1.1) ...
Selecting previously unselected package libomp-dev:amd64.
Preparing to unpack .../libomp-dev_1%3a14.0-55~exp2_amd64.deb ...
Unpacking libomp-dev:amd64 (1:14.0-55~exp2) ...
Setting up libomp5-14:amd64 (1:14.0.0-1ubuntu1.1) ...
Setting up libomp-14-dev (1:14.0.0-1ubuntu1.1) ...
Setting up libomp-dev:amd64 (1:14.0-55~exp2) ...
Processing triggers for libc-bin (2.35-0ubuntu3.4) ...
/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

ERROR: Could not find a version that satisfies the requirement faiss (from versions: none)
ERROR: No matching distribution found for faiss
Collecting faiss-gpu
  Downloading faiss_gpu-1.7.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (85.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 85.5/85.5 MB 7.4 MB/s eta 0:00:00
Installing collected packages: faiss-gpu
Successfully installed faiss-gpu-1.7.2
Collecting sentence-transformers
  Downloading sentence_transformers-3.0.1-py3-none-any.whl (227 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 227.1/227.1 kB 5.1 MB/s eta 0:00:00
Requirement already satisfied: transformers<5.0.0,>=4.34.0 in /usr/local/lib/python3.10/dist-packages (from sentence-transformers) (4.42.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from sentence-transformers) (4.66.4)
Requirement already satisfied: torch>=1.11.0 in /usr/local/lib/python3.10/dist-packages (from sentence-transformers) (2.3.1+cu121)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from sentence-transformers) (1.25.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from sentence-transformers) (1.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from sentence-transformers) (1.11.4)
Requirement already satisfied: huggingface-hub>=0.15.1 in /usr/local/lib/python3.10/dist-packages (from sentence-transformers) (0.23.5)
Requirement already satisfied: Pillow in /usr/local/lib/python3.10/dist-packages (from sentence-transformers) (9.4.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.15.1->sentence-transformers) (3.15.4)
Requirement already satisfied: fsspec>=2023.5.0 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.15.1->sentence-transformers) (2023.6.0)
Requirement already satisfied: packaging>=20.9 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.15.1->sentence-transformers) (24.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.15.1->sentence-transformers) (6.0.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.15.1->sentence-transformers) (2.31.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.15.1->sentence-transformers) (4.12.2)
Requirement already satisfied: sympy in /usr/local/lib/python3.10/dist-packages (from torch>=1.11.0->sentence-transformers) (1.13.0)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from torch>=1.11.0->sentence-transformers) (3.3)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from torch>=1.11.0->sentence-transformers) (3.1.4)
Collecting nvidia-cuda-nvrtc-cu12==12.1.105 (from torch>=1.11.0->sentence-transformers)
  Using cached nvidia_cuda_nvrtc_cu12-12.1.105-py3-none-manylinux1_x86_64.whl (23.7 MB)
Collecting nvidia-cuda-runtime-cu12==12.1.105 (from torch>=1.11.0->sentence-transformers)
  Using cached nvidia_cuda_runtime_cu12-12.1.105-py3-none-manylinux1_x86_64.whl (823 kB)
Collecting nvidia-cuda-cupti-cu12==12.1.105 (from torch>=1.11.0->sentence-transformers)
  Using cached nvidia_cuda_cupti_cu12-12.1.105-py3-none-manylinux1_x86_64.whl (14.1 MB)
Collecting nvidia-cudnn-cu12==8.9.2.26 (from torch>=1.11.0->sentence-transformers)
  Using cached nvidia_cudnn_cu12-8.9.2.26-py3-none-manylinux1_x86_64.whl (731.7 MB)
Collecting nvidia-cublas-cu12==12.1.3.1 (from torch>=1.11.0->sentence-transformers)
  Using cached nvidia_cublas_cu12-12.1.3.1-py3-none-manylinux1_x86_64.whl (410.6 MB)
Collecting nvidia-cufft-cu12==11.0.2.54 (from torch>=1.11.0->sentence-transformers)
  Using cached nvidia_cufft_cu12-11.0.2.54-py3-none-manylinux1_x86_64.whl (121.6 MB)
Collecting nvidia-curand-cu12==10.3.2.106 (from torch>=1.11.0->sentence-transformers)
  Using cached nvidia_curand_cu12-10.3.2.106-py3-none-manylinux1_x86_64.whl (56.5 MB)
Collecting nvidia-cusolver-cu12==11.4.5.107 (from torch>=1.11.0->sentence-transformers)
  Using cached nvidia_cusolver_cu12-11.4.5.107-py3-none-manylinux1_x86_64.whl (124.2 MB)
Collecting nvidia-cusparse-cu12==12.1.0.106 (from torch>=1.11.0->sentence-transformers)
  Using cached nvidia_cusparse_cu12-12.1.0.106-py3-none-manylinux1_x86_64.whl (196.0 MB)
Collecting nvidia-nccl-cu12==2.20.5 (from torch>=1.11.0->sentence-transformers)
  Using cached nvidia_nccl_cu12-2.20.5-py3-none-manylinux2014_x86_64.whl (176.2 MB)
Collecting nvidia-nvtx-cu12==12.1.105 (from torch>=1.11.0->sentence-transformers)
  Using cached nvidia_nvtx_cu12-12.1.105-py3-none-manylinux1_x86_64.whl (99 kB)
Requirement already satisfied: triton==2.3.1 in /usr/local/lib/python3.10/dist-packages (from torch>=1.11.0->sentence-transformers) (2.3.1)
Collecting nvidia-nvjitlink-cu12 (from nvidia-cusolver-cu12==11.4.5.107->torch>=1.11.0->sentence-transformers)
  Downloading nvidia_nvjitlink_cu12-12.5.82-py3-none-manylinux2014_x86_64.whl (21.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.3/21.3 MB 43.0 MB/s eta 0:00:00
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.10/dist-packages (from transformers<5.0.0,>=4.34.0->sentence-transformers) (2024.5.15)
Requirement already satisfied: safetensors>=0.4.1 in /usr/local/lib/python3.10/dist-packages (from transformers<5.0.0,>=4.34.0->sentence-transformers) (0.4.3)
Requirement already satisfied: tokenizers<0.20,>=0.19 in /usr/local/lib/python3.10/dist-packages (from transformers<5.0.0,>=4.34.0->sentence-transformers) (0.19.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->sentence-transformers) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->sentence-transformers) (3.5.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->torch>=1.11.0->sentence-transformers) (2.1.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub>=0.15.1->sentence-transformers) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub>=0.15.1->sentence-transformers) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub>=0.15.1->sentence-transformers) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub>=0.15.1->sentence-transformers) (2024.7.4)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from sympy->torch>=1.11.0->sentence-transformers) (1.3.0)
Installing collected packages: nvidia-nvtx-cu12, nvidia-nvjitlink-cu12, nvidia-nccl-cu12, nvidia-curand-cu12, nvidia-cufft-cu12, nvidia-cuda-runtime-cu12, nvidia-cuda-nvrtc-cu12, nvidia-cuda-cupti-cu12, nvidia-cublas-cu12, nvidia-cusparse-cu12, nvidia-cudnn-cu12, nvidia-cusolver-cu12, sentence-transformers
Successfully installed nvidia-cublas-cu12-12.1.3.1 nvidia-cuda-cupti-cu12-12.1.105 nvidia-cuda-nvrtc-cu12-12.1.105 nvidia-cuda-runtime-cu12-12.1.105 nvidia-cudnn-cu12-8.9.2.26 nvidia-cufft-cu12-11.0.2.54 nvidia-curand-cu12-10.3.2.106 nvidia-cusolver-cu12-11.4.5.107 nvidia-cusparse-cu12-12.1.0.106 nvidia-nccl-cu12-2.20.5 nvidia-nvjitlink-cu12-12.5.82 nvidia-nvtx-cu12-12.1.105 sentence-transformers-3.0.1
Collecting openai
  Downloading openai-1.36.1-py3-none-any.whl (328 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 328.8/328.8 kB 6.5 MB/s eta 0:00:00
Requirement already satisfied: anyio<5,>=3.5.0 in /usr/local/lib/python3.10/dist-packages (from openai) (3.7.1)
Requirement already satisfied: distro<2,>=1.7.0 in /usr/lib/python3/dist-packages (from openai) (1.7.0)
Collecting httpx<1,>=0.23.0 (from openai)
  Downloading httpx-0.27.0-py3-none-any.whl (75 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 75.6/75.6 kB 4.4 MB/s eta 0:00:00
Requirement already satisfied: pydantic<3,>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from openai) (2.8.2)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from openai) (1.3.1)
Requirement already satisfied: tqdm>4 in /usr/local/lib/python3.10/dist-packages (from openai) (4.66.4)
Requirement already satisfied: typing-extensions<5,>=4.7 in /usr/local/lib/python3.10/dist-packages (from openai) (4.12.2)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.10/dist-packages (from anyio<5,>=3.5.0->openai) (3.7)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio<5,>=3.5.0->openai) (1.2.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from httpx<1,>=0.23.0->openai) (2024.7.4)
Collecting httpcore==1.* (from httpx<1,>=0.23.0->openai)
  Downloading httpcore-1.0.5-py3-none-any.whl (77 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.9/77.9 kB 6.2 MB/s eta 0:00:00
Collecting h11<0.15,>=0.13 (from httpcore==1.*->httpx<1,>=0.23.0->openai)
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 6.7 MB/s eta 0:00:00
Requirement already satisfied: annotated-types>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1.9.0->openai) (0.7.0)
Requirement already satisfied: pydantic-core==2.20.1 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1.9.0->openai) (2.20.1)
Installing collected packages: h11, httpcore, httpx, openai
Successfully installed h11-0.14.0 httpcore-1.0.5 httpx-0.27.0 openai-1.36.1
Collecting chromadb
  Downloading chromadb-0.5.4-py3-none-any.whl (581 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 581.4/581.4 kB 5.0 MB/s eta 0:00:00
Requirement already satisfied: build>=1.0.3 in /usr/local/lib/python3.10/dist-packages (from chromadb) (1.2.1)
Requirement already satisfied: pydantic>=1.9 in /usr/local/lib/python3.10/dist-packages (from chromadb) (2.8.2)
Collecting chroma-hnswlib==0.7.5 (from chromadb)
  Downloading chroma_hnswlib-0.7.5-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.4/2.4 MB 17.0 MB/s eta 0:00:00
Collecting fastapi>=0.95.2 (from chromadb)
  Downloading fastapi-0.111.1-py3-none-any.whl (92 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.2/92.2 kB 11.4 MB/s eta 0:00:00
Collecting uvicorn[standard]>=0.18.3 (from chromadb)
  Downloading uvicorn-0.30.3-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 kB 7.0 MB/s eta 0:00:00
Requirement already satisfied: numpy<2.0.0,>=1.22.5 in /usr/local/lib/python3.10/dist-packages (from chromadb) (1.25.2)
Collecting posthog>=2.4.0 (from chromadb)
  Downloading posthog-3.5.0-py2.py3-none-any.whl (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.3/41.3 kB 4.7 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.5.0 in /usr/local/lib/python3.10/dist-packages (from chromadb) (4.12.2)
Collecting onnxruntime>=1.14.1 (from chromadb)
  Downloading onnxruntime-1.18.1-cp310-cp310-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (6.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.8/6.8 MB 52.1 MB/s eta 0:00:00
Collecting opentelemetry-api>=1.2.0 (from chromadb)
  Downloading opentelemetry_api-1.25.0-py3-none-any.whl (59 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.9/59.9 kB 5.4 MB/s eta 0:00:00
Collecting opentelemetry-exporter-otlp-proto-grpc>=1.2.0 (from chromadb)
  Downloading opentelemetry_exporter_otlp_proto_grpc-1.25.0-py3-none-any.whl (18 kB)
Collecting opentelemetry-instrumentation-fastapi>=0.41b0 (from chromadb)
  Downloading opentelemetry_instrumentation_fastapi-0.46b0-py3-none-any.whl (11 kB)
Collecting opentelemetry-sdk>=1.2.0 (from chromadb)
  Downloading opentelemetry_sdk-1.25.0-py3-none-any.whl (107 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 107.0/107.0 kB 11.5 MB/s eta 0:00:00
Requirement already satisfied: tokenizers>=0.13.2 in /usr/local/lib/python3.10/dist-packages (from chromadb) (0.19.1)
Collecting pypika>=0.48.9 (from chromadb)
  Downloading PyPika-0.48.9.tar.gz (67 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 67.3/67.3 kB 8.0 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: tqdm>=4.65.0 in /usr/local/lib/python3.10/dist-packages (from chromadb) (4.66.4)
Collecting overrides>=7.3.1 (from chromadb)
  Downloading overrides-7.7.0-py3-none-any.whl (17 kB)
Requirement already satisfied: importlib-resources in /usr/local/lib/python3.10/dist-packages (from chromadb) (6.4.0)
Requirement already satisfied: grpcio>=1.58.0 in /usr/local/lib/python3.10/dist-packages (from chromadb) (1.64.1)
Collecting bcrypt>=4.0.1 (from chromadb)
  Downloading bcrypt-4.1.3-cp39-abi3-manylinux_2_28_x86_64.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 21.7 MB/s eta 0:00:00
Requirement already satisfied: typer>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from chromadb) (0.12.3)
Collecting kubernetes>=28.1.0 (from chromadb)
  Downloading kubernetes-30.1.0-py2.py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 60.6 MB/s eta 0:00:00
Requirement already satisfied: tenacity>=8.2.3 in /usr/local/lib/python3.10/dist-packages (from chromadb) (8.5.0)
Requirement already satisfied: PyYAML>=6.0.0 in /usr/local/lib/python3.10/dist-packages (from chromadb) (6.0.1)
Collecting mmh3>=4.0.1 (from chromadb)
  Downloading mmh3-4.1.0-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (67 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 67.6/67.6 kB 7.9 MB/s eta 0:00:00
Collecting orjson>=3.9.12 (from chromadb)
  Downloading orjson-3.10.6-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (141 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 141.1/141.1 kB 16.5 MB/s eta 0:00:00
Requirement already satisfied: httpx>=0.27.0 in /usr/local/lib/python3.10/dist-packages (from chromadb) (0.27.0)
Requirement already satisfied: packaging>=19.1 in /usr/local/lib/python3.10/dist-packages (from build>=1.0.3->chromadb) (24.1)
Requirement already satisfied: pyproject_hooks in /usr/local/lib/python3.10/dist-packages (from build>=1.0.3->chromadb) (1.1.0)
Requirement already satisfied: tomli>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from build>=1.0.3->chromadb) (2.0.1)
Collecting starlette<0.38.0,>=0.37.2 (from fastapi>=0.95.2->chromadb)
  Downloading starlette-0.37.2-py3-none-any.whl (71 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 71.9/71.9 kB 8.7 MB/s eta 0:00:00
Collecting fastapi-cli>=0.0.2 (from fastapi>=0.95.2->chromadb)
  Downloading fastapi_cli-0.0.4-py3-none-any.whl (9.5 kB)
Requirement already satisfied: jinja2>=2.11.2 in /usr/local/lib/python3.10/dist-packages (from fastapi>=0.95.2->chromadb) (3.1.4)
Collecting python-multipart>=0.0.7 (from fastapi>=0.95.2->chromadb)
  Downloading python_multipart-0.0.9-py3-none-any.whl (22 kB)
Collecting email_validator>=2.0.0 (from fastapi>=0.95.2->chromadb)
  Downloading email_validator-2.2.0-py3-none-any.whl (33 kB)
Requirement already satisfied: anyio in /usr/local/lib/python3.10/dist-packages (from httpx>=0.27.0->chromadb) (3.7.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from httpx>=0.27.0->chromadb) (2024.7.4)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.10/dist-packages (from httpx>=0.27.0->chromadb) (1.0.5)
Requirement already satisfied: idna in /usr/local/lib/python3.10/dist-packages (from httpx>=0.27.0->chromadb) (3.7)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from httpx>=0.27.0->chromadb) (1.3.1)
Requirement already satisfied: h11<0.15,>=0.13 in /usr/local/lib/python3.10/dist-packages (from httpcore==1.*->httpx>=0.27.0->chromadb) (0.14.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from kubernetes>=28.1.0->chromadb) (1.16.0)
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.10/dist-packages (from kubernetes>=28.1.0->chromadb) (2.8.2)
Requirement already satisfied: google-auth>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from kubernetes>=28.1.0->chromadb) (2.27.0)
Requirement already satisfied: websocket-client!=0.40.0,!=0.41.*,!=0.42.*,>=0.32.0 in /usr/local/lib/python3.10/dist-packages (from kubernetes>=28.1.0->chromadb) (1.8.0)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kubernetes>=28.1.0->chromadb) (2.31.0)
Requirement already satisfied: requests-oauthlib in /usr/local/lib/python3.10/dist-packages (from kubernetes>=28.1.0->chromadb) (1.3.1)
Requirement already satisfied: oauthlib>=3.2.2 in /usr/local/lib/python3.10/dist-packages (from kubernetes>=28.1.0->chromadb) (3.2.2)
Requirement already satisfied: urllib3>=1.24.2 in /usr/local/lib/python3.10/dist-packages (from kubernetes>=28.1.0->chromadb) (2.0.7)
Collecting coloredlogs (from onnxruntime>=1.14.1->chromadb)
  Downloading coloredlogs-15.0.1-py2.py3-none-any.whl (46 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 46.0/46.0 kB 5.8 MB/s eta 0:00:00
Requirement already satisfied: flatbuffers in /usr/local/lib/python3.10/dist-packages (from onnxruntime>=1.14.1->chromadb) (24.3.25)
Requirement already satisfied: protobuf in /usr/local/lib/python3.10/dist-packages (from onnxruntime>=1.14.1->chromadb) (3.20.3)

# Reading dataset

In [ ]:
import json
import re
import faiss
import numpy as np
from sentence_transformers import SentenceTransformer
from openai import OpenAI
import chromadb

/usr/local/lib/python3.10/dist-packages/sentence_transformers/cross_encoder/CrossEncoder.py:11: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm, trange

In [ ]:
# Load the Spider dataset
train_path = "/content/drive/MyDrive/spider/spider/train_spider.json"
with open(train_path, 'r') as f:
    spider_train_data = json.load(f)

In [ ]:
spider_train_data[0]

{'db_id': 'department_management',
 'query': 'SELECT count(*) FROM head WHERE age  >  56',
 'query_toks': ['SELECT',
  'count',
  '(',
  '*',
  ')',
  'FROM',
  'head',
  'WHERE',
  'age',
  '>',
  '56'],
 'query_toks_no_value': ['select',
  'count',
  '(',
  '*',
  ')',
  'from',
  'head',
  'where',
  'age',
  '>',
  'value'],
 'question': 'How many heads of the departments are older than 56 ?',
 'question_toks': ['How',
  'many',
  'heads',
  'of',
  'the',
  'departments',
  'are',
  'older',
  'than',
  '56',
  '?'],
 'sql': {'from': {'table_units': [['table_unit', 1]], 'conds': []},
  'select': [False, [[3, [0, [0, 0, False], None]]]],
  'where': [[False, 3, [0, [0, 10, False], None], 56.0, None]],
  'groupBy': [],
  'having': [],
  'orderBy': [],
  'limit': None,
  'intersect': None,
  'union': None,
  'except': None}}

## Get OpenAI Embedding

In [ ]:
client_open_ai = OpenAI(api_key='OPEN_AI_API_KEY')

# Function to get embeddings using OpenAI
def get_openai_embedding(text):
    response = client_open_ai.embeddings.create(
                model="text-embedding-ada-002",
                input=text,
            )
    return np.array(response.data[0].embedding)

# Full Implementation and Testing

## Obtain Train Data Embeddings

In [ ]:
questions = [item['question'] for item in spider_train_data]

In [ ]:
# Get embeddings for the original questions
original_question_embeddings = [get_openai_embedding(q) for q in questions]

In [ ]:
len(original_question_embeddings)

7000

In [ ]:
# Save embeddings for later
save_path = "/content/drive/MyDrive/spider/"
np.save(save_path + 'original_question_embeddings.npy', np.array(original_question_embeddings))

## Store Quesrion-Query Pairs in VectorDB

In [ ]:
# Initialize ChromaDB client
client = chromadb.Client()

# Create a new collection in ChromaDB
collection = client.get_or_create_collection(name='final')


# Prepare data and store in ChromaDB
ids = []
embeddings = []
metadata = []

for idx, item in enumerate(spider_train_data):
    original_question = item['question']
    sql_query = item['query']
    db_id = item['db_id']



    skeleton_embedding = original_question_embeddings[idx]

    ids.append(str(idx))
    embeddings.append(skeleton_embedding.tolist())
    metadata.append({
        'original_question': original_question,
        'sql_query': sql_query,
        'db_id':db_id
    })

# Adjust metadata to ensure all values are strings
adjusted_metadata = []
for item in metadata:
    adjusted_metadata.append({
        'original_question': item['original_question'],
        'sql_query': item['sql_query'],
        'db_id': item['db_id']
    })

collection.add(
    ids=ids,
    embeddings=embeddings,
    metadatas=adjusted_metadata
)

## Retrieve Similar Examples

In [ ]:
# Retrieve similar queries
def retrieve_similar_queries(question, k=4):
    skeleton_embedding = get_openai_embedding(question)

    results = collection.query(
        query_embeddings=[skeleton_embedding.tolist()],
        n_results=k
    )

    #return results
    retrieved_metadata = [result for result in results['metadatas'][0]]

    return retrieved_metadata

In [ ]:
retrieve_similar_queries("Which employees were hired after September 7th, 1987?")

[{'db_id': 'hr_1',
  'original_question': 'Which employees were hired after September 7th, 1987?',
  'sql_query': "SELECT * FROM employees WHERE hire_date  >  '1987-09-07'"},
 {'db_id': 'hr_1',
  'original_question': 'display those employees who joined after 7th September, 1987.',
  'sql_query': "SELECT * FROM employees WHERE hire_date  >  '1987-09-07'"},
 {'db_id': 'hr_1',
  'original_question': 'What are the job ids and dates of hire for employees hired after November 5th, 2007 and before July 5th, 2009?',
  'sql_query': "SELECT job_id ,  hire_date FROM employees WHERE hire_date BETWEEN '2007-11-05' AND '2009-07-05'"},
 {'db_id': 'hr_1',
  'original_question': 'What is all the information about employees hired before June 21, 2002?',
  'sql_query': "SELECT * FROM employees WHERE hire_date  <  '2002-06-21'"}]

# Get all similar examples to test data

In [ ]:
import json
import numpy as np
from openai import OpenAI
import chromadb

In [ ]:
# Load the Spider dataset
train_path = "/content/drive/MyDrive/spider/spider/train_spider.json"
test_path = "/content/drive/MyDrive/spider/spider/test_data/dev.json"
with open(train_path, 'r') as f:
    spider_train_data = json.load(f)

with open(test_path, 'r') as f:
    spider_test_data = json.load(f)

In [ ]:
len(spider_test_data)

2147

In [ ]:
client_open_ai = OpenAI(api_key='OPEN_AI_API_KEY')

# Function to get embeddings using OpenAI
def get_openai_embedding(text):
    response = client_open_ai.embeddings.create(
                model="text-embedding-ada-002",
                input=text,
            )
    return np.array(response.data[0].embedding)

In [ ]:
# Load saved embeddings
save_path = "/content/drive/MyDrive/spider/"
original_question_embeddings = np.load(save_path + 'original_question_embeddings.npy')
original_question_embeddings = list(original_question_embeddings)

In [ ]:
# Initialize ChromaDB client
client = chromadb.Client()

# Create a new collection in ChromaDB
collection = client.get_or_create_collection(name='text-to-sql')


# Prepare data and store in ChromaDB
ids = []
embeddings = []
metadata = []

for idx, item in enumerate(spider_train_data):
    original_question = item['question']
    sql_query = item['query']
    db_id = item['db_id']



    embedding = original_question_embeddings[idx]

    ids.append(str(idx))
    embeddings.append(embedding.tolist())
    metadata.append({
        'original_question': original_question,
        'sql_query': sql_query,
        'db_id':db_id
    })

# Adjust metadata to ensure all values are strings
adjusted_metadata = []
for item in metadata:
    adjusted_metadata.append({
        'original_question': item['original_question'],
        'sql_query': item['sql_query'],
        'db_id': item['db_id']
    })

collection.add(
    ids=ids,
    embeddings=embeddings,
    metadatas=adjusted_metadata
)

In [ ]:
# Retrieve similar queries
def retrieve_similar_queries(question, k=4):
    skeleton_embedding = get_openai_embedding(question)

    results = collection.query(
        query_embeddings=[skeleton_embedding.tolist()],
        n_results=k
    )

    #return results
    retrieved_metadata = [result for result in results['metadatas'][0]]

    return skeleton_embedding, retrieved_metadata

In [ ]:
# removing the new line characters
with open('/content/drive/MyDrive/spider/results/sampled_tables_gpt3.5_v2.txt') as f:
    lines = [line.rstrip() for line in f]

In [ ]:
# Find similar questions for test data
#test_questions = [item['question'] for item in spider_test_data]

# Set k to the number of similar questions you want to retrieve
k = 5
test_similar_queries = []
test_emb = []
idx = 0
for item in lines:
    emb, similar_queries = retrieve_similar_queries(item, k)
    entry_dict = {
        "id" : idx,
        "similar_q" : similar_queries
    }
    idx +=1
    test_similar_queries.append(entry_dict)
    test_emb.append(emb)

In [ ]:
test_similar_queries[10]

{'id': 10,
 'similar_q': [{'db_id': 'soccer_1',
   'original_question': 'What is the average weight of all players?',
   'sql_query': 'SELECT avg(weight) FROM Player'},
  {'db_id': 'entrepreneur',
   'original_question': 'What are the names of people in ascending order of weight?',
   'sql_query': 'SELECT Name FROM People ORDER BY Weight ASC'},
  {'db_id': 'entrepreneur',
   'original_question': 'Return the names of people, ordered by weight ascending.',
   'sql_query': 'SELECT Name FROM People ORDER BY Weight ASC'},
  {'db_id': 'soccer_1',
   'original_question': 'What is the maximum and minimum height of all players?',
   'sql_query': 'SELECT max(weight) ,  min(weight) FROM Player'},
  {'db_id': 'candidate_poll',
   'original_question': 'how many people are there whose weight is higher than 85 for each gender?',
   'sql_query': 'SELECT count(*) ,  sex FROM people WHERE weight  >  85 GROUP BY sex'}]}

In [ ]:
# Save embeddings for later
save_path = "/content/drive/MyDrive/spider/"
np.save(save_path + 'test_question_embeddings.npy', np.array(test_emb))

In [ ]:
# Saving similar questions for test data
similarity_path = "/content/drive/MyDrive/spider/test_similar_questions/"
with open(similarity_path + 'revised_all_similar_queries.json', 'w') as fp:
    json.dump(test_similar_queries, fp)

In [ ]:
len(test_similar_queries)

2147

In [ ]:
# Saving similar questions for test data
similarity_path = "/content/drive/MyDrive/spider/test_similar_questions/"
with open(similarity_path + 'all_similar_questions.json', 'w') as fp:
    json.dump(test_similar_queries_dict, fp)

# Obtain similar samples for sampled test data

In [ ]:
import json

# Load the Spider dataset
test_path = "/content/drive/MyDrive/spider/sampled_dev.json"

with open(test_path, 'r') as f:
    spider_test_data = json.load(f)

In [ ]:
spider_test_data[0]

{'db_id': 'boat_1',
 'query': 'SELECT DISTINCT T1.name FROM Sailors AS T1 JOIN Reserves AS T2 ON T1.sid  =  T2.sid WHERE  T2.bid  =  103',
 'query_toks': ['SELECT',
  'DISTINCT',
  'T1.name',
  'FROM',
  'Sailors',
  'AS',
  'T1',
  'JOIN',
  'Reserves',
  'AS',
  'T2',
  'ON',
  'T1.sid',
  '=',
  'T2.sid',
  'WHERE',
  'T2.bid',
  '=',
  '103'],
 'query_toks_no_value': ['select',
  'distinct',
  't1',
  '.',
  'name',
  'from',
  'sailors',
  'as',
  't1',
  'join',
  'reserves',
  'as',
  't2',
  'on',
  't1',
  '.',
  'sid',
  '=',
  't2',
  '.',
  'sid',
  'where',
  't2',
  '.',
  'bid',
  '=',
  'value'],
 'question': 'Find the name of the sailors who reserved boat with id 103.',
 'question_toks': ['Find',
  'the',
  'name',
  'of',
  'the',
  'sailors',
  'who',
  'reserved',
  'boat',
  'with',
  'id',
  '103',
  '.'],
 'sql': {'from': {'table_units': [['table_unit', 0], ['table_unit', 2]],
   'conds': [[False, 2, [0, [0, 1, False], None], [0, 8, False], None]]},
  'select': [True, [[0, [0, [0, 2, False], None]]]],
  'where': [[False, 2, [0, [0, 9, False], None], 103.0, None]],
  'groupBy': [],
  'having': [],
  'orderBy': [],
  'limit': None,
  'intersect': None,
  'union': None,
  'except': None}}

In [ ]:
similar_test_path = "/content/drive/MyDrive/spider/test_similar_questions/revised_all_similar_questions.json"
with open(similar_test_path, 'r') as f:
    similar_data = json.load(f)

In [ ]:
len(similar_data)

2147

In [ ]:
sampled_similar_data = []
for entry in spider_test_data:
    for data in similar_data:
        q = data['question']
        db = data['db_id']
        if (q == entry['question']) and (db == entry['db_id']):
            sampled_similar_data.append(data)
            break

In [ ]:
sampled_similar_data

[{'question': 'Find the name of the sailors who reserved boat with id 103.',
  'db_id': 'boat_1',
  'similar_q': [{'db_id': 'ship_1',
    'original_question': 'Find the name of the ship that is steered by the youngest captain.',
    'sql_query': 'SELECT t1.name FROM ship AS t1 JOIN captain AS t2 ON t1.ship_id  =  t2.ship_id ORDER BY t2.age LIMIT 1'},
   {'db_id': 'ship_1',
    'original_question': 'Find the name of the ships that have more than one captain.',
    'sql_query': 'SELECT t1.name FROM ship AS t1 JOIN captain AS t2 ON t1.ship_id  =  t2.ship_id GROUP BY t2.ship_id HAVING count(*)  >  1'},
   {'db_id': 'ship_1',
    'original_question': 'Find the name of the ships that are steered by both a captain with Midshipman rank and a captain with Lieutenant rank.',
    'sql_query': "SELECT t1.name FROM ship AS t1 JOIN captain AS t2 ON t1.ship_id  =  t2.ship_id WHERE t2.rank  =  'Midshipman' INTERSECT SELECT t1.name FROM ship AS t1 JOIN captain AS t2 ON t1.ship_id  =  t2.ship_id WHERE t2.rank  =  'Lieutenant'"},
   {'db_id': 'ship_1',
    'original_question': 'Find the name of captains whose rank are either Midshipman or Lieutenant.',
    'sql_query': "SELECT name FROM captain WHERE rank  =  'Midshipman' OR rank  =  'Lieutenant'"},
   {'db_id': 'ship_1',
    'original_question': 'Find the name and flag of ships that are not steered by any captain with Midshipman rank.',
    'sql_query': "SELECT name ,  flag FROM ship WHERE ship_id NOT IN (SELECT ship_id FROM captain WHERE rank  =  'Midshipman')"}]},
 {'question': 'What are the names of sailors who reserved a boat with the name Melon?',
  'db_id': 'boat_1',
  'similar_q': [{'db_id': 'ship_1',
    'original_question': 'What are the names of ships that have more than one captain?',
    'sql_query': 'SELECT t1.name FROM ship AS t1 JOIN captain AS t2 ON t1.ship_id  =  t2.ship_id GROUP BY t2.ship_id HAVING count(*)  >  1'},
   {'db_id': 'ship_1',
    'original_question': 'What are the names of captains that have either the rank Midshipman or Lieutenant?',
    'sql_query': "SELECT name FROM captain WHERE rank  =  'Midshipman' OR rank  =  'Lieutenant'"},
   {'db_id': 'ship_1',
    'original_question': 'Find the name of the ships that have more than one captain.',
    'sql_query': 'SELECT t1.name FROM ship AS t1 JOIN captain AS t2 ON t1.ship_id  =  t2.ship_id GROUP BY t2.ship_id HAVING count(*)  >  1'},
   {'db_id': 'ship_1',
    'original_question': 'What is the name of the ship that is commanded by the youngest captain?',
    'sql_query': 'SELECT t1.name FROM ship AS t1 JOIN captain AS t2 ON t1.ship_id  =  t2.ship_id ORDER BY t2.age LIMIT 1'},
   {'db_id': 'ship_1',
    'original_question': 'What are the names of ships that are commanded by both captains with the rank of Midshipman and captains with the rank of Lieutenant?',
    'sql_query': "SELECT t1.name FROM ship AS t1 JOIN captain AS t2 ON t1.ship_id  =  t2.ship_id WHERE t2.rank  =  'Midshipman' INTERSECT SELECT t1.name FROM ship AS t1 JOIN captain AS t2 ON t1.ship_id  =  t2.ship_id WHERE t2.rank  =  'Lieutenant'"}]},
 {'question': 'What is the average number of units sold in millions of games played by players with position "Guard"?',
  'db_id': 'video_game',
  'similar_q': [{'db_id': 'sports_competition',
    'original_question': 'For each position, what is the average number of points for players in that position?',
    'sql_query': 'SELECT POSITION ,  avg(Points) FROM player GROUP BY POSITION'},
   {'db_id': 'school_player',
    'original_question': 'How many different positions of players are there?',
    'sql_query': 'SELECT count(DISTINCT POSITION) FROM player'},
   {'db_id': 'sports_competition',
    'original_question': 'How many different position for players are listed?',
    'sql_query': 'SELECT count(DISTINCT POSITION) FROM player'},
   {'db_id': 'match_season',
    'original_question': 'How many players played each position?',
    'sql_query': 'SELECT POSITION ,  COUNT(*) FROM match_season GROUP BY POSITION'},
   {'db_id': 'sports_competition',
    'original_question': 'List the position of players and the average number of points of players of each position.',
    'sql_query': 'SELECT POSITION ,  avg(Points) FROM player GROUP BY POSITION'}]},
 {'question': 'What are the names of the collections that are related to the collection named Best?',
  'db_id': 'cre_Doc_and_collections',
  'similar_q': [{'db_id': 'store_1',
    'original_question': 'What are the titles of all the albums?',
    'sql_query': 'SELECT title FROM albums;'},
   {'db_id': 'store_1',
    'original_question': 'What are the different names of the genres?',
    'sql_query': 'SELECT DISTINCT name FROM genres;'},
   {'db_id': 'game_1',
    'original_question': 'What are the names of all video games that are collectible cards?',
    'sql_query': 'SELECT gname FROM Video_games WHERE gtype  =  "Collectible card game"'},
   {'db_id': 'manufactory_1',
    'original_question': 'What are the names of all products?',
    'sql_query': 'SELECT Name FROM Products'},
   {'db_id': 'product_catalog',
    'original_question': 'What are all the catalog entry names?',
    'sql_query': 'SELECT distinct(catalog_entry_name) FROM catalog_contents'}]},
 {'question': 'Find the analytical layer type code that appears most often.',
  'db_id': 'government_shift',
  'similar_q': [{'db_id': 'insurance_and_eClaims',
    'original_question': 'Find the type code of the most frequently used policy.',
    'sql_query': 'SELECT policy_type_code FROM policies GROUP BY policy_type_code ORDER BY count(*) DESC LIMIT 1'},
   {'db_id': 'tracking_share_transactions',
    'original_question': 'Show the transaction type code that occurs the most frequently.',
    'sql_query': 'SELECT transaction_type_code FROM TRANSACTIONS GROUP BY transaction_type_code ORDER BY COUNT(*) DESC LIMIT 1'},
   {'db_id': 'cre_Drama_Workshop_Groups',
    'original_question': 'Find the description and code of the service type that is performed the most times.',
    'sql_query': 'SELECT T1.Service_Type_Description , T1.Service_Type_Code FROM Ref_Service_Types AS T1 JOIN Services AS T2 ON T1.Service_Type_Code  =  T2.Service_Type_Code GROUP BY T1.Service_Type_Code ORDER BY COUNT(*) DESC LIMIT 1'},
   {'db_id': 'solvency_ii',
    'original_question': 'Show the most common type code across products.',
    'sql_query': 'SELECT Product_Type_Code FROM Products GROUP BY Product_Type_Code ORDER BY COUNT(*) DESC LIMIT 1'},
   {'db_id': 'customers_card_transactions',
    'original_question': 'Return the code of the card type that is most common.',
    'sql_query': 'SELECT card_type_code FROM Customers_cards GROUP BY card_type_code ORDER BY count(*) DESC LIMIT 1'}]},
 {'question': 'How many customers are associated with each nationality? List the nationality and the number of customers.',
  'db_id': 'restaurant_bills',
  'similar_q': [{'db_id': 'customers_and_invoices',
    'original_question': 'How many accounts does each customer have? List the number and customer id.',
    'sql_query': 'SELECT count(*) ,  customer_id FROM Accounts GROUP BY customer_id'},
   {'db_id': 'customer_deliveries',
    'original_question': 'List the state names and the number of customers living in each state.',
    'sql_query': 'SELECT t2.state_province_county ,  count(*) FROM customer_addresses AS t1 JOIN addresses AS t2 ON t1.address_id  =  t2.address_id GROUP BY t2.state_province_county'},
   {'db_id': 'loan_1',
    'original_question': 'How many customers are there?',
    'sql_query': 'SELECT sum(no_of_customers) FROM bank'},
   {'db_id': 'customer_complaints',
    'original_question': 'How many customers are there?',
    'sql_query': 'SELECT count(*) FROM customers'},
   {'db_id': 'driving_school',
    'original_question': 'How many customers are there?',
    'sql_query': 'SELECT count(*) FROM Customers;'}]},
 {'question': 'Give the id, name, phone, and email corresponding to the customer who made the most orders.',
  'db_id': 'customers_and_orders',
  'similar_q': [{'db_id': 'department_store',
    'original_question': 'Return the name, phone number and email address for the customer with the most orders.',
    'sql_query': 'SELECT T1.customer_name ,  T1.customer_phone ,  T1.customer_email FROM customers AS T1 JOIN customer_orders AS T2 ON T1.customer_id  =  T2.customer_id GROUP BY T2.customer_id ORDER BY count(*) DESC LIMIT 1'},
   {'db_id': 'tracking_orders',
    'original_question': 'Find the id of the customer who made the most orders.',
    'sql_query': 'SELECT T1.customer_id FROM customers AS T1 JOIN orders AS T2 ON T1.customer_id  =  T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1'},
   {'db_id': 'tracking_orders',
    'original_question': 'Find the name of the customer who made the most orders.',
    'sql_query': 'SELECT T1.customer_name FROM customers AS T1 JOIN orders AS T2 ON T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1'},
   {'db_id': 'customers_and_invoices',
    'original_question': 'Return the last name, id and phone number of the customer who has made the greatest number of orders.',
    'sql_query': 'SELECT T2.customer_last_name ,  T1.customer_id ,  T2.phone_number FROM Orders AS T1 JOIN Customers AS T2 ON T1.customer_id  =  T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1'},
   {'db_id': 'customers_and_products_contacts',
    'original_question': 'Show the name of the customer who has the most orders.',
    'sql_query': 'SELECT T1.customer_name FROM customers AS T1 JOIN customer_orders AS T2 ON T1.customer_id  =  T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1'}]},
 {'question': 'Show all staff name who are above the average age.',
  'db_id': 'conference',
  'similar_q': [{'db_id': 'flight_1',
    'original_question': 'Show names for all employees with salary more than the average.',
    'sql_query': 'SELECT name FROM Employee WHERE salary  >  (SELECT avg(salary) FROM Employee)'},
   {'db_id': 'wedding',
    'original_question': 'Show the name and country for all people whose age is smaller than the average.',
    'sql_query': 'SELECT name ,  country FROM people WHERE age  <  (SELECT avg(age) FROM people)'},
   {'db_id': 'voter_2',
    'original_question': 'Find the first names of students with age above 22.',
    'sql_query': 'SELECT Fname FROM STUDENT WHERE Age  >  22'},
   {'db_id': 'dorm_1',
    'original_question': 'Find the first and last name of students whose age is younger than the average age.',
    'sql_query': 'SELECT fname ,  lname FROM student WHERE age  <  (SELECT avg(age) FROM student)'},
   {'db_id': 'network_2',
    'original_question': 'Find the name of people whose age is greater than any engineer sorted by their age.',
    'sql_query': "SELECT name FROM Person WHERE age  >  (SELECT min(age) FROM person WHERE job  =  'engineer') ORDER BY age"}]},
 {'question': 'What is the invoice id, status code, and details for the invoice with most number of payments.',
  'db_id': 'advertising_agencies',
  'similar_q': [{'db_id': 'customers_and_invoices',
    'original_question': 'What is the invoice number and invoice date for the invoice with most number of transactions?',
    'sql_query': 'SELECT T2.invoice_number ,  T2.invoice_date FROM Financial_transactions AS T1 JOIN Invoices AS T2 ON T1.invoice_number  =  T2.invoice_number GROUP BY T1.invoice_number ORDER BY count(*) DESC LIMIT 1'},
   {'db_id': 'customers_and_invoices',
    'original_question': 'What is the invoice number and invoice date corresponding to the invoice with the greatest number of transactions?',
    'sql_query': 'SELECT T2.invoice_number ,  T2.invoice_date FROM Financial_transactions AS T1 JOIN Invoices AS T2 ON T1.invoice_number  =  T2.invoice_number GROUP BY T1.invoice_number ORDER BY count(*) DESC LIMIT 1'},
   {'db_id': 'cre_Drama_Workshop_Groups',
    'original_question': 'What are the distinct payment method codes in all the invoices?',
    'sql_query': 'SELECT DISTINCT payment_method_code FROM INVOICES'},
   {'db_id': 'cre_Drama_Workshop_Groups',
    'original_question': 'Find the payment method that is used the most often in all the invoices. Give me its code.',
    'sql_query': 'SELECT payment_method_code FROM INVOICES GROUP BY payment_method_code ORDER BY count(*) DESC LIMIT 1'},
   {'db_id': 'cre_Drama_Workshop_Groups',
    'original_question': 'What is the product ID of the most frequently ordered item on invoices?',
    'sql_query': 'SELECT Product_ID FROM INVOICES GROUP BY Product_ID ORDER BY COUNT(*) DESC LIMIT 1'}]},
 {'question': 'Show all product names with price higher than the average.',
  'db_id': 'customers_and_orders',
  'similar_q': [{'db_id': 'cre_Drama_Workshop_Groups',
    'original_question': 'Show all the distinct product names with price higher than the average.',
    'sql_query': 'SELECT DISTINCT Product_Name FROM PRODUCTS WHERE Product_Price  >  (SELECT avg(Product_Price) FROM PRODUCTS)'},
   {'db_id': 'cre_Drama_Workshop_Groups',
    'original_question': 'List all product names in ascending order of price.',
    'sql_query': 'SELECT Product_Name FROM Products ORDER BY Product_Price ASC'},
   {'db_id': 'customers_and_products_contacts',
    'original_question': 'How many products have a price higher than the average?',
    'sql_query': 'SELECT count(*) FROM products WHERE product_price  >  (SELECT avg(product_price) FROM products)'},
   {'db_id': 'cre_Drama_Workshop_Groups',
    'original_question': 'For each distinct product name, show its average product price.',
    'sql_query': 'SELECT Product_Name ,  avg(Product_Price) FROM PRODUCTS GROUP BY Product_Name'},
   {'db_id': 'department_store',
    'original_question': 'Find the product type whose average price is higher than the average price of all products.',
    'sql_query': 'SELECT product_type_code FROM products GROUP BY product_type_code HAVING avg(product_price)  >  (SELECT avg(product_price) FROM products)'}]},
 {'question': 'What is the total weight for all packages that Leo Wong sent?',
  'db_id': 'planet_1',
  'similar_q': [{'db_id': 'shop_membership',
    'original_question': 'What is the sum of total pounds of purchase in year 2018 for all branches in London?',
    'sql_query': "SELECT sum(total_pounds) FROM purchase AS T1 JOIN branch AS T2 ON T1.branch_id  =  T2.branch_id WHERE T2.city  =  'London' AND T1.year  =  2018"},
   {'db_id': 'store_1',
    'original_question': 'What is the total amount of money spent by Lucas Mancini?',
    'sql_query': 'SELECT sum(T2.total) FROM customers AS T1 JOIN invoices AS T2 ON T1.id = T2.customer_id WHERE T1.first_name = "Lucas" AND T1.last_name = "Mancini";'},
   {'db_id': 'shop_membership',
    'original_question': 'How many total pounds were purchased in the year 2018 at all London branches?',
    'sql_query': "SELECT sum(total_pounds) FROM purchase AS T1 JOIN branch AS T2 ON T1.branch_id  =  T2.branch_id WHERE T2.city  =  'London' AND T1.year  =  2018"},
   {'db_id': 'soccer_1',
    'original_question': 'What is the average weight of all players?',
    'sql_query': 'SELECT avg(weight) FROM Player'},
   {'db_id': 'insurance_policies',
    'original_question': 'What is the total amount of payment?',
    'sql_query': 'SELECT sum(Amount_Payment) FROM Payments'}]},
 {'question': 'Return the names and ages of pilors who have flown Piper Cub and are older than 35, or have flown the F-14 Fighter and are younger than 30.',
  'db_id': 'pilot_1',
  'similar_q': [{'db_id': 'aircraft',
    'original_question': 'find the name and age of the pilot who has won the most number of times among the pilots who are younger than 30.',
    'sql_query': 'SELECT t1.name ,  t1.age FROM pilot AS t1 JOIN MATCH AS t2 ON t1.pilot_id  =  t2.winning_pilot WHERE t1.age  <  30 GROUP BY t2.winning_pilot ORDER BY count(*) DESC LIMIT 1'},
   {'db_id': 'aircraft',
    'original_question': 'List names of all pilot aged 30 or younger in descending alphabetical order.',
    'sql_query': 'SELECT Name FROM pilot WHERE Age  <=  30 ORDER BY Name DESC'},
   {'db_id': 'aircraft',
    'original_question': 'What are the name of pilots aged 25 or older?',
    'sql_query': 'SELECT Name FROM pilot WHERE Age  >=  25'},
   {'db_id': 'aircraft',
    'original_question': 'List names of all pilot in descending order of age.',
    'sql_query': 'SELECT Name FROM pilot ORDER BY Age DESC'},
   {'db_id': 'pilot_record',
    'original_question': 'List the distinct positions of pilots older than 30.',
    'sql_query': 'SELECT DISTINCT POSITION FROM pilot WHERE Age  >  30'}]},
 {'question': 'What are client ids for clients with at least 2 invoices.',
  'db_id': 'advertising_agencies',
  'similar_q': [{'db_id': 'customers_and_invoices',
    'original_question': 'What are the first names and ids for customers who have two or more accounts?',
    'sql_query': 'SELECT T2.customer_first_name ,  T1.customer_id FROM Accounts AS T1 JOIN Customers AS T2 ON T1.customer_id  =  T2.customer_id GROUP BY T1.customer_id HAVING count(*)  >=  2'},
   {'db_id': 'customers_and_invoices',
    'original_question': 'What is the order id and order details for the order more than two invoices.',
    'sql_query': 'SELECT T2.order_id ,  T2.order_details FROM Invoices AS T1 JOIN Orders AS T2 ON T1.order_id  =  T2.order_id GROUP BY T2.order_id HAVING count(*)  >  2'},
   {'db_id': 'cre_Docs_and_Epenses',
    'original_question': 'What are project ids of projects that have 2 or more corresponding documents?',
    'sql_query': 'SELECT project_id FROM Documents GROUP BY project_id HAVING count(*)  >=  2'},
   {'db_id': 'customers_and_invoices',
    'original_question': 'Return the order ids and details for orderes with two or more invoices.',
    'sql_query': 'SELECT T2.order_id ,  T2.order_details FROM Invoices AS T1 JOIN Orders AS T2 ON T1.order_id  =  T2.order_id GROUP BY T2.order_id HAVING count(*)  >  2'},
   {'db_id': 'customers_card_transactions',
    'original_question': 'What are the ids and full names of customers who hold two or more cards?',
    'sql_query': 'SELECT T1.customer_id ,  T2.customer_first_name ,  T2.customer_last_name FROM Customers_cards AS T1 JOIN Customers AS T2 ON T1.customer_id  =  T2.customer_id GROUP BY T1.customer_id HAVING count(*)  >=  2'}]},
 {'question': 'Which unique subset does document owned by Braeden belong to? List the subset name.',
  'db_id': 'cre_Doc_and_collections',
  'similar_q': [{'db_id': 'department_management',
    'original_question': "Which head's name has the substring 'Ha'? List the id and name.",
    'sql_query': "SELECT head_id ,  name FROM head WHERE name LIKE '%Ha%'"},
   {'db_id': 'cre_Docs_and_Epenses',
    'original_question': 'What are the ids and names for each of the documents?',
    'sql_query': 'SELECT document_id ,  document_name FROM Documents'},
   {'db_id': 'cre_Theme_park',
    'original_question': 'How many distinct names are associated with all the photos?',
    'sql_query': 'SELECT count(DISTINCT Name) FROM PHOTOS'},
   {'db_id': 'tracking_software_problems',
    'original_question': 'What is the list of distinct product names sorted by product id?',
    'sql_query': 'SELECT DISTINCT product_name FROM product ORDER BY product_id'},
   {'db_id': 'cre_Docs_and_Epenses',
    'original_question': 'What are the names and ids of documents that have the type code BK?',
    'sql_query': 'SELECT document_name ,  document_id FROM Documents WHERE document_type_code  =  "BK"'}]},
 {'question': 'What is the average distance between Boston and all other cities.',
  'db_id': 'address_1',
  'similar_q': [{'db_id': 'flight_1',
    'original_question': 'What is the average distance and price for all flights from LA?',
    'sql_query': 'SELECT avg(distance) ,  avg(price) FROM Flight WHERE origin  =  "Los Angeles"'},
   {'db_id': 'flight_1',
    'original_question': 'What is the average distance and average price for flights from Los Angeles.',

In [ ]:
for data in similar_data:
    q = data['question']
    db = data['db_id']
    for entry in spider_test_data:
        if (q == entry['question']) and (db == entry['db_id']):
            sampled_similar_data.append(data)
            break

In [ ]:
len(sampled_similar_data)

300

In [ ]:
# Saving similar questions for test data
similarity_path = "/content/drive/MyDrive/spider/test_similar_questions/"

with open(similarity_path + 'sampled_similar_questions_v2.json', 'w') as fp:
    json.dump(sampled_similar_data, fp)