# **Import & Install `openai`**

In [ ]:
! pip install openai==0.28

Collecting openai==0.28
  Downloading openai-0.28.0-py3-none-any.whl (76 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.5/76.5 kB 813.2 kB/s eta 0:00:00
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.10/dist-packages (from openai==0.28) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from openai==0.28) (4.66.4)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (from openai==0.28) (3.9.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai==0.28) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai==0.28) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai==0.28) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai==0.28) (2024.7.4)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai==0.28) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai==0.28) (23.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai==0.28) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai==0.28) (6.0.5)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai==0.28) (1.9.4)
Requirement already satisfied: async-timeout<5.0,>=4.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai==0.28) (4.0.3)
Installing collected packages: openai
Successfully installed openai-0.28.0

In [ ]:
import openai

# Set up OpenAI API key
openai.api_key = '*****'

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **Few-Shot Promting - DIN-SQL paper**

In this part we just show the codes of `DIN-Sql` paper.

https://github.com/MohammadrezaPourreza/Few-shot-NL2SQL-with-prompting

In [ ]:
import pandas as pd
import time
import openai
import os
import sys


#----------------------------------------------------prompts-----------------------------------------------
schema_linking_prompt = '''Table advisor, columns = [*,s_ID,i_ID]
Table classroom, columns = [*,building,room_number,capacity]
Table course, columns = [*,course_id,title,dept_name,credits]
Table department, columns = [*,dept_name,building,budget]
Table instructor, columns = [*,ID,name,dept_name,salary]
Table prereq, columns = [*,course_id,prereq_id]
Table section, columns = [*,course_id,sec_id,semester,year,building,room_number,time_slot_id]
Table student, columns = [*,ID,name,dept_name,tot_cred]
Table takes, columns = [*,ID,course_id,sec_id,semester,year,grade]
Table teaches, columns = [*,ID,course_id,sec_id,semester,year]
Table time_slot, columns = [*,time_slot_id,day,start_hr,start_min,end_hr,end_min]
Foreign_keys = [course.dept_name = department.dept_name,instructor.dept_name = department.dept_name,section.building = classroom.building,section.room_number = classroom.room_number,section.course_id = course.course_id,teaches.ID = instructor.ID,teaches.course_id = section.course_id,teaches.sec_id = section.sec_id,teaches.semester = section.semester,teaches.year = section.year,student.dept_name = department.dept_name,takes.ID = student.ID,takes.course_id = section.course_id,takes.sec_id = section.sec_id,takes.semester = section.semester,takes.year = section.year,advisor.s_ID = student.ID,advisor.i_ID = instructor.ID,prereq.prereq_id = course.course_id,prereq.course_id = course.course_id]
Q: "Find the buildings which have rooms with capacity more than 50."
A: Let’s think step by step. In the question "Find the buildings which have rooms with capacity more than 50.", we are asked:
"the buildings which have rooms" so we need column = [classroom.capacity]
"rooms with capacity" so we need column = [classroom.building]
Based on the columns and tables, we need these Foreign_keys = [].
Based on the tables, columns, and Foreign_keys, The set of possible cell values are = [50]. So the Schema_links are:
Schema_links: [classroom.building,classroom.capacity,50]

Table department, columns = [*,Department_ID,Name,Creation,Ranking,Budget_in_Billions,Num_Employees]
Table head, columns = [*,head_ID,name,born_state,age]
Table management, columns = [*,department_ID,head_ID,temporary_acting]
Foreign_keys = [management.head_ID = head.head_ID,management.department_ID = department.Department_ID]
Q: "How many heads of the departments are older than 56 ?"
A: Let’s think step by step. In the question "How many heads of the departments are older than 56 ?", we are asked:
"How many heads of the departments" so we need column = [head.*]
"older" so we need column = [head.age]
Based on the columns and tables, we need these Foreign_keys = [].
Based on the tables, columns, and Foreign_keys, The set of possible cell values are = [56]. So the Schema_links are:
Schema_links: [head.*,head.age,56]

Table department, columns = [*,Department_ID,Name,Creation,Ranking,Budget_in_Billions,Num_Employees]
Table head, columns = [*,head_ID,name,born_state,age]
Table management, columns = [*,department_ID,head_ID,temporary_acting]
Foreign_keys = [management.head_ID = head.head_ID,management.department_ID = department.Department_ID]
Q: "what are the distinct creation years of the departments managed by a secretary born in state 'Alabama'?"
A: Let’s think step by step. In the question "what are the distinct creation years of the departments managed by a secretary born in state 'Alabama'?", we are asked:
"distinct creation years of the departments" so we need column = [department.Creation]
"departments managed by" so we need column = [management.department_ID]
"born in" so we need column = [head.born_state]
Based on the columns and tables, we need these Foreign_keys = [department.Department_ID = management.department_ID,management.head_ID = head.head_ID].
Based on the tables, columns, and Foreign_keys, The set of possible cell values are = ['Alabama']. So the Schema_links are:
Schema_links: [department.Creation,department.Department_ID = management.department_ID,head.head_ID = management.head_ID,head.born_state,'Alabama']

Table Addresses, columns = [*,address_id,line_1,line_2,city,zip_postcode,state_province_county,country]
Table Candidate_Assessments, columns = [*,candidate_id,qualification,assessment_date,asessment_outcome_code]
Table Candidates, columns = [*,candidate_id,candidate_details]
Table Courses, columns = [*,course_id,course_name,course_description,other_details]
Table People, columns = [*,person_id,first_name,middle_name,last_name,cell_mobile_number,email_address,login_name,password]
Table People_Addresses, columns = [*,person_address_id,person_id,address_id,date_from,date_to]
Table Student_Course_Attendance, columns = [*,student_id,course_id,date_of_attendance]
Table Student_Course_Registrations, columns = [*,student_id,course_id,registration_date]
Table Students, columns = [*,student_id,student_details]
Foreign_keys = [Students.student_id = People.person_id,People_Addresses.address_id = Addresses.address_id,People_Addresses.person_id = People.person_id,Student_Course_Registrations.course_id = Courses.course_id,Student_Course_Registrations.student_id = Students.student_id,Student_Course_Attendance.student_id = Student_Course_Registrations.student_id,Student_Course_Attendance.course_id = Student_Course_Registrations.course_id,Candidates.candidate_id = People.person_id,Candidate_Assessments.candidate_id = Candidates.candidate_id]
Q: "List the id of students who never attends courses?"
A: Let’s think step by step. In the question "List the id of students who never attends courses?", we are asked:
"id of students" so we need column = [Students.student_id]
"never attends courses" so we need column = [Student_Course_Attendance.student_id]
Based on the columns and tables, we need these Foreign_keys = [Students.student_id = Student_Course_Attendance.student_id].
Based on the tables, columns, and Foreign_keys, The set of possible cell values are = []. So the Schema_links are:
Schema_links: [Students.student_id = Student_Course_Attendance.student_id]

Table Country, columns = [*,id,name]
Table League, columns = [*,id,country_id,name]
Table Player, columns = [*,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight]
Table Player_Attributes, columns = [*,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,free_kick_accuracy,long_passing,ball_control,acceleration,sprint_speed,agility,reactions,balance,shot_power,jumping,stamina,strength,long_shots,aggression,interceptions,positioning,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes]
Table Team, columns = [*,id,team_api_id,team_fifa_api_id,team_long_name,team_short_name]
Table Team_Attributes, columns = [*,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,buildUpPlayPassing,buildUpPlayPassingClass,buildUpPlayPositioningClass,chanceCreationPassing,chanceCreationPassingClass,chanceCreationCrossing,chanceCreationCrossingClass,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass]
Table sqlite_sequence, columns = [*,name,seq]
Foreign_keys = [Player_Attributes.player_api_id = Player.player_api_id,Player_Attributes.player_fifa_api_id = Player.player_fifa_api_id,League.country_id = Country.id,Team_Attributes.team_api_id = Team.team_api_id,Team_Attributes.team_fifa_api_id = Team.team_fifa_api_id]
Q: "List the names of all left-footed players who have overall rating between 85 and 90."
A: Let’s think step by step. In the question "List the names of all left-footed players who have overall rating between 85 and 90.", we are asked:
"names of all left-footed players" so we need column = [Player.player_name,Player_Attributes.preferred_foot]
"players who have overall rating" so we need column = [Player_Attributes.overall_rating]
Based on the columns and tables, we need these Foreign_keys = [Player_Attributes.player_api_id = Player.player_api_id].
Based on the tables, columns, and Foreign_keys, The set of possible cell values are = [left,85,90]. So the Schema_links are:
Schema_links: [Player.player_name,Player_Attributes.preferred_foot,Player_Attributes.overall_rating,Player_Attributes.player_api_id = Player.player_api_id,left,85,90]

Table advisor, columns = [*,s_ID,i_ID]
Table classroom, columns = [*,building,room_number,capacity]
Table course, columns = [*,course_id,title,dept_name,credits]
Table department, columns = [*,dept_name,building,budget]
Table instructor, columns = [*,ID,name,dept_name,salary]
Table prereq, columns = [*,course_id,prereq_id]
Table section, columns = [*,course_id,sec_id,semester,year,building,room_number,time_slot_id]
Table student, columns = [*,ID,name,dept_name,tot_cred]
Table takes, columns = [*,ID,course_id,sec_id,semester,year,grade]
Table teaches, columns = [*,ID,course_id,sec_id,semester,year]
Table time_slot, columns = [*,time_slot_id,day,start_hr,start_min,end_hr,end_min]
Foreign_keys = [course.dept_name = department.dept_name,instructor.dept_name = department.dept_name,section.building = classroom.building,section.room_number = classroom.room_number,section.course_id = course.course_id,teaches.ID = instructor.ID,teaches.course_id = section.course_id,teaches.sec_id = section.sec_id,teaches.semester = section.semester,teaches.year = section.year,student.dept_name = department.dept_name,takes.ID = student.ID,takes.course_id = section.course_id,takes.sec_id = section.sec_id,takes.semester = section.semester,takes.year = section.year,advisor.s_ID = student.ID,advisor.i_ID = instructor.ID,prereq.prereq_id = course.course_id,prereq.course_id = course.course_id]
Q: "Give the title of the course offered in Chandler during the Fall of 2010."
A: Let’s think step by step. In the question "Give the title of the course offered in Chandler during the Fall of 2010.", we are asked:
"title of the course" so we need column = [course.title]
"course offered in Chandler" so we need column = [SECTION.building]
"during the Fall" so we need column = [SECTION.semester]
"of 2010" so we need column = [SECTION.year]
Based on the columns and tables, we need these Foreign_keys = [course.course_id = SECTION.course_id].
Based on the tables, columns, and Foreign_keys, The set of possible cell values are = [Chandler,Fall,2010]. So the Schema_links are:
Schema_links: [course.title,course.course_id = SECTION.course_id,SECTION.building,SECTION.year,SECTION.semester,Chandler,Fall,2010]

Table city, columns = [*,City_ID,Official_Name,Status,Area_km_2,Population,Census_Ranking]
Table competition_record, columns = [*,Competition_ID,Farm_ID,Rank]
Table farm, columns = [*,Farm_ID,Year,Total_Horses,Working_Horses,Total_Cattle,Oxen,Bulls,Cows,Pigs,Sheep_and_Goats]
Table farm_competition, columns = [*,Competition_ID,Year,Theme,Host_city_ID,Hosts]
Foreign_keys = [farm_competition.Host_city_ID = city.City_ID,competition_record.Farm_ID = farm.Farm_ID,competition_record.Competition_ID = farm_competition.Competition_ID]
Q: "Show the status of the city that has hosted the greatest number of competitions."
A: Let’s think step by step. In the question "Show the status of the city that has hosted the greatest number of competitions.", we are asked:
"the status of the city" so we need column = [city.Status]
"greatest number of competitions" so we need column = [farm_competition.*]
Based on the columns and tables, we need these Foreign_keys = [farm_competition.Host_city_ID = city.City_ID].
Based on the tables, columns, and Foreign_keys, The set of possible cell values are = []. So the Schema_links are:
Schema_links: [city.Status,farm_competition.Host_city_ID = city.City_ID,farm_competition.*]

Table advisor, columns = [*,s_ID,i_ID]
Table classroom, columns = [*,building,room_number,capacity]
Table course, columns = [*,course_id,title,dept_name,credits]
Table department, columns = [*,dept_name,building,budget]
Table instructor, columns = [*,ID,name,dept_name,salary]
Table prereq, columns = [*,course_id,prereq_id]
Table section, columns = [*,course_id,sec_id,semester,year,building,room_number,time_slot_id]
Table student, columns = [*,ID,name,dept_name,tot_cred]
Table takes, columns = [*,ID,course_id,sec_id,semester,year,grade]
Table teaches, columns = [*,ID,course_id,sec_id,semester,year]
Table time_slot, columns = [*,time_slot_id,day,start_hr,start_min,end_hr,end_min]
Foreign_keys = [course.dept_name = department.dept_name,instructor.dept_name = department.dept_name,section.building = classroom.building,section.room_number = classroom.room_number,section.course_id = course.course_id,teaches.ID = instructor.ID,teaches.course_id = section.course_id,teaches.sec_id = section.sec_id,teaches.semester = section.semester,teaches.year = section.year,student.dept_name = department.dept_name,takes.ID = student.ID,takes.course_id = section.course_id,takes.sec_id = section.sec_id,takes.semester = section.semester,takes.year = section.year,advisor.s_ID = student.ID,advisor.i_ID = instructor.ID,prereq.prereq_id = course.course_id,prereq.course_id = course.course_id]
Q: "Find the id of instructors who taught a class in Fall 2009 but not in Spring 2010."
A: Let’s think step by step. In the question "Find the id of instructors who taught a class in Fall 2009 but not in Spring 2010.", we are asked:
"id of instructors who taught " so we need column = [teaches.id]
"taught a class in" so we need column = [teaches.semester,teaches.year]
Based on the columns and tables, we need these Foreign_keys = [].
Based on the tables, columns, and Foreign_keys, The set of possible cell values are = [Fall,2009,Spring,2010]. So the Schema_links are:
schema_links: [teaches.id,teaches.semester,teaches.year,Fall,2009,Spring,2010]

Table Accounts, columns = [*,account_id,customer_id,date_account_opened,account_name,other_account_details]
Table Customers, columns = [*,customer_id,customer_first_name,customer_middle_initial,customer_last_name,gender,email_address,login_name,login_password,phone_number,town_city,state_county_province,country]
Table Financial_Transactions, columns = [*,transaction_id,account_id,invoice_number,transaction_type,transaction_date,transaction_amount,transaction_comment,other_transaction_details]
Table Invoice_Line_Items, columns = [*,order_item_id,invoice_number,product_id,product_title,product_quantity,product_price,derived_product_cost,derived_vat_payable,derived_total_cost]
Table Invoices, columns = [*,invoice_number,order_id,invoice_date]
Table Order_Items, columns = [*,order_item_id,order_id,product_id,product_quantity,other_order_item_details]
Table Orders, columns = [*,order_id,customer_id,date_order_placed,order_details]
Table Product_Categories, columns = [*,production_type_code,product_type_description,vat_rating]
Table Products, columns = [*,product_id,parent_product_id,production_type_code,unit_price,product_name,product_color,product_size]
Foreign_keys = [Orders.customer_id = Customers.customer_id,Invoices.order_id = Orders.order_id,Accounts.customer_id = Customers.customer_id,Products.production_type_code = Product_Categories.production_type_code,Financial_Transactions.account_id = Accounts.account_id,Financial_Transactions.invoice_number = Invoices.invoice_number,Order_Items.order_id = Orders.order_id,Order_Items.product_id = Products.product_id,Invoice_Line_Items.product_id = Products.product_id,Invoice_Line_Items.invoice_number = Invoices.invoice_number,Invoice_Line_Items.order_item_id = Order_Items.order_item_id]
Q: "Show the id, the date of account opened, the account name, and other account detail for all accounts."
A: Let’s think step by step. In the question "Show the id, the date of account opened, the account name, and other account detail for all accounts.", we are asked:
"the id, the date of account opened, the account name, and other account detail for all accounts." so we need column = [Accounts.account_id,Accounts.account_name,Accounts.other_account_details,Accounts.date_account_opened]
Based on the columns and tables, we need these Foreign_keys = [].
Based on the tables, columns, and Foreign_keys, The set of possible cell values are = []. So the Schema_links are:
Schema_links: [Accounts.account_id,Accounts.account_name,Accounts.other_account_details,Accounts.date_account_opened]

Table city, columns = [*,City_ID,Official_Name,Status,Area_km_2,Population,Census_Ranking]
Table competition_record, columns = [*,Competition_ID,Farm_ID,Rank]
Table farm, columns = [*,Farm_ID,Year,Total_Horses,Working_Horses,Total_Cattle,Oxen,Bulls,Cows,Pigs,Sheep_and_Goats]
Table farm_competition, columns = [*,Competition_ID,Year,Theme,Host_city_ID,Hosts]
Foreign_keys = [farm_competition.Host_city_ID = city.City_ID,competition_record.Farm_ID = farm.Farm_ID,competition_record.Competition_ID = farm_competition.Competition_ID]
Q: "Show the status shared by cities with population bigger than 1500 and smaller than 500."
A: Let’s think step by step. In the question "Show the status shared by cities with population bigger than 1500 and smaller than 500.", we are asked:
"the status shared by cities" so we need column = [city.Status]
"cities with population" so we need column = [city.Population]
Based on the columns and tables, we need these Foreign_keys = [].
Based on the tables, columns, and Foreign_keys, The set of possible cell values are = [1500,500]. So the Schema_links are:
Schema_links: [city.Status,city.Population,1500,500]

'''
classification_prompt = '''Q: "Find the buildings which have rooms with capacity more than 50."
schema_links: [classroom.building,classroom.capacity,50]
A: Let’s think step by step. The SQL query for the question "Find the buildings which have rooms with capacity more than 50." needs these tables = [classroom], so we don't need JOIN.
Plus, it doesn't require nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = [""].
So, we don't need JOIN and don't need nested queries, then the the SQL query can be classified as "EASY".
Label: "EASY"

Q: "What are the names of all instructors who advise students in the math depart sorted by total credits of the student."
schema_links: [advisor.i_id = instructor.id,advisor.s_id = student.id,instructor.name,student.dept_name,student.tot_cred,math]
A: Let’s think step by step. The SQL query for the question "What are the names of all instructors who advise students in the math depart sorted by total credits of the student." needs these tables = [advisor,instructor,student], so we need JOIN.
Plus, it doesn't need nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = [""].
So, we need JOIN and don't need nested queries, then the the SQL query can be classified as "NON-NESTED".
Label: "NON-NESTED"

Q: "Find the room number of the rooms which can sit 50 to 100 students and their buildings."
schema_links: [classroom.building,classroom.room_number,classroom.capacity,50,100]
A: Let’s think step by step. The SQL query for the question "Find the room number of the rooms which can sit 50 to 100 students and their buildings." needs these tables = [classroom], so we don't need JOIN.
Plus, it doesn't require nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = [""].
So, we don't need JOIN and don't need nested queries, then the the SQL query can be classified as "EASY".
Label: "EASY"

Q: "How many courses that do not have prerequisite?"
schema_links: [course.*,course.course_id = prereq.course_id]
A: Let’s think step by step. The SQL query for the question "How many courses that do not have prerequisite?" needs these tables = [course,prereq], so we need JOIN.
Plus, it requires nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = ["Which courses have prerequisite?"].
So, we need JOIN and need nested queries, then the the SQL query can be classified as "NESTED".
Label: "NESTED"

Q: "Find the title of course that is provided by both Statistics and Psychology departments."
schema_links: [course.title,course.dept_name,Statistics,Psychology]
A: Let’s think step by step. The SQL query for the question "Find the title of course that is provided by both Statistics and Psychology departments." needs these tables = [course], so we don't need JOIN.
Plus, it requires nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = ["Find the titles of courses that is provided by Psychology departments"].
So, we don't need JOIN and need nested queries, then the the SQL query can be classified as "NESTED".
Label: "NESTED"

Q: "Find the id of instructors who taught a class in Fall 2009 but not in Spring 2010."
schema_links: [teaches.id,teaches.semester,teaches.year,Fall,2009,Spring,2010]
A: Let’s think step by step. The SQL query for the question "Find the id of instructors who taught a class in Fall 2009 but not in Spring 2010." needs these tables = [teaches], so we don't need JOIN.
Plus, it requires nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = ["Find the id of instructors who taught a class in Spring 2010"].
So, we don't need JOIN and need nested queries, then the the SQL query can be classified as "NESTED".
Label: "NESTED"

Q: "Find the name of the department that offers the highest total credits?"
schema_links: [course.dept_name,course.credits]
A: Let’s think step by step. The SQL query for the question "Find the name of the department that offers the highest total credits?." needs these tables = [course], so we don't need JOIN.
Plus, it doesn't require nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = [""].
So, we don't need JOIN and don't need nested queries, then the the SQL query can be classified as "EASY".
Label: "EASY"

Q: "What is the name of the instructor who advises the student with the greatest number of total credits?"
schema_links: [advisor.i_id = instructor.id,advisor.s_id = student.id,instructor.name,student.tot_cred ]
A: Let’s think step by step. The SQL query for the question "What is the name of the instructor who advises the student with the greatest number of total credits?" needs these tables = [advisor,instructor,student], so we need JOIN.
Plus, it doesn't need nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = [""].
So, we need JOIN and don't need nested queries, then the the SQL query can be classified as "NON-NESTED".
Label: "NON-NESTED"

Q: "Find the total number of students and total number of instructors for each department."
schema_links = [department.dept_name = instructor.dept_name,student.id,student.dept_name = department.dept_name,instructor.id]
A: Let’s think step by step. The SQL query for the question "Find the total number of students and total number of instructors for each department." needs these tables = [department,instructor,student], so we need JOIN.
Plus, it doesn't need nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = [""].
So, we need JOIN and don't need nested queries, then the the SQL query can be classified as "NON-NESTED".
Label: "NON-NESTED"

Q: "Give the name and building of the departments with greater than average budget."
schema_links: [department.budget,department.dept_name,department.building]
A: Let’s think step by step. The SQL query for the question "Give the name and building of the departments with greater than average budget." needs these tables = [department], so we don't need JOIN.
Plus, it requires nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = ["What is the average budget of the departments"].
So, we don't need JOIN and need nested queries, then the the SQL query can be classified as "NESTED".
Label: "NESTED"

'''

easy_prompt = '''Q: "Find the buildings which have rooms with capacity more than 50."
Schema_links: [classroom.building,classroom.capacity,50]
SQL: SELECT DISTINCT building FROM classroom WHERE capacity  >  50

Q: "Find the room number of the rooms which can sit 50 to 100 students and their buildings."
Schema_links: [classroom.building,classroom.room_number,classroom.capacity,50,100]
SQL: SELECT building ,  room_number FROM classroom WHERE capacity BETWEEN 50 AND 100

Q: "Give the name of the student in the History department with the most credits."
Schema_links: [student.name,student.dept_name,student.tot_cred,History]
SQL: SELECT name FROM student WHERE dept_name  =  'History' ORDER BY tot_cred DESC LIMIT 1

Q: "Find the total budgets of the Marketing or Finance department."
Schema_links: [department.budget,department.dept_name,Marketing,Finance]
SQL: SELECT sum(budget) FROM department WHERE dept_name  =  'Marketing' OR dept_name  =  'Finance'

Q: "Find the department name of the instructor whose name contains 'Soisalon'."
Schema_links: [instructor.dept_name,instructor.name,Soisalon]
SQL: SELECT dept_name FROM instructor WHERE name LIKE '%Soisalon%'

Q: "What is the name of the department with the most credits?"
Schema_links: [course.dept_name,course.credits]
SQL: SELECT dept_name FROM course GROUP BY dept_name ORDER BY sum(credits) DESC LIMIT 1

Q: "How many instructors teach a course in the Spring of 2010?"
Schema_links: [teaches.ID,teaches.semester,teaches.YEAR,Spring,2010]
SQL: SELECT COUNT (DISTINCT ID) FROM teaches WHERE semester  =  'Spring' AND YEAR  =  2010

Q: "Find the name of the students and their department names sorted by their total credits in ascending order."
Schema_links: [student.name,student.dept_name,student.tot_cred]
SQL: SELECT name ,  dept_name FROM student ORDER BY tot_cred

Q: "Find the year which offers the largest number of courses."
Schema_links: [SECTION.YEAR,SECTION.*]
SQL: SELECT YEAR FROM SECTION GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1

Q: "What are the names and average salaries for departments with average salary higher than 42000?"
Schema_links: [instructor.dept_name,instructor.salary,42000]
SQL: SELECT dept_name ,  AVG (salary) FROM instructor GROUP BY dept_name HAVING AVG (salary)  >  42000

Q: "How many rooms in each building have a capacity of over 50?"
Schema_links: [classroom.*,classroom.building,classroom.capacity,50]
SQL: SELECT count(*) ,  building FROM classroom WHERE capacity  >  50 GROUP BY building

Q: "Find the names of the top 3 departments that provide the largest amount of courses?"
Schema_links: [course.dept_name,course.*]
SQL: SELECT dept_name FROM course GROUP BY dept_name ORDER BY count(*) DESC LIMIT 3

Q: "Find the maximum and average capacity among rooms in each building."
Schema_links: [classroom.building,classroom.capacity]
SQL: SELECT max(capacity) ,  avg(capacity) ,  building FROM classroom GROUP BY building

Q: "Find the title of the course that is offered by more than one department."
Schema_links: [course.title]
SQL: SELECT title FROM course GROUP BY title HAVING count(*)  >  1

'''
medium_prompt = '''Q: "Find the total budgets of the Marketing or Finance department."
Schema_links: [department.budget,department.dept_name,Marketing,Finance]
A: Let’s think step by step. For creating the SQL for the given question, we need to join these tables = []. First, create an intermediate representation, then use it to construct the SQL query.
Intermediate_representation: select sum(department.budget) from department  where  department.dept_name = \"Marketing\"  or  department.dept_name = \"Finance\"
SQL: SELECT sum(budget) FROM department WHERE dept_name  =  'Marketing' OR dept_name  =  'Finance'

Q: "Find the name and building of the department with the highest budget."
Schema_links: [department.budget,department.dept_name,department.building]
A: Let’s think step by step. For creating the SQL for the given question, we need to join these tables = []. First, create an intermediate representation, then use it to construct the SQL query.
Intermediate_representation: select department.dept_name , department.building from department  order by department.budget desc limit 1
SQL: SELECT dept_name ,  building FROM department ORDER BY budget DESC LIMIT 1

Q: "What is the name and building of the departments whose budget is more than the average budget?"
Schema_links: [department.budget,department.dept_name,department.building]
A: Let’s think step by step. For creating the SQL for the given question, we need to join these tables = []. First, create an intermediate representation, then use it to construct the SQL query.
Intermediate_representation:  select department.dept_name , department.building from department  where  @.@ > avg ( department.budget )
SQL: SELECT dept_name ,  building FROM department WHERE budget  >  (SELECT avg(budget) FROM department)

Q: "Find the total number of students and total number of instructors for each department."
Schema_links: [department.dept_name = student.dept_name,student.id,department.dept_name = instructor.dept_name,instructor.id]
A: Let’s think step by step. For creating the SQL for the given question, we need to join these tables = [department,student,instructor]. First, create an intermediate representation, then use it to construct the SQL query.
Intermediate_representation: "select count( distinct student.ID) , count( distinct instructor.ID) , department.dept_name from department  group by instructor.dept_name
SQL: SELECT count(DISTINCT T2.id) ,  count(DISTINCT T3.id) ,  T3.dept_name FROM department AS T1 JOIN student AS T2 ON T1.dept_name  =  T2.dept_name JOIN instructor AS T3 ON T1.dept_name  =  T3.dept_name GROUP BY T3.dept_name

Q: "Find the title of courses that have two prerequisites?"
Schema_links: [course.title,course.course_id = prereq.course_id]
A: Let’s think step by step. For creating the SQL for the given question, we need to join these tables = [course,prereq]. First, create an intermediate representation, then use it to construct the SQL query.
Intermediate_representation: select course.title from course  where  count ( prereq.* )  = 2  group by prereq.course_id
SQL: SELECT T1.title FROM course AS T1 JOIN prereq AS T2 ON T1.course_id  =  T2.course_id GROUP BY T2.course_id HAVING count(*)  =  2

Q: "Find the name of students who took any class in the years of 2009 and 2010."
Schema_links: [student.name,student.id = takes.id,takes.YEAR,2009,2010]
A: Let’s think step by step. For creating the SQL for the given question, we need to join these tables = [student,takes]. First, create an intermediate representation, then use it to construct the SQL query.
Intermediate_representation: select  distinct student.name from student  where  takes.year = 2009  or  takes.year = 2010
SQL: SELECT DISTINCT T1.name FROM student AS T1 JOIN takes AS T2 ON T1.id  =  T2.id WHERE T2.YEAR  =  2009 OR T2.YEAR  =  2010

Q: "list in alphabetic order all course names and their instructors' names in year 2008."
Schema_links: [course.title,course.course_id = teaches.course_id,teaches.id = instructor.id,instructor.name,teaches.year,2008]
A: Let’s think step by step. For creating the SQL for the given question, we need to join these tables = [course,teaches,instructor]. First, create an intermediate representation, then use it to construct the SQL query.
Intermediate_representation: select course.title , instructor.name from course  where  teaches.year = 2008  order by course.title asc
SQL: SELECT T1.title ,  T3.name FROM course AS T1 JOIN teaches AS T2 ON T1.course_id  =  T2.course_id JOIN instructor AS T3 ON T2.id  =  T3.id WHERE T2.YEAR  =  2008 ORDER BY T1.title

'''
hard_prompt = '''Q: "Find the title of courses that have two prerequisites?"
Schema_links: [course.title,course.course_id = prereq.course_id]
A: Let's think step by step. "Find the title of courses that have two prerequisites?" can be solved by knowing the answer to the following sub-question "What are the titles for courses with two prerequisites?".
The SQL query for the sub-question "What are the titles for courses with two prerequisites?" is SELECT T1.title FROM course AS T1 JOIN prereq AS T2 ON T1.course_id  =  T2.course_id GROUP BY T2.course_id HAVING count(*)  =  2
So, the answer to the question "Find the title of courses that have two prerequisites?" is =
Intermediate_representation: select course.title from course  where  count ( prereq.* )  = 2  group by prereq.course_id
SQL: SELECT T1.title FROM course AS T1 JOIN prereq AS T2 ON T1.course_id  =  T2.course_id GROUP BY T2.course_id HAVING count(*)  =  2

Q: "Find the name and building of the department with the highest budget."
Schema_links: [department.dept_name,department.building,department.budget]
A: Let's think step by step. "Find the name and building of the department with the highest budget." can be solved by knowing the answer to the following sub-question "What is the department name and corresponding building for the department with the greatest budget?".
The SQL query for the sub-question "What is the department name and corresponding building for the department with the greatest budget?" is SELECT dept_name ,  building FROM department ORDER BY budget DESC LIMIT 1
So, the answer to the question "Find the name and building of the department with the highest budget." is =
Intermediate_representation: select department.dept_name , department.building from department  order by department.budget desc limit 1
SQL: SELECT dept_name ,  building FROM department ORDER BY budget DESC LIMIT 1

Q: "Find the title, credit, and department name of courses that have more than one prerequisites?"
Schema_links: [course.title,course.credits,course.dept_name,course.course_id = prereq.course_id]
A: Let's think step by step. "Find the title, credit, and department name of courses that have more than one prerequisites?" can be solved by knowing the answer to the following sub-question "What is the title, credit value, and department name for courses with more than one prerequisite?".
The SQL query for the sub-question "What is the title, credit value, and department name for courses with more than one prerequisite?" is SELECT T1.title ,  T1.credits , T1.dept_name FROM course AS T1 JOIN prereq AS T2 ON T1.course_id  =  T2.course_id GROUP BY T2.course_id HAVING count(*)  >  1
So, the answer to the question "Find the name and building of the department with the highest budget." is =
Intermediate_representation: select course.title , course.credits , course.dept_name from course  where  count ( prereq.* )  > 1  group by prereq.course_id
SQL: SELECT T1.title ,  T1.credits , T1.dept_name FROM course AS T1 JOIN prereq AS T2 ON T1.course_id  =  T2.course_id GROUP BY T2.course_id HAVING count(*)  >  1

Q: "Give the name and building of the departments with greater than average budget."
Schema_links: [department.dept_name,department.building,department.budget]
A: Let's think step by step. "Give the name and building of the departments with greater than average budget." can be solved by knowing the answer to the following sub-question "What is the average budget of departments?".
The SQL query for the sub-question "What is the average budget of departments?" is SELECT avg(budget) FROM department
So, the answer to the question "Give the name and building of the departments with greater than average budget." is =
Intermediate_representation: select department.dept_name , department.building from department  where  @.@ > avg ( department.budget )
SQL: SELECT dept_name ,  building FROM department WHERE budget  >  (SELECT avg(budget) FROM department)

Q: "Find the id of instructors who taught a class in Fall 2009 but not in Spring 2010."
Schema_links: [teaches.id,teaches.semester,teaches.YEAR,Fall,2009,Spring,2010]
A: Let's think step by step. "Find the id of instructors who taught a class in Fall 2009 but not in Spring 2010." can be solved by knowing the answer to the following sub-question "Find the id of instructors who taught a class in Spring 2010".
The SQL query for the sub-question "Find the id of instructors who taught a class in Spring 2010" is SELECT id FROM teaches WHERE semester  =  'Spring' AND YEAR  =  2010
So, the answer to the question "Find the id of instructors who taught a class in Fall 2009 but not in Spring 2010." is =
Intermediate_representation: select teaches.ID from teaches  where  teaches.semester = \"Fall\"  and  teaches.year = 2009  and  teaches.semester != \"Spring\"  and  teaches.year = 2010
SQL: SELECT id FROM teaches WHERE semester  =  'Fall' AND YEAR  =  2009 EXCEPT SELECT id FROM teaches WHERE semester  =  'Spring' AND YEAR  =  2010

Q: "Find the name of the courses that do not have any prerequisite?"
Schema_links: [course.title,course.course_id]
A: Let's think step by step. "Find the name of the courses that do not have any prerequisite?" can be solved by knowing the answer to the following sub-question "What are the courses that have any prerequisite?".
The SQL query for the sub-question "What are the courses that have any prerequisite?" is SELECT course_id FROM prereq
So, the answer to the question "Find the name of the courses that do not have any prerequisite?" is =
Intermediate_representation: select course.title from course  where  @.@ not in prereq.course_id
SQL: SELECT title FROM course WHERE course_id NOT IN (SELECT course_id FROM prereq)

Q: "Find the salaries of all distinct instructors that are less than the largest salary."
Schema_links: [instructor.salary]
A: Let's think step by step. "Find the salaries of all distinct instructors that are less than the largest salary." can be solved by knowing the answer to the following sub-question "What is the largest salary of instructors".
The SQL query for the sub-question "What is the largest salary of instructors" is SELECT max(salary) FROM instructor
So, the answer to the question "Find the salaries of all distinct instructors that are less than the largest salary." is =
Intermediate_representation: select  distinct instructor.salary from instructor  where  @.@ < max ( instructor.salary )
SQL: SELECT DISTINCT salary FROM instructor WHERE salary  <  (SELECT max(salary) FROM instructor)

Q: "Find the names of students who have taken any course in the fall semester of year 2003."
Schema_links: [student.id,student.name,takes.id,takes.semester,fall,2003]
A: Let's think step by step. "Find the names of students who have taken any course in the fall semester of year 2003." can be solved by knowing the answer to the following sub-question "Find the students who have taken any course in the fall semester of year 2003.".
The SQL query for the sub-question "Find the students who have taken any course in the fall semester of year 2003." is SELECT id FROM takes WHERE semester  =  'Fall' AND YEAR  =  2003
So, the answer to the question "Find the names of students who have taken any course in the fall semester of year 2003." is =
Intermediate_representation: select student.name from student  where  takes.semester = \"Fall\"  and  takes.year = 2003
SQL: SELECT name FROM student WHERE id IN (SELECT id FROM takes WHERE semester  =  'Fall' AND YEAR  =  2003)

Q: "Find the minimum salary for the departments whose average salary is above the average payment of all instructors."
Schema_links: [instructor.salary,instructor.dept_name]
A: Let's think step by step. "Find the minimum salary for the departments whose average salary is above the average payment of all instructors." can be solved by knowing the answer to the following sub-question "What is the average payment of all instructors.".
The SQL query for the sub-question "What is the average payment of all instructors." is SELECT avg(salary) FROM instructor
So, the answer to the question "Find the minimum salary for the departments whose average salary is above the average payment of all instructors." is =
Intermediate_representation: select min(instructor.salary) , instructor.dept_name from instructor  where  avg ( instructor.salary )  > avg ( instructor.salary )   group by instructor.dept_name
SQL: SELECT min(salary) ,  dept_name FROM instructor GROUP BY dept_name HAVING avg(salary)  >  (SELECT avg(salary) FROM instructor)

Q: "What is the course title of the prerequisite of course Mobile Computing?"
Schema_links: [course.title,course.course_id = prereq.course_id,prereq.prereq_id,course.title,Mobile Computing]
A: Let's think step by step. "What is the course title of the prerequisite of course Mobile Computing?" can be solved by knowing the answer to the following sub-question "What are the ids of the prerequisite of course Mobile Computing?".
The SQL query for the sub-question "What are the ids of the prerequisite of course Mobile Computing?" is SSELECT T1.prereq_id FROM prereq AS T1 JOIN course AS T2 ON T1.course_id  =  T2.course_id WHERE T2.title  =  'Mobile Computing'
So, the answer to the question "What is the course title of the prerequisite of course Mobile Computing?" is =
Intermediate_representation: select course.title from course  where  @.@ in prereq.*  and  course.title = \"Mobile Computing\"
SQL: SELECT title FROM course WHERE course_id IN (SELECT T1.prereq_id FROM prereq AS T1 JOIN course AS T2 ON T1.course_id  =  T2.course_id WHERE T2.title  =  'Mobile Computing')

Q: "Give the title and credits for the course that is taught in the classroom with the greatest capacity."
Schema_links: [classroom.capacity,classroom.building = SECTION.building,classroom.room_number = SECTION.room_number,course.title,course.credits,course.course_id = SECTION.course_id]
A: Let's think step by step. "Give the title and credits for the course that is taught in the classroom with the greatest capacity." can be solved by knowing the answer to the following sub-question "What is the capacity of the largest room?".
The SQL query for the sub-question "What is the capacity of the largest room?" is (SELECT max(capacity) FROM classroom)
So, the answer to the question "Give the title and credits for the course that is taught in the classroom with the greatest capacity." is =
Intermediate_representation: select course.title , course.credits from classroom  order by classroom.capacity desc limit 1"
SQL: SELECT T3.title ,  T3.credits FROM classroom AS T1 JOIN SECTION AS T2 ON T1.building  =  T2.building AND T1.room_number  =  T2.room_number JOIN course AS T3 ON T2.course_id  =  T3.course_id WHERE T1.capacity  =  (SELECT max(capacity) FROM classroom)

'''
#----------------------------------------------------------------------------------------------------------

# Paths for input and output
DATASET_SCHEMA = "/content/drive/MyDrive/Colab Notebooks/spider/tables.json"
DATASET = "/content/drive/MyDrive/Colab Notebooks/spider/dev.json"
OUTPUT_FILE = "./predicted_sql.txt"

API_KEY = '*****'
os.environ["OPENAI_API_KEY"] = API_KEY
openai.api_key = os.getenv("OPENAI_API_KEY")


def load_data(DATASET):
    return pd.read_json(DATASET)

def hard_prompt_maker(test_sample_text,database,schema_links,sub_questions):
  instruction = "# Use the intermediate representation and the schema links to generate the SQL queries for each of the questions.\n"
  fields = find_fields_MYSQL_like("college_2")
  fields += "Foreign_keys = " + find_foreign_keys_MYSQL_like("college_2") + '\n'
  fields += find_fields_MYSQL_like(database)
  fields += "Foreign_keys = " + find_foreign_keys_MYSQL_like(database) + '\n'
  stepping = f'''\nA: Let's think step by step. "{test_sample_text}" can be solved by knowing the answer to the following sub-question "{sub_questions}".'''
  fields += "\n"
  prompt = instruction +fields + hard_prompt + 'Q: "' + test_sample_text + '"' + '\nschema_links: ' + schema_links + stepping +'\nThe SQL query for the sub-question"'
  return promp

def medium_prompt_maker(test_sample_text,database,schema_links):
  instruction = "# Use the the schema links and Intermediate_representation to generate the SQL queries for each of the questions.\n"
  fields = find_fields_MYSQL_like("college_2")
  fields += "Foreign_keys = " + find_foreign_keys_MYSQL_like("college_2") + '\n'
  fields += find_fields_MYSQL_like(database)
  fields += "Foreign_keys = " + find_foreign_keys_MYSQL_like(database) + '\n'
  fields += "\n"
  prompt = instruction +fields + medium_prompt + 'Q: "' + test_sample_text + '\nSchema_links: ' + schema_links + '\nA: Let’s think step by step.'
  return prompt

def easy_prompt_maker(test_sample_text,database,schema_links):
  instruction = "# Use the the schema links to generate the SQL queries for each of the questions.\n"
  fields = find_fields_MYSQL_like("college_2")
  fields += find_fields_MYSQL_like(database)
  fields += "\n"
  prompt = instruction +fields + easy_prompt + 'Q: "' + test_sample_text + '\nSchema_links: ' + schema_links + '\nSQL:'
  return prompt

def classification_prompt_maker(test_sample_text,database,schema_links):
  instruction = "# For the given question, classify it as EASY, NON-NESTED, or NESTED based on nested queries and JOIN.\n"
  instruction += "\nif need nested queries: predict NESTED\n"
  instruction += "elif need JOIN and don't need nested queries: predict NON-NESTED\n"
  instruction += "elif don't need JOIN and don't need nested queries: predict EASY\n\n"
  fields = find_fields_MYSQL_like("college_2")
  fields += "Foreign_keys = " + find_foreign_keys_MYSQL_like("college_2") + '\n'
  fields += find_fields_MYSQL_like(database)
  fields += "Foreign_keys = " + find_foreign_keys_MYSQL_like(database) + '\n'
  fields += "\n"
  prompt = instruction + fields + classification_prompt + 'Q: "' + test_sample_text + '\nschema_links: ' + schema_links + '\nA: Let’s think step by step.'
  return prompt

def schema_linking_prompt_maker(test_sample_text,database):
  instruction = "# Find the schema_links for generating SQL queries for each question based on the database schema and Foreign keys.\n"
  fields = find_fields_MYSQL_like(database)
  foreign_keys = "Foreign_keys = " + find_foreign_keys_MYSQL_like(database) + '\n'
  prompt = instruction + schema_linking_prompt + fields +foreign_keys+ 'Q: "' + test_sample_text + """"\nA: Let’s think step by step."""
  return prompt

def find_foreign_keys_MYSQL_like(db_name):
  df = spider_foreign[spider_foreign['Database name'] == db_name]
  output = "["
  for index, row in df.iterrows():
    output += row['First Table Name'] + '.' + row['First Table Foreign Key'] + " = " + row['Second Table Name'] + '.' + row['Second Table Foreign Key'] + ','
  output= output[:-1] + "]"
  return output

def find_fields_MYSQL_like(db_name):
  df = spider_schema[spider_schema['Database name'] == db_name]
  df = df.groupby(' Table Name')
  output = ""
  for name, group in df:
    output += "Table " +name+ ', columns = ['
    for index, row in group.iterrows():
      output += row[" Field Name"]+','
    output = output[:-1]
    output += "]\n"
  return output
def find_primary_keys_MYSQL_like(db_name):
  df = spider_primary[spider_primary['Database name'] == db_name]
  output = "["
  for index, row in df.iterrows():
    output += row['Table Name'] + '.' + row['Primary Key'] +','
  output = output[:-1]
  output += "]\n"
  return output

def creatiing_schema(DATASET_JSON):
    schema_df = pd.read_json(DATASET_JSON)
    schema_df = schema_df.drop(['column_names','table_names'], axis=1)
    schema = []
    f_keys = []
    p_keys = []
    for index, row in schema_df.iterrows():
        tables = row['table_names_original']
        col_names = row['column_names_original']
        col_types = row['column_types']
        foreign_keys = row['foreign_keys']
        primary_keys = row['primary_keys']
        for col, col_type in zip(col_names, col_types):
            index, col_name = col
            if index == -1:
                for table in tables:
                    schema.append([row['db_id'], table, '*', 'text'])
            else:
                schema.append([row['db_id'], tables[index], col_name, col_type])
        for primary_key in primary_keys:
            index, column = col_names[primary_key]
            p_keys.append([row['db_id'], tables[index], column])
        for foreign_key in foreign_keys:
            first, second = foreign_key
            first_index, first_column = col_names[first]
            second_index, second_column = col_names[second]
            f_keys.append([row['db_id'], tables[first_index], tables[second_index], first_column, second_column])
    spider_schema = pd.DataFrame(schema, columns=['Database name', ' Table Name', ' Field Name', ' Type'])
    spider_primary = pd.DataFrame(p_keys, columns=['Database name', 'Table Name', 'Primary Key'])
    spider_foreign = pd.DataFrame(f_keys,
                        columns=['Database name', 'First Table Name', 'Second Table Name', 'First Table Foreign Key',
                                 'Second Table Foreign Key'])
    return spider_schema,spider_primary,spider_foreign

def debuger(test_sample_text,database,sql):
  instruction = """#### For the given question, use the provided tables, columns, foreign keys, and primary keys to fix the given SQLite SQL QUERY for any issues. If there are any problems, fix them. If there are no issues, return the SQLite SQL QUERY as is.
#### Use the following instructions for fixing the SQL QUERY:
1) Use the database values that are explicitly mentioned in the question.
2) Pay attention to the columns that are used for the JOIN by using the Foreign_keys.
3) Use DESC and DISTINCT when needed.
4) Pay attention to the columns that are used for the GROUP BY statement.
5) Pay attention to the columns that are used for the SELECT statement.
6) Only change the GROUP BY clause when necessary (Avoid redundant columns in GROUP BY).
7) Use GROUP BY on one column only.

"""
  fields = find_fields_MYSQL_like(database)
  fields += "Foreign_keys = " + find_foreign_keys_MYSQL_like(database) + '\n'
  fields += "Primary_keys = " + find_primary_keys_MYSQL_like(database)
  prompt = instruction + fields+ '#### Question: ' + test_sample_text + '\n#### SQLite SQL QUERY\n' + sql +'\n#### SQLite FIXED SQL QUERY\nSELECT'
  return prompt
def GPT4_generation(prompt):
  response = openai.ChatCompletion.create(
    model="gpt-4",
    messages=[{"role": "user", "content": prompt}],
    n = 1,
    stream = False,
    temperature=0.0,
    max_tokens=600,
    top_p = 1.0,
    frequency_penalty=0.0,
    presence_penalty=0.0,
    stop = ["Q:"]
  )
  return response['choices'][0]['message']['content']

def GPT4_debug(prompt):
  response = openai.ChatCompletion.create(
    model="gpt-4",
    messages=[{"role": "user", "content": prompt}],
    n = 1,
    stream = False,
    temperature=0.0,
    max_tokens=350,
    top_p = 1.0,
    frequency_penalty=0.0,
    presence_penalty=0.0,
    stop = ["#", ";","\n\n"]
  )
  return response['choices'][0]['message']['content']

if __name__ == '__main__':
    spider_schema,spider_primary,spider_foreign = creatiing_schema(DATASET_SCHEMA)
    val_df = load_data(DATASET)
    print(f"Number of data samples {val_df.shape[0]}")
    CODEX = []
    for index, row in val_df.iterrows():
        #if index < 405: continue #for testing
        print(f"index is {index}")
        print(row['query'])
        print(row['question'])
        schema_links = None
        while schema_links is None:
            try:
                schema_links = GPT4_generation(
                    schema_linking_prompt_maker(row['question'], row['db_id']))
            except:
                time.sleep(3)
                pass
        try:
            schema_links = schema_links.split("Schema_links: ")[1]
        except:
            print("Slicing error for the schema_linking module")
            schema_links = "[]"
        #print(schema_links)
        classification = None
        while classification is None:
            try:
                classification = GPT4_generation(
                    classification_prompt_maker(row['question'], row['db_id'], schema_links[1:]))
            except:
                time.sleep(3)
                pass
        try:
            predicted_class = classification.split("Label: ")[1]
        except:
            print("Slicing error for the classification module")
            predicted_class = '"NESTED"'
        #print(classification)
        if '"EASY"' in predicted_class:
            print("EASY")
            SQL = None
            while SQL is None:
                try:
                    SQL = GPT4_generation(easy_prompt_maker(row['question'], row['db_id'], schema_links))
                except:
                    time.sleep(3)
                    pass
        elif '"NON-NESTED"' in predicted_class:
            print("NON-NESTED")
            SQL = None
            while SQL is None:
                try:
                    SQL = GPT4_generation(medium_prompt_maker(row['question'], row['db_id'], schema_links))
                except:
                    time.sleep(3)
                    pass
            try:
                SQL = SQL.split("SQL: ")[1]
            except:
                print("SQL slicing error")
                SQL = "SELECT"
        else:
            sub_questions = classification.split('questions = ["')[1].split('"]')[0]
            print("NESTED")
            SQL = None
            while SQL is None:
                try:
                    SQL = GPT4_generation(
                        hard_prompt_maker(row['question'], row['db_id'], schema_links, sub_questions))
                except:
                    time.sleep(3)
                    pass
            try:
                SQL = SQL.split("SQL: ")[1]
            except:
                print("SQL slicing error")
                SQL = "SELECT"
        print(SQL)
        debugged_SQL = None
        while debugged_SQL is None:
            try:
                debugged_SQL = GPT4_debug(debuger(row['question'], row['db_id'], SQL)).replace("\n", " ")
            except:
                time.sleep(3)
                pass
        SQL = "SELECT " + debugged_SQL
        print(SQL)
        CODEX.append([row['question'], SQL, row['query'], row['db_id']])
        #break
    df = pd.DataFrame(CODEX, columns=['NLQ', 'PREDICTED SQL', 'GOLD SQL', 'DATABASE'])
    results = df['PREDICTED SQL'].tolist()
    with open(OUTPUT_FILE, 'w') as f:
        for line in results:
            f.write(f"{line}\n")

Number of data samples 1034
index is 0
SELECT count(*) FROM singer
How many singers do we have?
EASY
SELECT COUNT(*) FROM singer
SELECT COUNT(*) FROM singer
index is 1
SELECT count(*) FROM singer
What is the total number of singers?
EASY
SELECT COUNT(*) FROM singer
SELECT COUNT(*) FROM singer
index is 2
SELECT name ,  country ,  age FROM singer ORDER BY age DESC
Show name, country, age for all singers ordered by age from the oldest to the youngest.

KeyboardInterrupt:

# **Zero-Shot Promting (GPT 3.5 Turbo)**

In this part we just check Zero-shot prompting (We didn't give any resonable result, so we don't used this technique)

In [ ]:
import pandas as pd
import time
import openai
import os
import json

# Set your OpenAI API key
API_KEY = '****'
os.environ["OPENAI_API_KEY"] = API_KEY
openai.api_key = os.getenv("OPENAI_API_KEY")

# Paths for input and output
DATASET_SCHEMA = "/content/drive/MyDrive/Colab Notebooks/data_usage/dev_tables.json"
DATASET = "/content/drive/MyDrive/Colab Notebooks/data_usage/sampled_dev.json"
OUTPUT_FILE = "./predicted_sql.txt"

In [ ]:
def load_data(dataset_path):
    return pd.read_json(dataset_path)

def create_schema_prompts(schema_json_path, db_id):
    with open(schema_json_path, 'r') as f:
        schema_json = json.load(f)

    schema_prompts = ""
    for db in schema_json:
        if db['db_id'] == db_id:
            tables = []
            foreign_keys = []

            for table in db['table_names_original']:
                col_list = [col[1] for col in db['column_names_original'] if col[0] == db['table_names_original'].index(table)]
                tables.append(f"Table {table}, columns = [{', '.join(col_list)}]")

            for fk in db['foreign_keys']:
                print(f"Foreign key structure: {fk}")  # Debug statement
                if len(fk) == 4:
                    first_table_index = fk[0]
                    first_column_index = fk[1]
                    second_table_index = fk[2]
                    second_column_index = fk[3]
                    first_table = db['table_names_original'][first_table_index]
                    first_column = db['column_names_original'][first_column_index][1]
                    second_table = db['table_names_original'][second_table_index]
                    second_column = db['column_names_original'][second_column_index][1]
                    foreign_keys.append(f"{first_table}.{first_column} = {second_table}.{second_column}")
                else:
                    print(f"Unexpected foreign key structure: {fk}")

            schema_prompts += "\n".join(tables) + "\nForeign_keys = [" + ", ".join(foreign_keys) + "]\n"
            break

    print(f"Schema prompts for db_id {db_id}:\n{schema_prompts}\n")  # Debug statement
    return schema_prompts

def generate_sql(question, schema_prompts):
    prompt = f"""
    You are a helpful assistant that produces SQL Queries from the given question and related samples. You should output a SQL query that is syntactically correct and can be executed without error. In the input, you will receive the question and similar text-to-sql pairs. Please output in the following format so it would be easy to extract SQL query:
    ```sql
    SELECT T2.name,  count(*) FROM exhibition AS T1 JOIN artist AS T2 ON T1.artist_id  =  T2.artist_id GROUP BY T1.artist_id;
    ```

    Question: {question}
    {schema_prompts}
    SQL:
    """

    response = openai.ChatCompletion.create(
        model="gpt-3.5-turbo",
        messages=[{"role": "system", "content": "You are a SQL expert."},
                  {"role": "user", "content": prompt}],
        max_tokens=150,
        n=1,
        stop=["```"],
        temperature=0.0
    )

    return response['choices'][0]['message']['content'].strip()

if __name__ == '__main__':
    # Load the dataset
    val_df = load_data(DATASET)
    print(f"Number of data samples: {val_df.shape[0]}")

    results = []
    for index, row in val_df.head(10).iterrows():  # Limiting to the first 10 samples for initial testing
        question = row['question']
        db_id = row['db_id']
        print(f"Processing index {index}: {question}")

        schema_prompts = create_schema_prompts(DATASET_SCHEMA, db_id)

        sql_query = None
        while sql_query is None or sql_query.strip() == "":
            try:
                sql_query = generate_sql(question, schema_prompts)
            except Exception as e:
                print(f"Error generating SQL query: {e}")
                time.sleep(3)
                pass

        results.append([question, sql_query, row['query'], row['db_id']])
        print(f"Generated SQL: {sql_query}\n")

    # Save the results to a file
    with open(OUTPUT_FILE, 'w') as f:
        for result in results:
            f.write(f"{result[1]}\n")

    # Save results in a DataFrame for further analysis if needed
    df = pd.DataFrame(results, columns=['NLQ', 'PREDICTED SQL', 'GOLD SQL', 'DATABASE'])
    df.to_csv('results.csv', index=False)

Number of data samples: 300
Processing index 0: Find the name of the sailors who reserved boat with id 103.
Foreign key structure: [9, 5]
Unexpected foreign key structure: [9, 5]
Foreign key structure: [8, 1]
Unexpected foreign key structure: [8, 1]
Schema prompts for db_id boat_1:
Table Sailors, columns = [sid, name, rating, age]
Table Boats, columns = [bid, name, color]
Table Reserves, columns = [sid, bid, day]
Foreign_keys = []

# **Few-Shot Promting - GPT-3.5 Turbo**
The main result of our project here.

after run the script ther result saved in a `.txt` file then test it using https://github.com/taoyds/test-suite-sql-eval script.

In [ ]:
import pandas as pd
import time
import openai
import os
import json

# Set your OpenAI API key
API_KEY = '******'
os.environ["OPENAI_API_KEY"] = API_KEY
openai.api_key = os.getenv("OPENAI_API_KEY")

# Paths for input and output
DATASET_SCHEMA = "/content/drive/MyDrive/Colab Notebooks/data_usage/dev_tables.json"
DATASET = "/content/drive/MyDrive/Colab Notebooks/data_usage/sampled_dev.json"
OUTPUT_FILE = "./predicted_sql.txt"

def load_data(DATASET):
    return pd.read_json(DATASET)

def hard_prompt_maker(test_sample_text, database, schema_links, sub_questions):
    instruction = "# Use the intermediate representation and the schema links to generate the SQL queries for each of the questions.\n"
    fields = find_fields_MYSQL_like(database)
    fields += "Foreign_keys = " + find_foreign_keys_MYSQL_like(database) + '\n'
    stepping = f'''\nA: Let's think step by step. "{test_sample_text}" can be solved by knowing the answer to the following sub-question "{sub_questions}".'''
    fields += "\n"
    prompt = instruction + fields + hard_prompt + 'Q: "' + test_sample_text + '"' + '\nschema_links: ' + schema_links + stepping + '\nThe SQL query for the sub-question'
    return prompt

def medium_prompt_maker(test_sample_text, database, schema_links):
    instruction = "# Use the schema links and Intermediate_representation to generate the SQL queries for each of the questions.\n"
    fields = find_fields_MYSQL_like(database)
    fields += "Foreign_keys = " + find_foreign_keys_MYSQL_like(database) + '\n'
    fields += "\n"
    prompt = instruction + fields + medium_prompt + 'Q: "' + test_sample_text + '\nSchema_links: ' + schema_links + '\nA: Let’s think step by step.'
    return prompt

def easy_prompt_maker(test_sample_text, database, schema_links):
    instruction = "# Use the schema links to generate the SQL queries for each of the questions.\n"
    fields = find_fields_MYSQL_like(database)
    fields += "\n"
    prompt = instruction + fields + easy_prompt + 'Q: "' + test_sample_text + '\nSchema_links: ' + schema_links + '\nSQL:'
    return prompt

def classification_prompt_maker(test_sample_text, database, schema_links):
    instruction = "# For the given question, classify it as EASY, NON-NESTED, or NESTED based on nested queries and JOIN.\n"
    instruction += "\nif need nested queries: predict NESTED\n"
    instruction += "elif need JOIN and don't need nested queries: predict NON-NESTED\n"
    instruction += "elif don't need JOIN and don't need nested queries: predict EASY\n\n"
    fields = find_fields_MYSQL_like(database)
    fields += "Foreign_keys = " + find_foreign_keys_MYSQL_like(database) + '\n'
    fields += "\n"
    prompt = instruction + fields + classification_prompt + 'Q: "' + test_sample_text + '\nschema_links: ' + schema_links + '\nA: Let’s think step by step.'
    return prompt

def schema_linking_prompt_maker(test_sample_text, database):
    instruction = "# Find the schema_links for generating SQL queries for each question based on the database schema and Foreign keys.\n"
    fields = find_fields_MYSQL_like(database)
    foreign_keys = "Foreign_keys = " + find_foreign_keys_MYSQL_like(database) + '\n'
    prompt = instruction + schema_linking_prompt + fields + foreign_keys + 'Q: "' + test_sample_text + """"\nA: Let’s think step by step."""
    return prompt

def find_foreign_keys_MYSQL_like(db_name):
    df = spider_foreign[spider_foreign['Database name'] == db_name]
    output = "["
    for index, row in df.iterrows():
        output += row['First Table Name'] + '.' + row['First Table Foreign Key'] + " = " + row['Second Table Name'] + '.' + row['Second Table Foreign Key'] + ','
    output = output[:-1] + "]"
    return output

def find_fields_MYSQL_like(db_name):
    df = spider_schema[spider_schema['Database name'] == db_name]
    df = df.groupby(' Table Name')
    output = ""
    for name, group in df:
        output += "Table " + name + ', columns = ['
        for index, row in group.iterrows():
            output += row[" Field Name"] + ','
        output = output[:-1]
        output += "]\n"
    return output

def find_primary_keys_MYSQL_like(db_name):
    df = spider_primary[spider_primary['Database name'] == db_name]
    output = "["
    for index, row in df.iterrows():
        output += row['Table Name'] + '.' + row['Primary Key'] + ','
    output = output[:-1]
    output += "]\n"
    return output

def creating_schema(DATASET_JSON):
    schema_df = pd.read_json(DATASET_JSON)
    schema_df = schema_df.drop(['column_names', 'table_names'], axis=1)
    schema = []
    f_keys = []
    p_keys = []
    for index, row in schema_df.iterrows():
        tables = row['table_names_original']
        col_names = row['column_names_original']
        col_types = row['column_types']
        foreign_keys = row['foreign_keys']
        primary_keys = row['primary_keys']
        for col, col_type in zip(col_names, col_types):
            index, col_name = col
            if index == -1:
                for table in tables:
                    schema.append([row['db_id'], table, '*', 'text'])
            else:
                schema.append([row['db_id'], tables[index], col_name, col_type])
        for primary_key in primary_keys:
            index, column = col_names[primary_key]
            p_keys.append([row['db_id'], tables[index], column])
        for foreign_key in foreign_keys:
            first, second = foreign_key
            first_index, first_column = col_names[first]
            second_index, second_column = col_names[second]
            f_keys.append([row['db_id'], tables[first_index], tables[second_index], first_column, second_column])
    spider_schema = pd.DataFrame(schema, columns=['Database name', ' Table Name', ' Field Name', ' Type'])
    spider_primary = pd.DataFrame(p_keys, columns=['Database name', 'Table Name', 'Primary Key'])
    spider_foreign = pd.DataFrame(f_keys,
                                  columns=['Database name', 'First Table Name', 'Second Table Name', 'First Table Foreign Key',
                                           'Second Table Foreign Key'])
    return spider_schema, spider_primary, spider_foreign

def debuger(test_sample_text, database, sql):
    instruction = """#### For the given question, use the provided tables, columns, foreign keys, and primary keys to fix the given SQLite SQL QUERY for any issues. If there are any problems, fix them. If there are no issues, return the SQLite SQL QUERY as is.
#### Use the following instructions for fixing the SQL QUERY:
1) Use the database values that are explicitly mentioned in the question.
2) Pay attention to the columns that are used for the JOIN by using the Foreign_keys.
3) Use DESC and DISTINCT when needed.
4) Pay attention to the columns that are used for the GROUP BY statement.
5) Pay attention to the columns that are used for the SELECT statement.
6) Only change the GROUP BY clause when necessary (Avoid redundant columns in GROUP BY).
7) Use GROUP BY on one column only.

"""
    fields = find_fields_MYSQL_like(database)
    fields += "Foreign_keys = " + find_foreign_keys_MYSQL_like(database) + '\n'
    fields += "Primary_keys = " + find_primary_keys_MYSQL_like(database)
    prompt = instruction + fields + '#### Question: ' + test_sample_text + '\n#### SQLite SQL QUERY\n' + sql + '\n#### SQLite FIXED SQL QUERY\nSELECT'
    return prompt

def GPT4_generation(prompt):
    try:
        response = openai.ChatCompletion.create(
            model="gpt-3.5-turbo",
            messages=[{"role": "user", "content": prompt}],
            n=1,
            stream=False,
            temperature=0.0,
            max_tokens=600,
            top_p=1.0,
            frequency_penalty=0.0,
            presence_penalty=0.0,
            stop=["Q:"]
        )
        return response['choices'][0]['message']['content']
    except Exception as e:
        print(f"Error during GPT-3.5-turbo call: {e}")
        return None

def GPT4_debug(prompt):
    try:
        response = openai.ChatCompletion.create(
            model="gpt-3.5-turbo",
            messages=[{"role": "user", "content": prompt}],
            n=1,
            stream=False,
            temperature=0.0,
            max_tokens=350,
            top_p=1.0,
            frequency_penalty=0.0,
            presence_penalty=0.0,
            stop=["#", ";", "\n\n"]
        )
        return response['choices'][0]['message']['content']
    except Exception as e:
        print(f"Error during GPT-3.5-turbo debug call: {e}")
        return None

if __name__ == '__main__':
    spider_schema, spider_primary, spider_foreign = creating_schema(DATASET_SCHEMA)
    val_df = load_data(DATASET)
    print(f"Number of data samples {val_df.shape[0]}")
    CODEX = []

    for index, row in val_df.iterrows():
        print(f"Processing index {index}")
        print(row['query'])
        print(row['question'])

        schema_links = None
        while schema_links is None:
            try:
                schema_links = GPT4_generation(schema_linking_prompt_maker(row['question'], row['db_id']))
            except Exception as e:
                print(f"Error getting schema links for index {index}: {e}")
                time.sleep(3)

        try:
            schema_links = schema_links.split("Schema_links: ")[1]
        except Exception as e:
            print(f"Slicing error for the schema_linking module at index {index}: {e}")
            schema_links = "[]"

        classification = None
        while classification is None:
            try:
                classification = GPT4_generation(classification_prompt_maker(row['question'], row['db_id'], schema_links[1:]))
            except Exception as e:
                print(f"Error during classification at index {index}: {e}")
                time.sleep(3)

        try:
            predicted_class = classification.split("Label: ")[1]
        except Exception as e:
            print(f"Slicing error for the classification module at index {index}: {e}")
            predicted_class = '"NESTED"'

        if '"EASY"' in predicted_class:
            print("EASY")
            SQL = None
            while SQL is None:
                try:
                    SQL = GPT4_generation(easy_prompt_maker(row['question'], row['db_id'], schema_links))
                except Exception as e:
                    print(f"Error generating easy SQL at index {index}: {e}")
                    time.sleep(10)

        elif '"NON-NESTED"' in predicted_class:
            print("NON-NESTED")
            SQL = None
            while SQL is None:
                try:
                    SQL = GPT4_generation(medium_prompt_maker(row['question'], row['db_id'], schema_links))
                except Exception as e:
                    print(f"Error generating medium SQL at index {index}: {e}")
                    time.sleep(10)

            try:
                SQL = SQL.split("SQL: ")[1]
            except Exception as e:
                print(f"SQL slicing error at index {index}: {e}")
                SQL = "SELECT"
        else:
            try:
                sub_questions = classification.split('questions = ["')[1].split('"]')[0]
            except Exception as e:
                print(f"Sub-questions slicing error at index {index}: {e}")
                sub_questions = ""

            print("NESTED")
            SQL = None
            while SQL is None:
                try:
                    SQL = GPT4_generation(hard_prompt_maker(row['question'], row['db_id'], schema_links, sub_questions))
                except Exception as e:
                    print(f"Error generating hard SQL at index {index}: {e}")
                    time.sleep(10)

            try:
                SQL = SQL.split("SQL: ")[1]
            except Exception as e:
                print(f"SQL slicing error at index {index}: {e}")
                SQL = "SELECT"

        print(SQL)
        debugged_SQL = None
        while debugged_SQL is None:
            try:
                debugged_SQL = GPT4_debug(debuger(row['question'], row['db_id'], SQL)).replace("\n", " ")
            except Exception as e:
                print(f"Error during SQL debugging at index {index}: {e}")
                time.sleep(3)

        SQL = "SELECT " + debugged_SQL
        print(SQL)
        CODEX.append([row['question'], SQL, row['query'], row['db_id']])

    df = pd.DataFrame(CODEX, columns=['NLQ', 'PREDICTED SQL', 'GOLD SQL', 'DATABASE'])
    results = df['PREDICTED SQL'].tolist()
    with open(OUTPUT_FILE, 'w') as f:
        for line in results:
            f.write(f"{line}\n")

Number of data samples 300
Processing index 0
SELECT DISTINCT T1.name FROM Sailors AS T1 JOIN Reserves AS T2 ON T1.sid  =  T2.sid WHERE  T2.bid  =  103
Find the name of the sailors who reserved boat with id 103.
NON-NESTED
SELECT T1.name FROM Sailors AS T1 WHERE T1.sid IN (SELECT T2.sid FROM Reserves AS T2 WHERE T2.bid = 103)
SELECT  T1.name  FROM Sailors AS T1  JOIN Reserves AS T2 ON T1.sid = T2.sid WHERE T2.bid = 103
Processing index 1
SELECT T1.name FROM Sailors AS T1 JOIN Reserves AS T2 ON T1.sid  =  T2.sid JOIN Boats AS T3 ON T3.bid  =  T2.bid WHERE T3.name  =  'Melon'
What are the names of sailors who reserved a boat with the name Melon?
NON-NESTED
SELECT T1.name FROM Sailors AS T1 JOIN Reserves AS T2 ON T1.sid = T2.sid JOIN Boats AS T3 ON T2.bid = T3.bid WHERE T3.name = 'Melon'
SELECT  T1.name  FROM Sailors AS T1  JOIN Reserves AS T2 ON T1.sid = T2.sid  JOIN Boats AS T3 ON T2.bid = T3.bid  WHERE T3.name = 'Melon'
Processing index 2
SELECT avg(Units_sold_Millions) FROM game AS T1 JOIN game_player AS T2 ON T1.Game_ID  =  T2.Game_ID JOIN player AS T3 ON T2.Player_ID  =  T3.Player_ID WHERE T3.Position  =  "Guard"
What is the average number of units sold in millions of games played by players with position "Guard"?
NON-NESTED
SELECT AVG(T1.Units_sold_Millions) FROM game AS T1 JOIN game_player AS T2 ON T1.Game_ID = T2.Game_ID JOIN player AS T3 ON T2.Player_ID = T3.Player_ID WHERE T3.Position = 'Guard'
SELECT  AVG(T1.Units_sold_Millions)  FROM game AS T1  JOIN game_player AS T2 ON T1.Game_ID = T2.Game_ID  JOIN player AS T3 ON T2.Player_ID = T3.Player_ID  WHERE T3.Position = 'Guard'
Processing index 3
SELECT DISTINCT T4.Collection_Name FROM Collection_Subset_Members AS T1 JOIN Collection_Subset_Members AS T2 ON T1.Related_Collection_ID = T2.Collection_ID JOIN Collections AS T3 ON T1.Collection_ID = T3.Collection_ID JOIN Collections AS T4 ON T2.Collection_ID = T4.Collection_ID WHERE T3.Collection_Name = "Best";
What are the names of the collections that are related to the collection named Best?
NON-NESTED
SELECT T1.Collection_Name FROM Collections AS T1 JOIN Collection_Subsets AS T2 ON T1.Collection_ID = T2.Related_Collection_ID WHERE T2.Collection_Subset_Name = 'Best'
SELECT  T1.Collection_Name  FROM Collections AS T1  JOIN Collection_Subsets AS T2 ON T1.Collection_ID = T2.Related_Collection_ID  WHERE T2.Collection_Subset_Name = 'Best'
Processing index 4
SELECT analytical_layer_type_code FROM analytical_layer GROUP BY analytical_layer_type_code ORDER BY count(*) DESC LIMIT 1
Find the analytical layer type code that appears most often.
EASY
SELECT Analytical_Layer_Type_Code FROM Analytical_Layer GROUP BY Analytical_Layer_Type_Code ORDER BY COUNT(Analytical_Layer_Type_Code) DESC LIMIT 1
SELECT Analytical_Layer_Type_Code FROM Analytical_Layer GROUP BY Analytical_Layer_Type_Code ORDER BY COUNT(*) DESC LIMIT 1
Processing index 5
SELECT Nationality ,  COUNT(*) FROM customer GROUP BY Nationality
How many customers are associated with each nationality? List the nationality and the number of customers.
EASY
SELECT Nationality, COUNT(Customer_ID) FROM customer GROUP BY Nationality
SELECT  Nationality, COUNT(Customer_ID) FROM customer GROUP BY Nationality
Processing index 6
SELECT T1.customer_id ,  T2.customer_name ,  T2.customer_phone ,  T2.customer_email FROM Customer_orders AS T1 JOIN Customers AS T2 ON T1.customer_id  =  T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
Give the id, name, phone, and email corresponding to the customer who made the most orders.
NON-NESTED
SELECT T1.customer_id ,  T1.customer_name ,  T1.customer_phone ,  T1.customer_email FROM Customers AS T1 WHERE T1.customer_id = (SELECT customer_id FROM Customer_Orders GROUP BY customer_id ORDER BY count(order_id) DESC LIMIT 1)
SELECT T1.customer_id, T1.customer_name, T1.customer_phone, T1.customer_email  FROM Customers AS T1  WHERE T1.customer_id = (     SELECT customer_id      FROM Customer_Orders      GROUP BY customer_id      ORDER BY COUNT(order_id) DESC      LIMIT 1 )
Processing index 7
SELECT name FROM staff WHERE age  >  (SELECT avg(age) FROM staff)
Show all staff name who are above the average age.
EASY
SELECT name FROM staff WHERE Age > (SELECT AVG(Age) FROM staff)
SELECT  name  FROM staff  WHERE Age > (SELECT AVG(Age) FROM staff)
Processing index 8
SELECT T1.invoice_id ,  T2.invoice_status ,  T2.invoice_details FROM Payments AS T1 JOIN Invoices AS T2 ON T1.invoice_id  =  T2.invoice_id GROUP BY T1.invoice_id ORDER BY count(*) DESC LIMIT 1
What is the invoice id, status code, and details for the invoice with most number of payments.
NON-NESTED
SELECT T1.invoice_id, T1.invoice_status, T1.invoice_details FROM Invoices AS T1 JOIN Payments AS T2 ON T1.invoice_id = T2.invoice_id GROUP BY T1.invoice_id, T1.invoice_status, T1.invoice_details ORDER BY COUNT(T2.invoice_id) DESC LIMIT 1
SELECT  T1.invoice_id, T1.invoice_status, T1.invoice_details  FROM Invoices AS T1  JOIN Payments AS T2 ON T1.invoice_id = T2.invoice_id  GROUP BY T1.invoice_id, T1.invoice_status, T1.invoice_details  ORDER BY COUNT(T2.payment_id) DESC  LIMIT 1
Processing index 9
SELECT product_name FROM Products WHERE product_price  >  (SELECT avg(product_price) FROM Products)
Show all product names with price higher than the average.
EASY
SELECT product_name FROM Products WHERE product_price > (SELECT AVG(product_price) FROM Products)
SELECT  product_name  FROM Products  WHERE product_price > (SELECT AVG(product_price) FROM Products)
Processing index 10
SELECT sum(T1.Weight) FROM PACKAGE AS T1 JOIN Client AS T2 ON T1.Sender  =  T2.AccountNumber WHERE T2.Name  =  "Leo Wong";
What is the total weight for all packages that Leo Wong sent?
NON-NESTED
SELECT SUM(T1.Weight) FROM Package AS T1 JOIN Client AS T2 ON T1.Sender = T2.AccountNumber WHERE T2.Name = 'Leo Wong'
SELECT  SUM(T1.Weight)  FROM Package AS T1  JOIN Client AS T2 ON T1.Sender = T2.AccountNumber  WHERE T2.Name = 'Leo Wong'
Processing index 11
SELECT pilot_name ,  age FROM pilotskills WHERE plane_name  =  'Piper Cub' AND age  >  35 UNION SELECT pilot_name ,  age FROM pilotskills WHERE plane_name  =  'F-14 Fighter' AND age  <  30
Return the names and ages of pilors who have flown Piper Cub and are older than 35, or have flown the F-14 Fighter and are younger than 30.
NON-NESTED

```
SELECT pilot_name, age
FROM PilotSkills
JOIN Hangar ON PilotSkills.plane_name = Hangar.plane_name
WHERE (PilotSkills.plane_name = 'Piper Cub' AND age > 35)
OR (PilotSkills.plane_name = 'F-14 Fighter' AND age < 30)
```
SELECT  pilot_name, age  FROM PilotSkills  JOIN Hangar ON PilotSkills.plane_name = Hangar.plane_name  WHERE (PilotSkills.plane_name = 'Piper Cub' AND age > 35)  OR (PilotSkills.plane_name = 'F-14 Fighter' AND age < 30)
Processing index 12
SELECT client_id FROM Invoices GROUP BY client_id HAVING count(*)  >=  2
What are client ids for clients with at least 2 invoices.
NON-NESTED
SELECT client_id FROM Invoices GROUP BY client_id HAVING COUNT(*) >= 2
SELECT  client_id  FROM Invoices  GROUP BY client_id  HAVING COUNT(*) >= 2
Processing index 13
SELECT DISTINCT T1.Document_Subset_Name FROM Document_Subsets AS T1 JOIN Document_Subset_Members AS T2 ON T1.Document_Subset_ID =  T2.Document_Subset_ID JOIN Document_Objects AS T3 ON T2.Document_Object_ID  =  T3.Document_Object_ID WHERE T3.owner  =  'Braeden'
Which unique subset does document owned by Braeden belong to? List the subset name.
NON-NESTED
SELECT DISTINCT T3.Collection_Subset_Name FROM Document_Objects AS T1 JOIN Document_Subset_Members AS T2 ON T1.Document_Object_ID = T2.Document_Object_ID JOIN Document_Subsets AS T3 ON T2.Document_Subset_ID = T3.Document_Subset_ID WHERE T1.Owner = 'Braeden'
SELECT  DISTINCT T3.Collection_Subset_Name  FROM Document_Objects AS T1  JOIN Document_Subset_Members AS T2 ON T1.Document_Object_ID = T2.Document_Object_ID  JOIN Document_Subsets AS T3 ON T2.Document_Subset_ID = T3.Document_Subset_ID  WHERE T1.Owner = 'Braeden'
Processing index 14
SELECT avg(distance) FROM Direct_distance AS T1 JOIN City AS T2 ON T1.city1_code  =  T2.city_code WHERE T2.city_name  =  "Boston"
What is the average distance between Boston and all other cities.
NON-NESTED
SELECT AVG(T1.distance) FROM Direct_distance AS T1 WHERE T1.city1_code = (SELECT T2.city_code FROM City AS T2 WHERE T2.city_name = 'Boston')
SELECT  AVG(T1.distance)  FROM Direct_distance AS T1  JOIN City AS T2 ON T1.city2_code = T2.city_code JOIN City AS T3 ON T1.city1_code = T3.city_code WHERE T3.city_name = 'Boston'
Processing index 15
SELECT count(DISTINCT T1.code) FROM movies AS T1 JOIN movietheaters AS T2 ON T1.code  =  T2.movie
How many distinct movies are on in theaters?
NON-NESTED
SELECT count(DISTINCT T1.Title) FROM Movies AS T1 JOIN MovieTheaters AS T2 ON T1.Code = T2.Movie
SELECT  count(DISTINCT T1.Title) FROM Movies AS T1 JOIN MovieTheaters AS T2 ON T1.Code = T2.Movie
Processing index 16
SELECT T2.age_category_code FROM Ref_User_Categories AS T1 JOIN Users AS T2 ON T1.user_category_code  =  T2.user_category_code WHERE T1.User_category_description LIKE "%Mother";
For users whose description contain the string 'Mother', which age categories are they in?
NON-NESTED
SELECT DISTINCT T1.user_id ,  T2.age_category_code FROM Users AS T1 JOIN Ref_Age_Categories AS T2 ON T1.other_user_details LIKE '%Mother%'
SELECT  T2.age_category_code  FROM Users AS T1  JOIN Ref_Age_Categories AS T2 ON T1.age_category_code = T2.age_category_code WHERE T1.other_user_details LIKE '%Mother%'
Processing index 17
SELECT isbn ,  count(*) FROM Books_Order GROUP BY isbn
What are all isbns for each book, and how many times has each been ordered?
NON-NESTED
SELECT T1.ISBN , SUM(T2.amount) FROM Book AS T1 JOIN Books_Order AS T2 ON T1.ISBN = T2.ISBN GROUP BY T1.ISBN
SELECT  T1.ISBN, SUM(T2.amount)  FROM Book AS T1  JOIN Books_Order AS T2 ON T1.ISBN = T2.ISBN  GROUP BY T1.ISBN
Processing index 18
SELECT T1.pilot_name FROM pilotskills AS T1 JOIN hangar AS T2 ON T1.plane_name  =  T2.plane_name WHERE T2.location  =  "Austin" INTERSECT SELECT T1.pilot_name FROM pilotskills AS T1 JOIN hangar AS T2 ON T1.plane_name  =  T2.plane_name WHERE T2.LOCATION  =  "Boston"
What are the names of pilots who have planes in both Austin and Boston?
NESTED
SELECT pilot_name FROM PilotSkills WHERE plane_name IN (SELECT plane_name FROM Hangar WHERE location = 'Austin') AND plane_name IN (SELECT plane_name FROM Hangar WHERE location = 'Boston')
SELECT  pilot_name  FROM PilotSkills  WHERE plane_name IN (SELECT plane_name FROM Hangar WHERE location = 'Austin')  AND pilot_name IN (SELECT pilot_name FROM PilotSkills WHERE plane_name IN (SELECT plane_name FROM Hangar WHERE location = 'Boston'))
Processing index 19
SELECT t1.name ,  t1.gender FROM author AS t1 JOIN book AS t2 ON t1.author_id  =  t2.author_id GROUP BY t2.author_id ORDER BY count(*) DESC LIMIT 1
Who wrote the largest number of books? Give me the author name and gender.
NON-NESTED
SELECT T1.Name ,  T1.Gender FROM author AS T1 JOIN book AS T2 ON T1.Author_ID  =  T2.Author_ID GROUP BY T1.Name, T1.Gender ORDER BY COUNT(T2.Book_ID) DESC LIMIT 1
SELECT  T1.Name, T1.Gender  FROM author AS T1  JOIN book AS T2 ON T1.Author_ID = T2.Author_ID  GROUP BY T1.Name, T1.Gender  ORDER BY COUNT(T2.Book_ID) DESC  LIMIT 1
Processing index 20
SELECT 	count(DISTINCT T1.pilot_name) FROM pilotskills AS T1 JOIN hangar AS T2 ON T1.plane_name  =  T2.plane_name WHERE T2.location  =  'Chicago'
Count the number of pilots who have planes in Chicago.
NON-NESTED
SELECT count(DISTINCT T1.pilot_name) FROM PilotSkills AS T1 JOIN Hangar AS T2 ON T1.plane_name = T2.plane_name WHERE T2.location = 'Chicago'
SELECT  count(DISTINCT T1.pilot_name) FROM PilotSkills AS T1 JOIN Hangar AS T2 ON T1.plane_name = T2.plane_name WHERE T2.location = 'Chicago' GROUP BY T1.pilot_name
Processing index 21
SELECT t1.customer_details FROM customers AS t1 JOIN customers_and_services AS t2 ON t1.customer_id  =  t2.customer_id GROUP BY t1.customer_details ORDER BY count(*) DESC LIMIT 1
Find the details of the customer who has used services the most times.
NON-NESTED
SELECT Customer_Details FROM Customers WHERE Customer_ID = (SELECT Customer_ID FROM Customer_Interactions GROUP BY Customer_ID ORDER BY COUNT(*) DESC LIMIT 1)
SELECT  Customer_Details  FROM Customers  WHERE Customer_ID = (     SELECT Customer_ID      FROM Customer_Interactions      GROUP BY Customer_ID      ORDER BY COUNT(*) DESC      LIMIT 1 )
Processing index 22
SELECT T3.CustomerId FROM goods AS T1 JOIN items AS T2 ON T1.id  =  T2.item JOIN receipts AS T3 ON T2.receipt  =  T3.ReceiptNumber GROUP BY T3.CustomerId HAVING avg(T1.price)  >  5
What are the ids of customers who spend more than 5 on average for each good?
NON-NESTED
SELECT DISTINCT T1.Id FROM customers AS T1 JOIN receipts AS T2 ON T1.Id = T2.CustomerId JOIN items AS T3 ON T2.ReceiptNumber = T3.Receipt JOIN goods AS T4 ON T3.Item = T4.Id GROUP BY T1.Id HAVING AVG(T4.Price) > 5
SELECT  T1.Id  FROM customers AS T1  JOIN receipts AS T2 ON T1.Id = T2.CustomerId  JOIN items AS T3 ON T2.ReceiptNumber = T3.Receipt  JOIN goods AS T4 ON T3.Item = T4.Id  GROUP BY T1.Id  HAVING AVG(T4.Price) > 5
Processing index 23
SELECT product_name FROM Products EXCEPT SELECT T1.product_name FROM Products AS t1 JOIN Order_items AS T2 ON T1.product_id  =  T2.product_id
Show all product names without an order.
NON-NESTED
SELECT product_name FROM Products LEFT JOIN Order_Items ON Products.product_id = Order_Items.product_id WHERE Order_Items.product_id IS NULL
SELECT  product_name  FROM Products  LEFT JOIN Order_Items ON Products.product_id = Order_Items.product_id  WHERE Order_Items.product_id IS NULL
Processing index 24
select document_object_id , count(*) from document_subset_members group by document_object_id having count(*) between 2 and 4;
Which document has between 2 and 4 number of documents ? List the document id and the number of related documents .
EASY
SELECT Document_Object_ID, COUNT(Related_Document_Object_ID) AS Number_of_Related_Documents
FROM Document_Subset_Members
GROUP BY Document_Object_ID
HAVING COUNT(Related_Document_Object_ID) BETWEEN 2 AND 4
SELECT  Document_Object_ID, COUNT(Related_Document_Object_ID) AS Number_of_Related_Documents FROM Document_Subset_Members GROUP BY Document_Object_ID HAVING COUNT(Related_Document_Object_ID) BETWEEN 2 AND 4
Processing index 25
SELECT T1.detention_type_code ,  T2.detention_type_description FROM Detention AS T1 JOIN Ref_Detention_Type AS T2 ON T1.detention_type_code  =  T2.detention_type_code GROUP BY T1.detention_type_code ORDER BY count(*) ASC LIMIT 1
Give me the type code and description of the least common detention type.
NON-NESTED
SELECT T1.detention_type_code ,  T2.detention_type_description FROM Detention AS T1 JOIN Ref_Detention_Type AS T2 ON T1.detention_type_code  =  T2.detention_type_code GROUP BY T1.detention_type_code, T2.detention_type_description ORDER BY COUNT(*) ASC LIMIT 1
SELECT  T1.detention_type_code, T2.detention_type_description  FROM Detention AS T1  JOIN Ref_Detention_Type AS T2 ON T1.detention_type_code = T2.detention_type_code  GROUP BY T1.detention_type_code, T2.detention_type_description  ORDER BY COUNT(*)  LIMIT 1
Processing index 26
SELECT Student_Answer_Text FROM Student_Answers GROUP BY Student_Answer_Text ORDER BY COUNT(*) DESC
List all the student answer texts in descending order of count.
EASY
SELECT Student_Answer_Text, COUNT(*) AS count FROM Student_Answers GROUP BY Student_Answer_Text ORDER BY count DESC
SELECT  Student_Answer_Text, COUNT(*) AS count  FROM Student_Answers  GROUP BY Student_Answer_Text  ORDER BY count DESC
Processing index 27
SELECT Collection_Name FROM Collections EXCEPT SELECT T2.Collection_Name FROM Collections AS T1 JOIN Collections AS T2 ON T1.Parent_Collection_ID = T2.Collection_ID;
Which collection is not the parent of other collection? List the collection's name.
EASY
SELECT Collection_Name
FROM Collections
WHERE Collection_ID NOT IN (SELECT DISTINCT Parent_Collection_ID FROM Collections)
SELECT  Collection_Name  FROM Collections  WHERE Collection_ID NOT IN (SELECT DISTINCT Parent_Collection_ID FROM Collections)
Processing index 28
SELECT T1.Name ,  T2.Dish_Name FROM customer AS T1 JOIN customer_order AS T2 ON T1.Customer_ID  =  T2.Customer_ID
For each order, return the customer name and the dish name.
NON-NESTED
SELECT T2.Name ,  T1.Dish_Name FROM customer_order AS T1 JOIN customer AS T2 ON T1.Customer_ID  =  T2.Customer_ID
SELECT  T2.Name, T1.Dish_Name  FROM customer_order AS T1  JOIN customer AS T2 ON T1.Customer_ID = T2.Customer_ID
Processing index 29
SELECT T1.lname ,  T1.fname FROM artists AS T1 JOIN paintings AS T2 ON T1.artistID  =  T2.painterID EXCEPT SELECT T3.lname ,  T3.fname FROM artists AS T3 JOIN sculptures AS T4 ON T3.artistID  =  T4.sculptorID
What are the first and last names of the artists who did not sculpt but could paint.
NON-NESTED
SELECT fname, lname FROM Artists WHERE artistID NOT IN (SELECT sculptorID FROM Sculptures) AND artistID IN (SELECT painterID FROM Paintings)
SELECT  fname, lname  FROM Artists  WHERE artistID IN (SELECT painterID FROM Paintings) AND artistID NOT IN (SELECT sculptorID FROM Sculptures)
Processing index 30
SELECT T2.Email_Adress ,  T1.Date_of_Answer FROM Student_Answers AS T1 JOIN Students AS T2 ON T1.Student_ID  =  T2.Student_ID ORDER BY T1.Date_of_Answer DESC
For each student answer, find the email address of the student and the date of the answer. Sort them in descending order of dates.
NON-NESTED
SELECT T1.Email_Address ,  T2.Date_of_Answer FROM Students AS T1 JOIN Student_Answers AS T2 ON T1.Student_ID  =  T2.Student_ID ORDER BY T2.Date_of_Answer DESC
SELECT  T1.Email_Address, T2.Date_of_Answer  FROM Students AS T1  JOIN Student_Answers AS T2 ON T1.Student_ID = T2.Student_ID  ORDER BY T2.Date_of_Answer DESC
Processing index 31
SELECT T2.Transmitter ,  COUNT(*) FROM city_channel_radio AS T1 JOIN radio AS T2 ON T1.Radio_ID  =  T2.Radio_ID GROUP BY T2.Transmitter
Show the transmitters of the radios and the number of city channels they are associated with.
NON-NESTED
SELECT T1.Transmitter , COUNT(T2.ID) FROM radio AS T1 JOIN city_channel_radio AS T2 ON T1.Radio_ID = T2.Radio_ID GROUP BY T1.Transmitter
SELECT  T1.Transmitter, COUNT(T2.City_channel_ID)  FROM radio AS T1  JOIN city_channel_radio AS T2 ON T1.Radio_ID = T2.Radio_ID  GROUP BY T1.Transmitter
Processing index 32
SELECT count(T1.pilot_name) ,  avg(T1.age) ,  T2.location FROM pilotskills AS T1 JOIN hangar AS T2 ON T1.plane_name  =  T2.plane_name GROUP BY T2.location
For each city, find the number and average age of pilots who have a plane.
NON-NESTED
SELECT T1.location, COUNT(T2.pilot_name), AVG(T2.age) FROM Hangar AS T1 JOIN PilotSkills AS T2 ON T1.plane_name = T2.plane_name GROUP BY T1.location
SELECT  T1.location, COUNT(DISTINCT T2.pilot_name), AVG(T2.age)  FROM Hangar AS T1  JOIN PilotSkills AS T2 ON T1.plane_name = T2.plane_name  GROUP BY T1.location
Processing index 33
SELECT T3.name FROM Paper AS T1 JOIN Author_list AS T2 ON T1.paper_id  =  T2.paper_id JOIN Affiliation AS T3 ON T2.affiliation_id  =  T3.affiliation_id WHERE T1.year  =  2009 GROUP BY T2.affiliation_id ORDER BY count(*) DESC LIMIT 3
Which 3 affiliations had the most papers in 2009?
NON-NESTED
SELECT T1.name , COUNT(T3.paper_id) AS paper_count FROM Affiliation AS T1 JOIN Author_list AS T2 ON T1.affiliation_id = T2.affiliation_id JOIN Paper AS T3 ON T2.paper_id = T3.paper_id WHERE T3.year = 2009 GROUP BY T1.name ORDER BY paper_count DESC LIMIT 3
SELECT  T1.name , COUNT(T3.paper_id) AS paper_count  FROM Affiliation AS T1  JOIN Author_list AS T2 ON T1.affiliation_id = T2.affiliation_id  JOIN Paper AS T3 ON T2.paper_id = T3.paper_id  WHERE T3.year = 2009  GROUP BY T1.affiliation_id  ORDER BY paper_count DESC  LIMIT 3
Processing index 34

In [ ]:
df.to_csv("./result-gpt-3.5-turbo.csv")

# Few Shot Prompting - **Mistral** api

In this part we used `Mistral api` but the result was very bad and we don't report results in our **Final Report**.

In [ ]:
! pip install mistralai

Collecting mistralai
  Downloading mistralai-0.4.2-py3-none-any.whl (20 kB)
Collecting httpx<1,>=0.25 (from mistralai)
  Downloading httpx-0.27.0-py3-none-any.whl (75 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 75.6/75.6 kB 3.0 MB/s eta 0:00:00
Collecting orjson<3.11,>=3.9.10 (from mistralai)
  Downloading orjson-3.10.6-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (141 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 141.1/141.1 kB 7.5 MB/s eta 0:00:00
Requirement already satisfied: pydantic<3,>=2.5.2 in /usr/local/lib/python3.10/dist-packages (from mistralai) (2.8.2)
Requirement already satisfied: anyio in /usr/local/lib/python3.10/dist-packages (from httpx<1,>=0.25->mistralai) (3.7.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from httpx<1,>=0.25->mistralai) (2024.7.4)
Collecting httpcore==1.* (from httpx<1,>=0.25->mistralai)
  Downloading httpcore-1.0.5-py3-none-any.whl (77 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.9/77.9 kB 7.9 MB/s eta 0:00:00
Requirement already satisfied: idna in /usr/local/lib/python3.10/dist-packages (from httpx<1,>=0.25->mistralai) (3.7)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from httpx<1,>=0.25->mistralai) (1.3.1)
Collecting h11<0.15,>=0.13 (from httpcore==1.*->httpx<1,>=0.25->mistralai)
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 7.1 MB/s eta 0:00:00
Requirement already satisfied: annotated-types>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=2.5.2->mistralai) (0.7.0)
Requirement already satisfied: pydantic-core==2.20.1 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=2.5.2->mistralai) (2.20.1)
Requirement already satisfied: typing-extensions>=4.6.1 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=2.5.2->mistralai) (4.12.2)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio->httpx<1,>=0.25->mistralai) (1.2.2)
Installing collected packages: orjson, h11, httpcore, httpx, mistralai
Successfully installed h11-0.14.0 httpcore-1.0.5 httpx-0.27.0 mistralai-0.4.2 orjson-3.10.6

**Sample Test**

In [ ]:
from mistralai.client import MistralClient
from mistralai.models.chat_completion import ChatMessage
import os

api_key = os.getenv("****")
if not api_key:
    raise ValueError("MISTRAL_API_KEY is not set in environment variables.")

model = "mistral-large-latest"

client = MistralClient(api_key=api_key)

try:
    chat_response = client.chat(
        model=model,
        messages=[ChatMessage(role="user", content="Write a SQL query to find the names of customers from the 'Orders' table in the 'Sales' database who ordered more than 5 units of any product after January 1, 2022. The table includes columns for order_id, customer_name, product_name, quantity, and order_date.")]
    )
    # Directly accessing the content of the response
    if chat_response.choices:
        print(chat_response.choices[0].message.content)
    else:
        print("No response received.")
except Exception as e:
    print(f"An error occurred: {e}")

Sure, here's a SQL query that should give you the desired result:

```sql
USE Sales;

SELECT customer_name
FROM Orders
WHERE order_date > '2022-01-01'
GROUP BY customer_name, product_name
HAVING SUM(quantity) > 5;
```

This query first selects the 'Sales' database. Then it selects the 'customer_name' from the 'Orders' table where the 'order_date' is after January 1, 2022. It groups the results by 'customer_name' and 'product_name' and only includes those groups where the sum of 'quantity' is more than 5.

**Final Test**

In [ ]:
import pandas as pd
import time
import os
from mistralai.client import MistralClient
from mistralai.models.chat_completion import ChatMessage

# Set your Mistral API key
API_KEY = '****'
os.environ["MISTRAL_API_KEY"] = API_KEY

# Initialize the Mistral Client
client = MistralClient(api_key=os.getenv("MISTRAL_API_KEY"))

# Paths for input and output
DATASET_SCHEMA = "/content/drive/MyDrive/Colab Notebooks/data_usage/dev_tables.json"
DATASET = "/content/drive/MyDrive/Colab Notebooks/data_usage/sampled_dev.json"
OUTPUT_FILE = "./predicted_sql.txt"

def load_data(DATASET):
    return pd.read_json(DATASET)

def hard_prompt_maker(test_sample_text, database, schema_links, sub_questions):
    instruction = "# Use the intermediate representation and the schema links to generate the SQL queries for each of the questions.\n"
    fields = find_fields_MYSQL_like(database)
    fields += "Foreign_keys = " + find_foreign_keys_MYSQL_like(database) + '\n'
    stepping = f'''\nA: Let's think step by step. "{test_sample_text}" can be solved by knowing the answer to the following sub-question "{sub_questions}".'''
    fields += "\n"
    prompt = instruction + fields + hard_prompt + 'Q: "' + test_sample_text + '"' + '\nschema_links: ' + schema_links + stepping + '\nThe SQL query for the sub-question'
    return prompt

def medium_prompt_maker(test_sample_text, database, schema_links):
    instruction = "# Use the schema links and Intermediate_representation to generate the SQL queries for each of the questions.\n"
    fields = find_fields_MYSQL_like(database)
    fields += "Foreign_keys = " + find_foreign_keys_MYSQL_like(database) + '\n'
    fields += "\n"
    prompt = instruction + fields + medium_prompt + 'Q: "' + test_sample_text + '\nSchema_links: ' + schema_links + '\nA: Let’s think step by step.'
    return prompt

def easy_prompt_maker(test_sample_text, database, schema_links):
    instruction = "# Use the schema links to generate the SQL queries for each of the questions.\n"
    fields = find_fields_MYSQL_like(database)
    fields += "\n"
    prompt = instruction + fields + easy_prompt + 'Q: "' + test_sample_text + '\nSchema_links: ' + schema_links + '\nSQL:'
    return prompt

def classification_prompt_maker(test_sample_text, database, schema_links):
    instruction = "# For the given question, classify it as EASY, NON-NESTED, or NESTED based on nested queries and JOIN.\n"
    instruction += "\nif need nested queries: predict NESTED\n"
    instruction += "elif need JOIN and don't need nested queries: predict NON-NESTED\n"
    instruction += "elif don't need JOIN and don't need nested queries: predict EASY\n\n"
    fields = find_fields_MYSQL_like(database)
    fields += "Foreign_keys = " + find_foreign_keys_MYSQL_like(database) + '\n'
    fields += "\n"
    prompt = instruction + fields + classification_prompt + 'Q: "' + test_sample_text + '\nschema_links: ' + schema_links + '\nA: Let’s think step by step.'
    return prompt

def schema_linking_prompt_maker(test_sample_text, database):
    instruction = "# Find the schema_links for generating SQL queries for each question based on the database schema and Foreign keys.\n"
    fields = find_fields_MYSQL_like(database)
    foreign_keys = "Foreign_keys = " + find_foreign_keys_MYSQL_like(database) + '\n'
    prompt = instruction + schema_linking_prompt + fields + foreign_keys + 'Q: "' + test_sample_text + """"\nA: Let’s think step by step."""
    return prompt

def find_foreign_keys_MYSQL_like(db_name):
    df = spider_foreign[spider_foreign['Database name'] == db_name]
    output = "["
    for index, row in df.iterrows():
        output += row['First Table Name'] + '.' + row['First Table Foreign Key'] + " = " + row['Second Table Name'] + '.' + row['Second Table Foreign Key'] + ','
    output = output[:-1] + "]"
    return output

def find_fields_MYSQL_like(db_name):
    df = spider_schema[spider_schema['Database name'] == db_name]
    df = df.groupby(' Table Name')
    output = ""
    for name, group in df:
        output += "Table " + name + ', columns = ['
        for index, row in group.iterrows():
            output += row[" Field Name"] + ','
        output = output[:-1]
        output += "]\n"
    return output

def find_primary_keys_MYSQL_like(db_name):
    df = spider_primary[spider_primary['Database name'] == db_name]
    output = "["
    for index, row in df.iterrows():
        output += row['Table Name'] + '.' + row['Primary Key'] + ','
    output = output[:-1]
    output += "]\n"
    return output

def creating_schema(DATASET_JSON):
    schema_df = pd.read_json(DATASET_JSON)
    schema_df = schema_df.drop(['column_names', 'table_names'], axis=1)
    schema = []
    f_keys = []
    p_keys = []
    for index, row in schema_df.iterrows():
        tables = row['table_names_original']
        col_names = row['column_names_original']
        col_types = row['column_types']
        foreign_keys = row['foreign_keys']
        primary_keys = row['primary_keys']
        for col, col_type in zip(col_names, col_types):
            index, col_name = col
            if index == -1:
                for table in tables:
                    schema.append([row['db_id'], table, '*', 'text'])
            else:
                schema.append([row['db_id'], tables[index], col_name, col_type])
        for primary_key in primary_keys:
            index, column = col_names[primary_key]
            p_keys.append([row['db_id'], tables[index], column])
        for foreign_key in foreign_keys:
            first, second = foreign_key
            first_index, first_column = col_names[first]
            second_index, second_column = col_names[second]
            f_keys.append([row['db_id'], tables[first_index], tables[second_index], first_column, second_column])
    spider_schema = pd.DataFrame(schema, columns=['Database name', ' Table Name', ' Field Name', ' Type'])
    spider_primary = pd.DataFrame(p_keys, columns=['Database name', 'Table Name', 'Primary Key'])
    spider_foreign = pd.DataFrame(f_keys,
                                  columns=['Database name', 'First Table Name', 'Second Table Name', 'First Table Foreign Key',
                                           'Second Table Foreign Key'])
    return spider_schema, spider_primary, spider_foreign

# Function to create prompts for Mistral (similar structure as your original functions)
def create_mistral_prompt(test_sample_text, database, schema_links):
    instruction = "Write a SQL query for the following scenario using the schema provided."
    schema_description = "Schema and foreign keys information."  # Define how you structure schema information here
    prompt = f"{instruction}\n{schema_description}\nQuestion: {test_sample_text}\nSchema Links: {schema_links}"
    return prompt

# Function to call Mistral and get the SQL generation
def mistral_sql_generation(prompt):
    try:
        chat_response = client.chat(
            model="mistral-large-latest",
            messages=[ChatMessage(role="user", content=prompt)]
        )
        if chat_response.choices:
            return chat_response.choices[0].message.content
        return "No valid response received."
    except Exception as e:
        print(f"Error during Mistral call: {e}")
        return None

if __name__ == '__main__':
    # Assuming schema and data loading functions are defined and working
    spider_schema, spider_primary, spider_foreign = creating_schema(DATASET_SCHEMA)
    val_df = load_data(DATASET)
    print(f"Number of data samples {val_df.shape[0]}")
    results = []

    for index, row in val_df.iterrows():
        print(f"Processing index {index}")
        print(row['query'])
        print(row['question'])

        prompt = create_mistral_prompt(row['question'], row['db_id'], "Your schema links here")  # Adjust how schema links are passed
        sql_prediction = mistral_sql_generation(prompt)
        print(sql_prediction)
        results.append([row['question'], sql_prediction, row['query'], row['db_id']])

    df = pd.DataFrame(results, columns=['NLQ', 'PREDICTED SQL', 'GOLD SQL', 'DATABASE'])
    with open(OUTPUT_FILE, 'w') as f:
        for line in df['PREDICTED SQL']:
            f.write(f"{line}\n")

Streaming output truncated to the last 5000 lines.
  invoices i
  INNER JOIN MaxPayments mp ON i.invoice_id = mp.invoice_id
  INNER JOIN InvoicesWithPaymentCounts ipc ON i.invoice_id = ipc.invoice_id AND ipc.payment_count = mp.max_payment_count;
```

Please replace the table names (invoices, payments) and column names (invoice_id, payment_id, status_code, details) with the appropriate ones from your schema. The query assumes that the relationships between tables are defined by invoice_id and payment_id, so you might need to adjust the join conditions depending on your schema.
Processing index 9
SELECT product_name FROM Products WHERE product_price  >  (SELECT avg(product_price) FROM Products)
Show all product names with price higher than the average.
Based on the schema you provided, the SQL query to show all product names with a price higher than the average would look like this:

```sql
SELECT product_name
FROM Products
WHERE price > (SELECT AVG(price) FROM Products);
```

This query first calculates the average price of all products in the subquery `(SELECT AVG(price) FROM Products)`. Then, it selects the names of the products from the `Products` table where the price is greater than the calculated average price.
Processing index 10
SELECT sum(T1.Weight) FROM PACKAGE AS T1 JOIN Client AS T2 ON T1.Sender  =  T2.AccountNumber WHERE T2.Name  =  "Leo Wong";
What is the total weight for all packages that Leo Wong sent?
Based on the provided schema, I'm assuming you have tables named `customer`, `package`, and `employee`. Here is a SQL query to find the total weight for all packages that Leo Wong sent:

```sql
SELECT SUM(p.weight) as total_weight
FROM package p
JOIN shipment s ON p.shipment_id = s.shipment_id
JOIN employee e ON s.employee_id = e.employee_id
JOIN customer c ON p.sender_customer_id = c.customer_id
WHERE c.name = 'Leo Wong';
```

This query first joins the `package`, `shipment`, `employee`, and `customer` tables together based on their foreign key relationships. It then filters the results to only include packages sent by Leo Wong and calculates the sum of the weights of those packages.

Please replace the table and column names with the actual ones from your schema if they are different.
Processing index 11
SELECT pilot_name ,  age FROM pilotskills WHERE plane_name  =  'Piper Cub' AND age  >  35 UNION SELECT pilot_name ,  age FROM pilotskills WHERE plane_name  =  'F-14 Fighter' AND age  <  30
Return the names and ages of pilors who have flown Piper Cub and are older than 35, or have flown the F-14 Fighter and are younger than 30.
Sure, I'd be happy to help you construct a SQL query for that scenario. However, I can't access links directly. Based on your description, I'll assume a schema that includes tables for pilots, planes, and a table to link pilots to the planes they've flown. Let's call these tables `pilots`, `planes`, and `pilot_planes`.

Here's a SQL query that should work:

```sql
SELECT pilots.name, pilots.age
FROM pilots
JOIN pilot_planes ON pilots.id = pilot_planes.pilot_id
JOIN planes ON pilot_planes.plane_id = planes.id
WHERE
  (planes.name = 'Piper Cub' AND pilots.age > 35)
  OR (planes.name = 'F-14 Fighter' AND pilots.age < 30);
```

This query will return the names and ages of pilots who have flown the 'Piper Cub' and are older than 35, or have flown the 'F-14 Fighter' and are younger than 30. Please replace the table and column names with the actual ones from your schema.
Processing index 12
SELECT client_id FROM Invoices GROUP BY client_id HAVING count(*)  >=  2
What are client ids for clients with at least 2 invoices.
Based on the information you provided, I will assume that there are two tables: `Clients` and `Invoices`. The `Invoices` table has a foreign key `client_id` that references the `Clients` table. Here's a SQL query to find the client ids for clients with at least 2 invoices:

```sql
SELECT client_id
FROM Invoices
GROUP BY client_id
HAVING COUNT(*) >= 2;
```

This query works as follows:

1. `SELECT client_id FROM Invoices`: Selects the `client_id` column from the `Invoices` table.
2. `GROUP BY client_id`: Groups the selected data by the `client_id` column.
3. `HAVING COUNT(*) >= 2`: Filters the grouped data to only include those with at least 2 invoices (rows) per `client_id`.
Processing index 13
SELECT DISTINCT T1.Document_Subset_Name FROM Document_Subsets AS T1 JOIN Document_Subset_Members AS T2 ON T1.Document_Subset_ID =  T2.Document_Subset_ID JOIN Document_Objects AS T3 ON T2.Document_Object_ID  =  T3.Document_Object_ID WHERE T3.owner  =  'Braeden'
Which unique subset does document owned by Braeden belong to? List the subset name.
I'm sorry for the inconvenience, but I'm unable to access external links or images. However, I can help you construct a SQL query based on a given schema description.

Here's a general SQL query that might help you get the information you need. Please replace the table names, column names, and values with the ones from your schema:

```sql
SELECT SubsetName
FROM Subsets
JOIN Documents ON Subsets.SubsetID = Documents.SubsetID
JOIN Owners ON Documents.OwnerID = Owners.OwnerID
WHERE Owners.OwnerName = 'Braeden';
```

In this query:

- `Subsets`, `Documents`, and `Owners` are assumed to be the table names.
- `SubsetName` is the column that contains the name of the subsets.
- `SubsetID` is the common column between `Subsets` and `Documents` tables.
- `OwnerID` is the common column between `Documents` and `Owners` tables.
- `OwnerName` is the column in the `Owners` table that contains the name of the document owners.

Please adjust the table names, column names, and values according to your schema.
Processing index 14
SELECT avg(distance) FROM Direct_distance AS T1 JOIN City AS T2 ON T1.city1_code  =  T2.city_code WHERE T2.city_name  =  "Boston"
What is the average distance between Boston and all other cities.
To answer your question, I will assume that you have two tables: `cities` and `distances`. The `cities` table contains the `city_id`, `city_name`, and other city details. The `distances` table contains the `distance_id`, `city_id_1`, `city_id_2`, and `distance` between the two cities.

Here is a SQL query to find the average distance between Boston and all other cities:

```sql
SELECT
  AVG(distance) AS average_distance
FROM
  (
    SELECT
      distance
    FROM
      cities c1
      JOIN distances d ON (c1.city_id = d.city_id_1 OR c1.city_id = d.city_id_2)
    WHERE
      c1.city_name = 'Boston'
  ) AS distances_to_from_boston;
```

This query first creates a subquery that selects the distances between Boston and all other cities. It then calculates the average distance using the `AVG()` function. Make sure to replace the table and column names if they are different in your schema.
Processing index 15
SELECT count(DISTINCT T1.code) FROM movies AS T1 JOIN movietheaters AS T2 ON T1.code  =  T2.movie
How many distinct movies are on in theaters?
Based on the information you've provided, I'll assume that there are two tables: `movies` and `theaters`. The `movies` table has a column named `movie_id` and the `theaters` table has a column named `movie_id` as a foreign key.

Here's a SQL query that should give you the number of distinct movies currently showing in theaters:

```sql
SELECT COUNT(DISTINCT m.movie_id) AS distinct_movies_in_theaters
FROM movies m
JOIN theaters t ON m.movie_id = t.movie_id;
```

This query joins the `movies` and `theaters` tables using the `movie_id` column, then counts the number of distinct `movie_id` values in the joined tables.
Processing index 16
SELECT T2.age_category_code FROM Ref_User_Categories AS T1 JOIN Users AS T2 ON T1.user_category_code  =  T2.user_category_code WHERE T1.User_category_description LIKE "%Mother";
For users whose description contain the string 'Mother', which age categories are they in?
Sure, I'd be happy to help you write a SQL query for that scenario. However, as I can't directly access links or images, I'll need you to provide a brief description of the schema.

Assuming you have a `Users` table with columns `description` and `age`, and an `AgeCategories` table with columns `age` and `category`, here's a basic query that might suit your needs:

```sql
SELECT AgeCategories.category
FROM Users
JOIN AgeCategories ON Users.age = AgeCategories.age
WHERE Users.description LIKE '%Mother%';
```

This query will return the age categories for all users whose description contains the string 'Mother'. Please replace the table and column names with the correct ones if they are different in your schema.
Processing index 17
SELECT isbn ,  count(*) FROM Books_Order GROUP BY isbn
What are all isbns for each book, and how many times has each been ordered?
Sure, I can help you write a SQL query for that scenario. However, as I can't directly access links or images, I'll assume a basic schema based on your description.

Let's assume you have two tables: `Books` and `Orders`. The `Books` table has an `isbn` column, and the `Orders` table has an `isbn` column as a foreign key referencing the `Books` table.

Here's a basic SQL query that should give you the desired result:

```sql
SELECT
    Books.isbn,
    COUNT(Orders.isbn) AS order_count
FROM
    Books
LEFT JOIN
    Orders ON Books.isbn = Orders.isbn
GROUP BY
    Books.isbn;
```

This query will return each ISBN from the `Books` table along with the number of times it appears in the `Orders` table, which corresponds to the number of times each book has been ordered. If a book has never been ordered, it will still appear in the result set with a count of 0, thanks to the LEFT JOIN.
Processing index 18
SELECT T1.pilot_name FROM pilotskills AS T1 JOIN hangar AS T2 ON T1.plane_name  =  T2.plane_name WHERE T2.location  =  "Austin" INTERSECT SELECT T1.pilot_name FROM pilotskills AS T1 JOIN hangar AS T2 ON T1.plane_name  =  T2.plane_name WHERE T2.LOCATION  =  "Boston"
What are the names of pilots who have planes in both Austin and Boston?
Based on the provided schema, I'm assuming that there are three tables: `pilots`, `planes`, and `hangars`. The `pilots` table has a `pilot_id` column, the `planes` table has a `pilot_id` foreign key referencing `pilots(pilot_id)`, and the `hangars` table has a `plane_id` foreign key referencing `planes(plane_id)` and a `city` column.

Here's a SQL query that should give you the names of pilots who have planes in both Austin and Boston:

```sql
SELECT p.name
FROM pilots p
WHERE EXISTS (
  SELECT 1
  FROM planes pl
  JOIN hangars h ON h.plane_id = pl.plane_id
  WHERE pl.pilot_id = p.pilot_id
  AND h.city IN ('Austin', 'Boston')
  GROUP BY pl.plane_id
  HAVING COUNT(DISTINCT h.city) = 2
);
```

This query first selects the `name` column from the `pilots` table. The `WHERE EXISTS` clause checks if there are any planes for the current pilot that are located in hangars in both Austin and Boston. The subquery joins the `planes` and `hangars` tables and filters for rows where the `pilot_id` matches the current pilot and the `city` is either Austin or Boston. The `GROUP BY` clause groups the results by `plane_id`, and the `HAVING` clause checks if there are two distinct cities for each `plane_id`, indicating that the plane is located in both Austin and Boston. If the subquery returns any rows for a given pilot, the pilot's name will be included in the result set.
Processing index 19
SELECT t1.name ,  t1.gender FROM author AS t1 JOIN book AS t2 ON t1.author_id  =  t2.author_id GROUP BY t2.author_id ORDER BY count(*) DESC LIMIT 1
Who wrote the largest number of books? Give me the author name and gender.
Sure, I can help you construct a SQL query for that. However, I can't access links directly. But based on your description, I'll assume you have two tables: `Authors` and `Books`. The `Authors` table has `author_id`, `name`, and `gender`, and the `Books` table has `book_id` and `author_id`.

Here's a SQL query that should give you the desired result:

```sql
SELECT a.name, a.gender
FROM Authors a
JOIN (
    SELECT author_id, COUNT(*) as book_count
    FROM Books
    GROUP BY author_id
    ORDER BY book_count DESC
    LIMIT 1
) b ON a.author_id = b.author_id;
```

This query first counts the number of books each author has written and selects the author with the highest count. Then it joins this result with the `Authors` table to get the author's name and gender. Please replace the table and column names with the actual ones in your database if they are different.
Processing index 20
SELECT 	count(DISTINCT T1.pilot_name) FROM pilotskills AS T1 JOIN hangar AS T2 ON T1.plane_name  =  T2.plane_name WHERE T2.location  =  'Chicago'
Count the number of pilots who have planes in Chicago.
Based on the schema you've provided, I'm assuming that there are three tables: `pilots`, `planes`, and `locations`. I'm also assuming that the `planes` table has a `pilot_id` column to link it to the `pilots` table, and a `location_id` column to link it to the `locations` table. Here's a SQL query that should give you the count of pilots who have planes in Chicago:

```sql
SELECT COUNT(DISTINCT p.id)
FROM pilots p
JOIN planes pl ON p.id = pl.pilot_id
JOIN locations l ON pl.location_id = l.id
WHERE l.city = 'Chicago';
```

This query joins the `pilots`, `planes`, and `locations` tables together, then counts the number of distinct pilot IDs where the location city is Chicago.
Processing index 21
SELECT t1.customer_details FROM customers AS t1 JOIN customers_and_services AS t2 ON t1.customer_id  =  t2.customer_id GROUP BY t1.customer_details ORDER BY count(*) DESC LIMIT 1
Find the details of the customer who has used services the most times.
Based on the information provided, I will assume that the schema consists of two tables: `Customers` and `Services`. The `Services` table has a foreign key `customer_id` that references the `id` column in the `Customers` table.

Here's the SQL query to find the details of the customer who has used services the most times:

```sql
SELECT c.id, c.name, COUNT(s.id) AS service_count
FROM Customers c
JOIN Services s ON c.id = s.customer_id
GROUP BY c.id, c.name
ORDER BY service_count DESC
LIMIT 1;
```

In this query, we join the `Customers` and `Services` tables using the foreign key relationship. We then group the results by customer details, count the occurrences of each customer's services, order the results in descending order based on the service count, and limit the output to the top 1 row, which represents the customer who has used services the most times.
Processing index 22
SELECT T3.CustomerId FROM goods AS T1 JOIN items AS T2 ON T1.id  =  T2.item JOIN receipts AS T3 ON T2.receipt  =  T3.ReceiptNumber GROUP BY T3.CustomerId HAVING avg(T1.price)  >  5
What are the ids of customers who spend more than 5 on average for each good?
Based on the information provided, I will assume that there are two tables: `Customers` and `Orders`. The `Orders` table contains the `customer_id`, `good_id`, and `price` columns. Here is a SQL query to get the ids of customers who spend more than 5 on average for each good:

```sql
SELECT customer_id
FROM (
  SELECT customer_id, AVG(price) as avg_spend
  FROM Orders
  GROUP BY customer_id, good_id
  HAVING AVG(price) > 5
) AS T
GROUP BY customer_id;
```

This query first calculates the average price spent by each customer on each good. Then, it filters out the records with an average spend of less than or equal to 5. Finally, it groups the results by `customer_id` to get the unique customer ids who spent more than 5 on average per good.
Processing index 23
SELECT product_name FROM Products EXCEPT SELECT T1.product_name FROM Products AS t1 JOIN Order_items AS T2 ON T1.product_id  =  T2.product_id
Show all product names without an order.
Sure, I'd be happy to help you with that. However, I can't access links directly. But based on your description, I'll assume you have two tables: `Products` and `Orders`, with a foreign key in `Orders` referencing `Products`.

Here's a SQL query that should work:

```sql
SELECT ProductName
FROM Products
WHERE ProductId NOT IN (
    SELECT ProductId
    FROM Orders
);
```

This query selects all product names from the `Products` table where the product ID is not found in the `Orders` table, effectively returning all product names without an order. Please replace `ProductId`, `ProductName`, `Products`, and `Orders` with your actual column and table names if they are different.
Processing index 24
select document_object_id , count(*) from document_subset_members group by document_object_id having count(*) between 2 and 4;
Which document has between 2 and 4 number of documents ? List the document id and the number of related documents .
Based on the information provided, I will assume that there are two tables: `documents` and `related_documents`. The `documents` table has a `document_id` column, and the `related_documents` table has `document_id` and `related_document_id` columns.

Here's a SQL query that should give the desired result:

```sql
SELECT d.document_id, COUNT(rd.related_document_id) AS related_documents_count
FROM documents d
LEFT JOIN related_documents rd ON d.document_id = rd.document_id
GROUP BY d.document_id
HAVING COUNT(rd.related_document_id) BETWEEN 2 AND 4
ORDER BY related_documents_count;
```

This query will join the `documents` and `related_documents` tables based on the `document_id` column. It will then group the results by `document_id` and count the number of related documents for each document. The `HAVING` clause filters the results to only include documents with between 2 and 4 related documents. Finally, the results are ordered by the number of related documents.
Processing index 25
SELECT T1.detention_type_code ,  T2.detention_type_description FROM Detention AS T1 JOIN Ref_Detention_Type AS T2 ON T1.detention_type_code  =  T2.detention_type_code GROUP BY T1.detention_type_code ORDER BY count(*) ASC LIMIT 1
Give me the type code and description of the least common detention type.
Based on the schema you've provided, I'll assume that there is a table named `detention_types` that contains `type_code` and `description`, and another table named `detentions` that contains `type_code` as a foreign key linking to `detention_types`. To find the type code and description of the least common detention type, you can use the following SQL query:

```sql
WITH detention_type_counts AS (
  SELECT type_code, COUNT(*) AS count
  FROM detentions
  GROUP BY type_code
)
SELECT dt.type_code, dt.description
FROM detention_types dt
LEFT JOIN detention_type_counts dtc ON dt.type_code = dtc.type_code
ORDER BY dtc.count ASC, dt.type_code ASC
LIMIT 1;
```

This query first creates a Common Table Expression (CTE) named `detention_type_counts` that calculates the number of occurrences of each `type_code` in the `detentions` table. Then, it joins the `detention_types` table with the `detention_type_counts` CTE and orders the results by the count of detention types in ascending order and `type_code` also in ascending order. Finally, it limits the results to the least common detention type by using `LIMIT 1`.
Processing index 26
SELECT Student_Answer_Text FROM Student_Answers GROUP BY Student_Answer_Text ORDER BY COUNT(*) DESC
List all the student answer texts in descending order of count.
Based on the information provided, I'll assume that there are two tables: `Students` and `Answers`. The `Answers` table has a foreign key `student_id` that references the `Students` table, and it also has a column `answer_text` that stores the student's answer text.

Here's a SQL query that retrieves all the student answer texts in descending order of count:

```sql
SELECT answer_text, COUNT(*) as answer_count
FROM Answers
GROUP BY answer_text
ORDER BY answer_count DESC;
```

This query groups the `Answers` table by `answer_text` and counts the occurrences of each unique `answer_text`. The result is then ordered in descending order based on the count of `answer_text`.

In [ ]:
import pandas as pd
import time
import os
from mistralai.client import MistralClient
from mistralai.models.chat_completion import ChatMessage

#----------------------------------------------------prompts-----------------------------------------------
schema_linking_prompt = '''Table advisor, columns = [*,s_ID,i_ID]
Table classroom, columns = [*,building,room_number,capacity]
Table course, columns = [*,course_id,title,dept_name,credits]
Table department, columns = [*,dept_name,building,budget]
Table instructor, columns = [*,ID,name,dept_name,salary]
Table prereq, columns = [*,course_id,prereq_id]
Table section, columns = [*,course_id,sec_id,semester,year,building,room_number,time_slot_id]
Table student, columns = [*,ID,name,dept_name,tot_cred]
Table takes, columns = [*,ID,course_id,sec_id,semester,year,grade]
Table teaches, columns = [*,ID,course_id,sec_id,semester,year]
Table time_slot, columns = [*,time_slot_id,day,start_hr,start_min,end_hr,end_min]
Foreign_keys = [course.dept_name = department.dept_name,instructor.dept_name = department.dept_name,section.building = classroom.building,section.room_number = classroom.room_number,section.course_id = course.course_id,teaches.ID = instructor.ID,teaches.course_id = section.course_id,teaches.sec_id = section.sec_id,teaches.semester = section.semester,teaches.year = section.year,student.dept_name = department.dept_name,takes.ID = student.ID,takes.course_id = section.course_id,takes.sec_id = section.sec_id,takes.semester = section.semester,takes.year = section.year,advisor.s_ID = student.ID,advisor.i_ID = instructor.ID,prereq.prereq_id = course.course_id,prereq.course_id = course.course_id]
Q: "Find the buildings which have rooms with capacity more than 50."
A: Let’s think step by step. In the question "Find the buildings which have rooms with capacity more than 50.", we are asked:
"the buildings which have rooms" so we need column = [classroom.capacity]
"rooms with capacity" so we need column = [classroom.building]
Based on the columns and tables, we need these Foreign_keys = [].
Based on the tables, columns, and Foreign_keys, The set of possible cell values are = [50]. So the Schema_links are:
Schema_links: [classroom.building,classroom.capacity,50]

Table department, columns = [*,Department_ID,Name,Creation,Ranking,Budget_in_Billions,Num_Employees]
Table head, columns = [*,head_ID,name,born_state,age]
Table management, columns = [*,department_ID,head_ID,temporary_acting]
Foreign_keys = [management.head_ID = head.head_ID,management.department_ID = department.Department_ID]
Q: "How many heads of the departments are older than 56 ?"
A: Let’s think step by step. In the question "How many heads of the departments are older than 56 ?", we are asked:
"How many heads of the departments" so we need column = [head.*]
"older" so we need column = [head.age]
Based on the columns and tables, we need these Foreign_keys = [].
Based on the tables, columns, and Foreign_keys, The set of possible cell values are = [56]. So the Schema_links are:
Schema_links: [head.*,head.age,56]

Table city, columns = [*,City_ID,Official_Name,Status,Area_km_2,Population,Census_Ranking]
Table competition_record, columns = [*,Competition_ID,Farm_ID,Rank]
Table farm, columns = [*,Farm_ID,Year,Total_Horses,Working_Horses,Total_Cattle,Oxen,Bulls,Cows,Pigs,Sheep_and_Goats]
Table farm_competition, columns = [*,Competition_ID,Year,Theme,Host_city_ID,Hosts]
Foreign_keys = [farm_competition.Host_city_ID = city.City_ID,competition_record.Farm_ID = farm.Farm_ID,competition_record.Competition_ID = farm_competition.Competition_ID]
Q: "Show the status shared by cities with population bigger than 1500 and smaller than 500."
A: Let’s think step by step. In the question "Show the status shared by cities with population bigger than 1500 and smaller than 500.", we are asked:
"the status shared by cities" so we need column = [city.Status]
"cities with population" so we need column = [city.Population]
Based on the columns and tables, we need these Foreign_keys = [].
Based on the tables, columns, and Foreign_keys, The set of possible cell values are = [1500,500]. So the Schema_links are:
Schema_links: [city.Status,city.Population,1500,500]

'''
classification_prompt = '''Q: "Find the buildings which have rooms with capacity more than 50."
schema_links: [classroom.building,classroom.capacity,50]
A: Let’s think step by step. The SQL query for the question "Find the buildings which have rooms with capacity more than 50." needs these tables = [classroom], so we don't need JOIN.
Plus, it doesn't require nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = [""].
So, we don't need JOIN and don't need nested queries, then the the SQL query can be classified as "EASY".
Label: "EASY"

Q: "What are the names of all instructors who advise students in the math depart sorted by total credits of the student."
schema_links: [advisor.i_id = instructor.id,advisor.s_id = student.id,instructor.name,student.dept_name,student.tot_cred,math]
A: Let’s think step by step. The SQL query for the question "What are the names of all instructors who advise students in the math depart sorted by total credits of the student." needs these tables = [advisor,instructor,student], so we need JOIN.
Plus, it doesn't need nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = [""].
So, we need JOIN and don't need nested queries, then the the SQL query can be classified as "NON-NESTED".
Label: "NON-NESTED"

Q: "How many courses that do not have prerequisite?"
schema_links: [course.*,course.course_id = prereq.course_id]
A: Let’s think step by step. The SQL query for the question "How many courses that do not have prerequisite?" needs these tables = [course,prereq], so we need JOIN.
Plus, it requires nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = ["Which courses have prerequisite?"].
So, we need JOIN and need nested queries, then the the SQL query can be classified as "NESTED".
Label: "NESTED"

Q: "Find the id of instructors who taught a class in Fall 2009 but not in Spring 2010."
schema_links: [teaches.id,teaches.semester,teaches.year,Fall,2009,Spring,2010]
A: Let’s think step by step. The SQL query for the question "Find the id of instructors who taught a class in Fall 2009 but not in Spring 2010." needs these tables = [teaches], so we don't need JOIN.
Plus, it requires nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = ["Find the id of instructors who taught a class in Spring 2010"].
So, we don't need JOIN and need nested queries, then the the SQL query can be classified as "NESTED".
Label: "NESTED"

Q: "Find the name of the department that offers the highest total credits?"
schema_links: [course.dept_name,course.credits]
A: Let’s think step by step. The SQL query for the question "Find the name of the department that offers the highest total credits?." needs these tables = [course], so we don't need JOIN.
Plus, it doesn't require nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = [""].
So, we don't need JOIN and don't need nested queries, then the the SQL query can be classified as "EASY".
Label: "EASY"

Q: "What is the name of the instructor who advises the student with the greatest number of total credits?"
schema_links: [advisor.i_id = instructor.id,advisor.s_id = student.id,instructor.name,student.tot_cred ]
A: Let’s think step by step. The SQL query for the question "What is the name of the instructor who advises the student with the greatest number of total credits?" needs these tables = [advisor,instructor,student], so we need JOIN.
Plus, it doesn't need nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = [""].
So, we need JOIN and don't need nested queries, then the the SQL query can be classified as "NON-NESTED".
Label: "NON-NESTED"
'''

easy_prompt = '''Q: "Find the buildings which have rooms with capacity more than 50."
Schema_links: [classroom.building,classroom.capacity,50]
SQL: SELECT DISTINCT building FROM classroom WHERE capacity  >  50

Q: "Find the room number of the rooms which can sit 50 to 100 students and their buildings."
Schema_links: [classroom.building,classroom.room_number,classroom.capacity,50,100]
SQL: SELECT building ,  room_number FROM classroom WHERE capacity BETWEEN 50 AND 100

Q: "Give the name of the student in the History department with the most credits."
Schema_links: [student.name,student.dept_name,student.tot_cred,History]
SQL: SELECT name FROM student WHERE dept_name  =  'History' ORDER BY tot_cred DESC LIMIT 1
'''

medium_prompt = '''Q: "Find the total budgets of the Marketing or Finance department."
Schema_links: [department.budget,department.dept_name,Marketing,Finance]
A: Let’s think step by step. For creating the SQL for the given question, we need to join these tables = []. First, create an intermediate representation, then use it to construct the SQL query.
Intermediate_representation: select sum(department.budget) from department  where  department.dept_name = \"Marketing\"  or  department.dept_name = \"Finance\"
SQL: SELECT sum(budget) FROM department WHERE dept_name  =  'Marketing' OR dept_name  =  'Finance'

Q: "Find the name and building of the department with the highest budget."
Schema_links: [department.budget,department.dept_name,department.building]
A: Let’s think step by step. For creating the SQL for the given question, we need to join these tables = []. First, create an intermediate representation, then use it to construct the SQL query.
Intermediate_representation: select department.dept_name , department.building from department  order by department.budget desc limit 1
SQL: SELECT dept_name ,  building FROM department ORDER BY budget DESC LIMIT 1

Q: "Find the total number of students and total number of instructors for each department."
Schema_links: [department.dept_name = student.dept_name,student.id,department.dept_name = instructor.dept_name,instructor.id]
A: Let’s think step by step. For creating the SQL for the given question, we need to join these tables = [department,student,instructor]. First, create an intermediate representation, then use it to construct the SQL query.
Intermediate_representation: "select count( distinct student.ID) , count( distinct instructor.ID) , department.dept_name from department  group by instructor.dept_name
SQL: SELECT count(DISTINCT T2.id) ,  count(DISTINCT T3.id) ,  T3.dept_name FROM department AS T1 JOIN student AS T2 ON T1.dept_name  =  T2.dept_name JOIN instructor AS T3 ON T1.dept_name  =  T3.dept_name GROUP BY T3.dept_name

'''

hard_prompt = '''Q: "Find the title of courses that have two prerequisites?"
Schema_links: [course.title,course.course_id = prereq.course_id]
A: Let's think step by step. "Find the title of courses that have two prerequisites?" can be solved by knowing the answer to the following sub-question "What are the titles for courses with two prerequisites?".
The SQL query for the sub-question "What are the titles for courses with two prerequisites?" is SELECT T1.title FROM course AS T1 JOIN prereq AS T2 ON T1.course_id  =  T2.course_id GROUP BY T2.course_id HAVING count(*)  =  2
So, the answer to the question "Find the title of courses that have two prerequisites?" is =
Intermediate_representation: select course.title from course  where  count ( prereq.* )  = 2  group by prereq.course_id
SQL: SELECT T1.title FROM course AS T1 JOIN prereq AS T2 ON T1.course_id  =  T2.course_id GROUP BY T2.course_id HAVING count(*)  =  2

Q: "Find the name and building of the department with the highest budget."
Schema_links: [department.dept_name,department.building,department.budget]
A: Let's think step by step. "Find the name and building of the department with the highest budget." can be solved by knowing the answer to the following sub-question "What is the department name and corresponding building for the department with the greatest budget?".
The SQL query for the sub-question "What is the department name and corresponding building for the department with the greatest budget?" is SELECT dept_name ,  building FROM department ORDER BY budget DESC LIMIT 1
So, the answer to the question "Find the name and building of the department with the highest budget." is =
Intermediate_representation: select department.dept_name , department.building from department  order by department.budget desc limit 1
SQL: SELECT dept_name ,  building FROM department ORDER BY budget DESC LIMIT 1

Q: "Find the salaries of all distinct instructors that are less than the largest salary."
Schema_links: [instructor.salary]
A: Let's think step by step. "Find the salaries of all distinct instructors that are less than the largest salary." can be solved by knowing the answer to the following sub-question "What is the largest salary of instructors".
The SQL query for the sub-question "What is the largest salary of instructors" is SELECT max(salary) FROM instructor
So, the answer to the question "Find the salaries of all distinct instructors that are less than the largest salary." is =
Intermediate_representation: select  distinct instructor.salary from instructor  where  @.@ < max ( instructor.salary )
SQL: SELECT DISTINCT salary FROM instructor WHERE salary  <  (SELECT max(salary) FROM instructor)
'''

# Set your Mistral API key
API_KEY = '*****'
os.environ["MISTRAL_API_KEY"] = API_KEY

# Initialize the Mistral Client
client = MistralClient(api_key=os.getenv("MISTRAL_API_KEY"))

# Paths for input and output
DATASET_SCHEMA = "/content/drive/MyDrive/Colab Notebooks/data_usage/dev_tables.json"
DATASET = "/content/drive/MyDrive/Colab Notebooks/data_usage/mistral_dev.json"
OUTPUT_FILE = "./predicted_sql.txt"

def load_data(DATASET):
    return pd.read_json(DATASET)

def hard_prompt_maker(test_sample_text, database, schema_links, sub_questions):
    instruction = "# Use the intermediate representation and the schema links to generate the SQL queries for each of the questions.\n"
    fields = find_fields_MYSQL_like(database)
    fields += "Foreign_keys = " + find_foreign_keys_MYSQL_like(database) + '\n'
    stepping = f'''\nA: Let's think step by step. "{test_sample_text}" can be solved by knowing the answer to the following sub-question "{sub_questions}".'''
    fields += "\n"
    prompt = instruction + fields + hard_prompt + 'Q: "' + test_sample_text + '"' + '\nschema_links: ' + schema_links + stepping + '\nThe SQL query for the sub-question'
    return prompt

def medium_prompt_maker(test_sample_text, database, schema_links):
    instruction = "# Use the schema links and Intermediate_representation to generate the SQL queries for each of the questions.\n"
    fields = find_fields_MYSQL_like(database)
    fields += "Foreign_keys = " + find_foreign_keys_MYSQL_like(database) + '\n'
    fields += "\n"
    prompt = instruction + fields + medium_prompt + 'Q: "' + test_sample_text + '\nSchema_links: ' + schema_links + '\nA: Let’s think step by step.'
    return prompt

def easy_prompt_maker(test_sample_text, database, schema_links):
    instruction = "# Use the schema links to generate the SQL queries for each of the questions.\n"
    fields = find_fields_MYSQL_like(database)
    fields += "\n"
    prompt = instruction + fields + easy_prompt + 'Q: "' + test_sample_text + '\nSchema_links: ' + schema_links + '\nSQL:'
    return prompt

def classification_prompt_maker(test_sample_text, database, schema_links):
    instruction = "# For the given question, classify it as EASY, NON-NESTED, or NESTED based on nested queries and JOIN.\n"
    instruction += "\nif need nested queries: predict NESTED\n"
    instruction += "elif need JOIN and don't need nested queries: predict NON-NESTED\n"
    instruction += "elif don't need JOIN and don't need nested queries: predict EASY\n\n"
    fields = find_fields_MYSQL_like(database)
    fields += "Foreign_keys = " + find_foreign_keys_MYSQL_like(database) + '\n'
    fields += "\n"
    prompt = instruction + fields + classification_prompt + 'Q: "' + test_sample_text + '\nschema_links: ' + schema_links + '\nA: Let’s think step by step.'
    return prompt

def schema_linking_prompt_maker(test_sample_text, database):
    instruction = "# Find the schema_links for generating SQL queries for each question based on the database schema and Foreign keys.\n"
    fields = find_fields_MYSQL_like(database)
    foreign_keys = "Foreign_keys = " + find_foreign_keys_MYSQL_like(database) + '\n'
    prompt = instruction + schema_linking_prompt + fields + foreign_keys + 'Q: "' + test_sample_text + """"\nA: Let’s think step by step."""
    return prompt

def find_foreign_keys_MYSQL_like(db_name):
    df = spider_foreign[spider_foreign['Database name'] == db_name]
    output = "["
    for index, row in df.iterrows():
        output += row['First Table Name'] + '.' + row['First Table Foreign Key'] + " = " + row['Second Table Name'] + '.' + row['Second Table Foreign Key'] + ','
    output = output[:-1] + "]"
    return output

def find_fields_MYSQL_like(db_name):
    df = spider_schema[spider_schema['Database name'] == db_name]
    df = df.groupby(' Table Name')
    output = ""
    for name, group in df:
        output += "Table " + name + ', columns = ['
        for index, row in group.iterrows():
            output += row[" Field Name"] + ','
        output = output[:-1]
        output += "]\n"
    return output

def find_primary_keys_MYSQL_like(db_name):
    df = spider_primary[spider_primary['Database name'] == db_name]
    output = "["
    for index, row in df.iterrows():
        output += row['Table Name'] + '.' + row['Primary Key'] + ','
    output = output[:-1]
    output += "]\n"
    return output

def create_schema(DATASET_JSON):
    schema_df = pd.read_json(DATASET_JSON)
    schema_df = schema_df.drop(['column_names', 'table_names'], axis=1)
    schema = []
    f_keys = []
    p_keys = []
    for index, row in schema_df.iterrows():
        tables = row['table_names_original']
        col_names = row['column_names_original']
        col_types = row['column_types']
        foreign_keys = row['foreign_keys']
        primary_keys = row['primary_keys']
        for col, col_type in zip(col_names, col_types):
            index, col_name = col
            if index == -1:
                for table in tables:
                    schema.append([row['db_id'], table, '*', 'text'])
            else:
                schema.append([row['db_id'], tables[index], col_name, col_type])
        for primary_key in primary_keys:
            index, column = col_names[primary_key]
            p_keys.append([row['db_id'], tables[index], column])
        for foreign_key in foreign_keys:
            first, second = foreign_key
            first_index, first_column = col_names[first]
            second_index, second_column = col_names[second]
            f_keys.append([row['db_id'], tables[first_index], tables[second_index], first_column, second_column])
    spider_schema = pd.DataFrame(schema, columns=['Database name', ' Table Name', ' Field Name', ' Type'])
    spider_primary = pd.DataFrame(p_keys, columns=['Database name', 'Table Name', 'Primary Key'])
    spider_foreign = pd.DataFrame(f_keys,
                                  columns=['Database name', 'First Table Name', 'Second Table Name', 'First Table Foreign Key',
                                           'Second Table Foreign Key'])
    return spider_schema, spider_primary, spider_foreign

def debuger(test_sample_text, database, sql):
    instruction = """#### For the given question, use the provided tables, columns, foreign keys, and primary keys to fix the given SQLite SQL QUERY for any issues. If there are any problems, fix them. If there are no issues, return the SQLite SQL QUERY as is.
#### Use the following instructions for fixing the SQL QUERY:
1) Use the database values that are explicitly mentioned in the question.
2) Pay attention to the columns that are used for the JOIN by using the Foreign_keys.
3) Use DESC and DISTINCT when needed.
4) Pay attention to the columns that are used for the GROUP BY statement.
5) Pay attention to the columns that are used for the SELECT statement.
6) Only change the GROUP BY clause when necessary (Avoid redundant columns in GROUP BY).
7) Use GROUP BY on one column only.

"""
    fields = find_fields_MYSQL_like(database)
    fields += "Foreign_keys = " + find_foreign_keys_MYSQL_like(database) + '\n'
    fields += "Primary_keys = " + find_primary_keys_MYSQL_like(database)
    prompt = instruction + fields + '#### Question: ' + test_sample_text + '\n#### SQLite SQL QUERY\n' + sql + '\n#### SQLite FIXED SQL QUERY\nSELECT'
    return prompt

def mistral_generation(prompt, temperature=0.0, max_tokens=600):
    try:
        chat_response = client.chat(
            model="mistral-large-latest",
            messages=[ChatMessage(role="user", content=prompt)]
        )
        if chat_response.choices:
            return chat_response.choices[0].message.content
        return "No valid response received."
    except Exception as e:
        print(f"Error during Mistral call: {e}")
        return None

if __name__ == '__main__':
    spider_schema, spider_primary, spider_foreign = create_schema(DATASET_SCHEMA)
    val_df = load_data(DATASET)
    print(f"Number of data samples {val_df.shape[0]}")
    CODEX = []

    for index, row in val_df.iterrows():
        print(f"Processing index {index}")
        print(row['query'])
        print(row['question'])

        schema_links = None
        while schema_links is None:
            try:
                schema_links = mistral_generation(schema_linking_prompt_maker(row['question'], row['db_id']))
            except Exception as e:
                print(f"Error getting schema links for index {index}: {e}")
                time.sleep(3)

        try:
            schema_links = schema_links.split("Schema_links: ")[1]
        except Exception as e:
            print(f"Slicing error for the schema_linking module at index {index}: {e}")
            schema_links = "[]"

        classification = None
        while classification is None:
            try:
                classification = mistral_generation(classification_prompt_maker(row['question'], row['db_id'], schema_links[1:]))
            except Exception as e:
                print(f"Error during classification at index {index}: {e}")
                time.sleep(3)

        try:
            predicted_class = classification.split("Label: ")[1]
        except Exception as e:
            print(f"Slicing error for the classification module at index {index}: {e}")
            predicted_class = '"NESTED"'

        if '"EASY"' in predicted_class:
            print("EASY")
            SQL = None
            while SQL is None:
                try:
                    SQL = mistral_generation(easy_prompt_maker(row['question'], row['db_id'], schema_links))
                except Exception as e:
                    print(f"Error generating easy SQL at index {index}: {e}")
                    time.sleep(10)

        elif '"NON-NESTED"' in predicted_class:
            print("NON-NESTED")
            SQL = None
            while SQL is None:
                try:
                    SQL = mistral_generation(medium_prompt_maker(row['question'], row['db_id'], schema_links))
                except Exception as e:
                    print(f"Error generating medium SQL at index {index}: {e}")
                    time.sleep(10)

            try:
                SQL = SQL.split("SQL: ")[1]
            except Exception as e:
                print(f"SQL slicing error at index {index}: {e}")
                SQL = "SELECT"
        else:
            try:
                sub_questions = classification.split('questions = ["')[1].split('"]')[0]
            except Exception as e:
                print(f"Sub-questions slicing error at index {index}: {e}")
                sub_questions = ""

            print("NESTED")
            SQL = None
            while SQL is None:
                try:
                    SQL = mistral_generation(hard_prompt_maker(row['question'], row['db_id'], schema_links, sub_questions))
                except Exception as e:
                    print(f"Error generating hard SQL at index {index}: {e}")
                    time.sleep(10)

            try:
                SQL = SQL.split("SQL: ")[1]
            except Exception as e:
                print(f"SQL slicing error at index {index}: {e}")
                SQL = "SELECT"

        print(SQL)
        debugged_SQL = None
        while debugged_SQL is None:
            try:
                debugged_SQL = mistral_generation(debuger(row['question'], row['db_id'], SQL), max_tokens=350).replace("\n", " ")
            except Exception as e:
                print(f"Error during SQL debugging at index {index}: {e}")
                time.sleep(3)

        SQL = "SELECT " + debugged_SQL
        print(SQL)
        CODEX.append([row['question'], SQL, row['query'], row['db_id']])

    df = pd.DataFrame(CODEX, columns=['NLQ', 'PREDICTED SQL', 'GOLD SQL', 'DATABASE'])
    results = df['PREDICTED SQL'].tolist()
    with open(OUTPUT_FILE, 'w') as f:
        for line in results:
            f.write(f"{line}\n")

Number of data samples 200
Processing index 0
select t2.name ,  count(*) from package as t1 join client as t2 on t1.recipient  =  t2.accountnumber group by t1.recipient order by count(*) limit 1;
What is the smallest number of packages received and by whom ?
NON-NESTED
SELECT T1.Name, count(T2.PackageNumber) FROM Client AS T1 JOIN Package AS T2 ON T1.AccountNumber = T2.Recipient GROUP BY T1.Name ORDER BY count(T2.PackageNumber) ASC LIMIT 1
SELECT The SQLite SQL QUERY provided seems to be correct according to the instructions and the information given. It is correctly joining the Client and Package tables using the foreign key relationship between Client.AccountNumber and Package.Recipient. It is also correctly grouping by the client's name and ordering by the count of packages received in ascending order to find the smallest number of packages received. The LIMIT 1 at the end ensures that only the client with the smallest number of packages received is returned.  However, to ensure that the query returns the smallest number of packages received and the name of the client who received them, it would be better to include an alias for the count column in the SELECT statement for clarity. Here is the updated query:  SELECT T1.Name, count(T2.PackageNumber) AS NumPackagesReceived FROM Client AS T1 JOIN Package AS T2 ON T1.AccountNumber = T2.Recipient GROUP BY T1.Name ORDER BY count(T2.PackageNumber) ASC LIMIT 1
Processing index 1
SELECT T2.code FROM boxes AS T1 JOIN Warehouses AS T2 ON T1.warehouse  =  T2.code GROUP BY T2.code HAVING count(*)  >  T2.capacity
What are the codes of warehouses that have more boxes than their capacity?
NESTED
SELECT Warehouses.Code FROM Warehouses LEFT JOIN Boxes ON Warehouses.Code = Boxes.Warehouse GROUP BY Warehouses.Code HAVING COUNT(Boxes.Code) > Warehouses.Capacity
SELECT The SQLite SQL QUERY you provided seems to be correct according to the instructions and the information given. It is correctly joining the tables using the foreign key, grouping by the warehouse code, and using the having clause to filter out the warehouses that have more boxes than their capacity. Here is the query:  ```sql SELECT Warehouses.Code FROM Warehouses LEFT JOIN Boxes ON Warehouses.Code = Boxes.Warehouse GROUP BY Warehouses.Code HAVING COUNT(Boxes.Code) > Warehouses.Capacity ```  This query will return the codes of warehouses that have more boxes than their capacity.
Processing index 2
SELECT T2.name ,  T2.Type_of_powertrain FROM renting_history AS T1 JOIN vehicles AS T2 ON T1.vehicles_id  =  T2.id GROUP BY T1.vehicles_id HAVING sum(T1.total_hours)  >  30
Find the name and powertrain type of the cars that rented for more than 30 total hours.
NON-NESTED
SELECT T1.name, T1.Type_of_powertrain FROM Vehicles AS T1 JOIN Renting_history AS T2 ON T1.id = T2.vehicles_id WHERE T2.total_hours > 30
SELECT The SQLite SQL QUERY you provided seems to be correct according to the instructions and the information given. It is correctly joining the 'Vehicles' and 'Renting_history' tables using the foreign key 'vehicles_id' and is correctly filtering the results to only include rows where 'total_hours' is greater than 30. However, since there is no aggregation function used, there is no need for a GROUP BY clause. Here is the SQLite SQL QUERY as is:  ```sql SELECT T1.name, T1.Type_of_powertrain FROM Vehicles AS T1 JOIN Renting_history AS T2 ON T1.id = T2.vehicles_id WHERE T2.total_hours > 30 ```
Processing index 3
SELECT DISTINCT T4.FirstName ,  T4.LastName FROM goods AS T1 JOIN items AS T2 ON T1.id  =  T2.item JOIN receipts AS T3 ON T2.receipt  =  T3.ReceiptNumber JOIN customers AS T4 ON T3.CustomerId  =  T4.id WHERE T1.flavor  =  "Apple" AND T1.food  =  "Tart"
What are the full names of customers who bought apple flavored Tarts?
NON-NESTED
SELECT T1.FirstName, T1.LastName FROM customers AS T1 JOIN receipts AS T2 ON T1.Id = T2.CustomerId JOIN items AS T3 ON T2.ReceiptNumber = T3.Receipt JOIN goods AS T4 ON T3.Item = T4.Id WHERE T4.Flavor = 'apple' AND T4.Food = 'Tarts'
SELECT The SQLite SQL QUERY you provided seems to be correct according to the instructions and the information given. It is properly joining the tables using the foreign keys and primary keys, and it is selecting the correct columns for the full name of the customers. It is also correctly filtering the results to only include customers who bought apple flavored Tarts. Here is the SQLite SQL QUERY as is:  ```sql SELECT T1.FirstName, T1.LastName FROM customers AS T1 JOIN receipts AS T2 ON T1.Id = T2.CustomerId JOIN items AS T3 ON T2.ReceiptNumber = T3.Receipt JOIN goods AS T4 ON T3.Item = T4.Id WHERE T4.Flavor = 'apple' AND T4.Food = 'Tarts' ```
Processing index 4
SELECT DISTINCT T1.name FROM Client AS T1 JOIN Orders AS T2 ON T1.idClient  =  T2.idClient
Show the names of clients who have ordered at least once.
NON-NESTED
SELECT Client.Name FROM Client JOIN Orders ON Client.IdClient = Orders.IdClient;
SELECT The SQLite SQL QUERY you provided seems to be correct according to the instructions and the information given. It is correctly joining the Client and Orders tables using the IdClient foreign key. However, to ensure that the query shows the names of clients who have ordered at least once, we can add a DISTINCT keyword to avoid duplicate names in the result. Here is the fixed SQL query:  ```sql SELECT DISTINCT Client.Name FROM Client JOIN Orders ON Client.IdClient = Orders.IdClient; ```
Processing index 5
SELECT paper_id ,  count(*) FROM Citation GROUP BY cited_paper_id ORDER BY count(*) DESC LIMIT 1
What is the id and the number of citations of the most cited paper?
NON-NESTED
"SELECT T1.paper_id, COUNT(T2.paper_id) as citations FROM Paper AS T1 LEFT JOIN Citation AS T2 ON T1.paper_id = T2.cited_paper_id GROUP BY T1.paper_id ORDER BY citations DESC LIMIT 1"
SELECT The SQLite SQL QUERY provided seems to be correct according to the instructions and the given tables, columns, foreign keys, and primary keys. It is correctly joining the Paper and Citation tables using the foreign key relationship, counting the number of citations for each paper, and grouping by the paper_id. It also correctly orders the results in descending order by the number of citations and limits the result to the top 1. Therefore, the SQLite FIXED SQL QUERY remains the same:  "SELECT T1.paper_id, COUNT(T2.paper_id) as citations FROM Paper AS T1 LEFT JOIN Citation AS T2 ON T1.paper_id = T2.cited_paper_id GROUP BY T1.paper_id ORDER BY citations DESC LIMIT 1"
Processing index 6
SELECT product_name FROM Products WHERE product_type_code  =  "Hardware" AND product_price  >  (SELECT avg(product_price) FROM Products WHERE product_type_code  =  "Hardware")
Show all hardware product names with price higher than the average price of hardware type products.
NESTED
SELECT product_name FROM Products WHERE product_type_code = 'hardware' AND product_price > (SELECT AVG(product_price) FROM Products WHERE product_type_code = 'hardware')
SELECT The SQLite SQL QUERY you provided seems to be correct for the question you've asked. It's selecting the product_name from the Products table where the product_type_code is 'hardware' and the product_price is greater than the average price of hardware products. However, I would recommend adding a GROUP BY clause to the subquery to avoid any potential issues, even though it's not necessary in this case because SQLite allows it. Here's the slightly modified query:  ```sql SELECT product_name FROM Products WHERE product_type_code = 'hardware' AND product_price > (SELECT AVG(product_price) FROM Products WHERE product_type_code = 'hardware' GROUP BY product_type_code) ```
Processing index 7
SELECT Team FROM team WHERE Team_ID NOT IN (SELECT Team_ID FROM team_driver)
List the names of teams that do not have any drivers.
NESTED
SELECT T1.Team FROM team AS T1 WHERE NOT EXISTS (SELECT * FROM team_driver AS T2 WHERE T2.Team_ID = T1.Team_ID)
SELECT The SQLite SQL QUERY you provided seems to be correct for the question you asked. It is correctly selecting the names of teams that do not have any drivers by using a subquery with the NOT EXISTS operator. Here is the query:  ```sql SELECT T1.Team FROM team AS T1 WHERE NOT EXISTS (SELECT * FROM team_driver AS T2 WHERE T2.Team_ID = T1.Team_ID) ```  This query will return the names of all teams in the 'team' table that do not have a corresponding entry in the 'team_driver' table, which would indicate that they have no drivers.
Processing index 8
SELECT analytical_layer_type_code ,  count(*) FROM analytical_layer GROUP BY analytical_layer_type_code
For each analytical layer, return the analytical layer type code and the number of times it was used.
EASY
SELECT Analytical_Layer_Type_Code, COUNT(Analytical_ID)
FROM Analytical_Layer
GROUP BY Analytical_Layer_Type_Code;

This SQL query will group the data in the Analytical_Layer table by the Analytical_Layer_Type_Code and then count the number of Analytical_IDs associated with each type. This will effectively give us the number of times each analytical layer type was used.
SELECT The SQL query provided is already correct for the given question. It will return the analytical layer type code and the number of times it was used from the Analytical_Layer table. Therefore, no changes are needed.  SELECT Analytical_Layer_Type_Code, COUNT(Analytical_ID) FROM Analytical_Layer GROUP BY Analytical_Layer_Type_Code;
Processing index 9
SELECT Collection_Name FROM Collections EXCEPT SELECT T2.Collection_Name FROM Collections AS T1 JOIN Collections AS T2 ON T1.Parent_Collection_ID = T2.Collection_ID;
What are the names of the collections that are not the parent of the other collections?
NESTED
SELECT Collections.Collection_Name FROM Collections WHERE Collections.Collection_ID NOT IN (SELECT Collections.Parent_Collection_ID FROM Collections)
SELECT The SQLite SQL QUERY provided seems to be correct for the given question. It is selecting the names of the collections where the collection ID is not in the list of parent collection IDs, which would give us the collections that are not the parent of any other collections.  However, to ensure the query is efficient and uses the correct join columns, I would suggest adding a DISTINCT keyword to avoid any duplicate collection names in the result.  Here is the fixed SQLite SQL QUERY:  ```sql SELECT DISTINCT Collections.Collection_Name FROM Collections WHERE Collections.Collection_ID NOT IN (SELECT Collections.Parent_Collection_ID FROM Collections) ```
Processing index 10
SELECT DISTINCT LOCATION FROM paintings WHERE YEAR  <  1885 INTERSECT SELECT DISTINCT LOCATION FROM paintings WHERE YEAR  >  1930
What are the locations that have works painted before 1885 and after 1930?
EASY
SELECT DISTINCT location FROM Paintings WHERE year < 1885 OR year > 1930
SELECT The SQL query you provided is almost correct, but it seems like you want to find the locations that have works painted both before 1885 and after 1930. The current query will return locations that have works painted either before 1885 or after 1930. To fix this, you can use two subqueries and the INTERSECT operator, which returns the intersection of two result sets. Here's the corrected query:  ```sql SELECT DISTINCT location FROM Paintings WHERE year < 1885 INTERSECT SELECT DISTINCT location FROM Paintings WHERE year > 1930; ```  This query will return the locations that appear in both result sets, i.e., locations that have works painted both before 1885 and after 1930.
Processing index 11
SELECT DISTINCT T1.name ,  T1.sid FROM Sailors AS T1 JOIN Reserves AS T2 ON T1.sid  =  T2.sid
What is the name and id of every sailor who reserved one or more boats?
NON-NESTED
SELECT T1.sid, T1.name FROM Sailors AS T1 JOIN Reserves AS T2 ON T1.sid = T2.sid
SELECT The SQLite SQL QUERY you provided seems to be correct according to the instructions and the information given. It is correctly joining the Sailors and Reserves tables on the sid column, and selecting the sid and name from the Sailors table. So, the SQLite FIXED SQL QUERY is:  SELECT T1.sid, T1.name FROM Sailors AS T1 JOIN Reserves AS T2 ON T1.sid = T2.sid
Processing index 12
SELECT T1.Nickname FROM championship AS T1 JOIN institution AS T2 ON T1.Institution_ID  =  T2.Institution_ID ORDER BY T2.Enrollment ASC LIMIT 1
What is the nickname of the institution with the smallest enrollment?
NON-NESTED
SELECT T1.Nickname FROM Championship AS T1 JOIN institution AS T2 ON T1.Institution_ID = T2.Institution_ID ORDER BY T2.Enrollment ASC LIMIT 1
SELECT The SQLite SQL QUERY you provided seems to be correct according to the instructions and the information given. It is correctly joining the tables using the foreign key, selecting the required column, and ordering the results by the enrollment in ascending order to find the institution with the smallest enrollment. Here is the same query:  ```sql SELECT T1.Nickname FROM Championship AS T1 JOIN institution AS T2 ON T1.Institution_ID = T2.Institution_ID ORDER BY T2.Enrollment ASC LIMIT 1 ```  This query will return the nickname of the institution with the smallest enrollment.
Processing index 13
SELECT T1.conference_name ,  T1.year ,  count(*) FROM Conference AS T1 JOIN Conference_participation AS T2 ON T1.conference_id  =  T2.conference_id GROUP BY T2.conference_id
Show the conference name and year and the number of participants for each conference.
NON-NESTED
SELECT T1.Conference_Name, T1.Year, COUNT(T2.staff_ID) FROM conference AS T1 JOIN conference_participation AS T2 ON T1.Conference_ID = T2.Conference_ID GROUP BY T1.Conference_ID
SELECT The SQL query you provided is almost correct, but the GROUP BY clause should include the same columns as in the SELECT clause that are not used in any aggregate functions. In this case, those are `T1.Conference_Name` and `T1.Year`. Here is the corrected query:  ```sql SELECT T1.Conference_Name, T1.Year, COUNT(T2.staff_ID) AS Number_of_Participants FROM conference AS T1 JOIN conference_participation AS T2 ON T1.Conference_ID = T2.Conference_ID GROUP BY T1.Conference_Name, T1.Year; ```  This query will return the name and year of each conference, along with the number of participants for each conference.
Processing index 14
SELECT T1.id ,  T1.Name ,  T1.popularity FROM participants AS T1 JOIN performance_score AS T2 ON T2.participant_id  =  T1.id GROUP BY T1.id ORDER BY count(*)
What are the ids, names and popularity of the participants, order by the number of songs they perform?
NON-NESTED
SELECT T1.id, T1.name, T1.popularity, count(T2.songs_id) FROM participants AS T1 JOIN performance_score AS T2 ON T1.id = T2.participant_id GROUP BY T1.id ORDER BY count(T2.songs_id)
SELECT The SQLite SQL QUERY provided seems to be correct according to the instructions given. It is properly joining the tables using the foreign keys, selecting the correct columns, using the count function to count the number of songs each participant has performed, grouping by the participant's id, and ordering by the count of songs. So, the SQLite FIXED SQL QUERY remains the same:  SELECT T1.id, T1.name, T1.popularity, count(T2.songs_id) FROM participants AS T1 JOIN performance_score AS T2 ON T1.id = T2.participant_id GROUP BY T1.id ORDER BY count(T2.songs_id)
Processing index 15
SELECT Founded ,  COUNT(*) FROM institution GROUP BY Founded HAVING COUNT(*)  >  1
In which years were more than one institution founded?
EASY
SELECT Founded FROM institution
GROUP BY Founded
HAVING COUNT(*) > 1
SELECT The SQLite SQL QUERY provided seems to be correct for the given question. It is correctly grouping by the 'Founded' column and using the HAVING clause to filter out the years in which more than one institution was founded. Therefore, no changes are needed.  SELECT Founded FROM institution GROUP BY Founded HAVING COUNT(*) > 1
Processing index 16
SELECT StuID FROM City AS T1 JOIN Student AS T2 ON T1.city_code  =  T2.city_code WHERE T1.state  =  "PA"  AND T2.sex  =  'F'
What are the student ids for female students in the state of PA?
NON-NESTED
SELECT T1.StuID FROM Student AS T1 JOIN City AS T2 ON T1.city_code = T2.city_code WHERE T2.state = 'PA' AND T1.Sex = 'female'
SELECT The SQLite SQL QUERY you provided seems to be correct according to the instructions and the information given. It is correctly joining the Student and City tables using the city_code foreign key, and it is correctly filtering for female students in the state of PA. Here is the SQLite SQL QUERY as is:  ```sql SELECT T1.StuID FROM Student AS T1 JOIN City AS T2 ON T1.city_code = T2.city_code WHERE T2.state = 'PA' AND T1.Sex = 'female' ```
Processing index 17
SELECT country FROM City GROUP BY country ORDER BY count(*) ASC LIMIT 1
Give the country with the fewest number of cities.
EASY
SELECT country FROM City
GROUP BY country
ORDER BY COUNT(city_code) ASC
LIMIT 1
SELECT The SQLite SQL QUERY you provided seems to be correct for the question "Give the country with the fewest number of cities". It correctly groups the cities by country and orders the results by the count of city codes (which represents the number of cities) in ascending order. The LIMIT 1 clause ensures that only the country with the fewest cities is returned.  Here is the SQLite SQL QUERY:  ```sql SELECT country FROM City GROUP BY country ORDER BY COUNT(city_code) ASC LIMIT 1; ```  This query will return the country with the fewest cities.
Processing index 18
SELECT T2.Document_Object_ID FROM Collections AS T1 JOIN Documents_in_Collections AS T2 ON T1.Collection_ID = T2.Collection_ID WHERE T1.Collection_Name = "Best";
List the document id of all documents in collection named Best.
NON-NESTED
SELECT T1.Document_Object_ID FROM Documents_in_Collections AS T1 JOIN Document_Objects AS T2 ON T1.Document_Object_ID = T2.Document_Object_ID JOIN Collections AS T3 ON T1.Collection_ID = T3.Collection_ID WHERE T3.Collection_Name = 'Best'
SELECT The SQLite SQL QUERY you provided seems to be correct according to the instructions and the information given. It is correctly joining the tables using the foreign keys and selecting the required column. Here is the SQLite SQL QUERY:  ```sql SELECT T1.Document_Object_ID FROM Documents_in_Collections AS T1 JOIN Document_Objects AS T2 ON T1.Document_Object_ID = T2.Document_Object_ID JOIN Collections AS T3 ON T1.Collection_ID = T3.Collection_ID WHERE T3.Collection_Name = 'Best' ```  This query will return the document id of all documents in the collection named 'Best'.
Processing index 19
SELECT document_id FROM Documents EXCEPT SELECT document_id FROM Documents_processes
Show all document ids without a process.
NESTED
SELECT Documents.document_id FROM Documents WHERE Documents.document_id NOT IN (SELECT Documents_Processes.document_id FROM Documents_Processes)
SELECT The SQLite SQL QUERY you provided seems to be correct for the question "Show all document ids without a process". It is selecting all document ids from the Documents table that are not present in the Documents_Processes table. Here is the SQL query:  ```sql SELECT Documents.document_id FROM Documents WHERE Documents.document_id NOT IN (     SELECT Documents_Processes.document_id     FROM Documents_Processes ) ```  This query will return all the document ids from the Documents table that do not have a corresponding record in the Documents_Processes table, effectively showing all documents without a process.
Processing index 20
SELECT amount_of_loan ,  date_of_loan FROM Student_Loans WHERE student_id IN ( SELECT student_id FROM Achievements GROUP BY student_id HAVING count(*)  >=  2 )
What are the loan amounts and loan dates of the students who have at least 2 achievements?
NESTED
SELECT T1.amount_of_loan, T1.date_of_loan FROM Student_Loans AS T1 WHERE T1.student_id IN (SELECT student_id FROM Achievements GROUP BY student_id HAVING COUNT(*) >= 2)

In [ ]:
df.to_csv("mistral.csv")